Repository ansys/pyansys-geometry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

test: create sphere bug raised after box creation (#1291)
  doc/changelog.d/1291.fixed.md
  tests/integration/test_design_import.py
  tests/integration/test_issues.py
  tests/test_sketch.py
Labels: testing

chore: adding changelog file 1300.dependencies.md
  doc/changelog.d/1300.dependencies.md
Labels: none

chore: adding changelog file 1301.dependencies.md
  doc/changelog.d/1301.dependencies.md
Labels: none

Volume extraction exposure
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/tools/__init__.py
  src/ansys/geometry/core/tools/prepare_tools.py
  tests/integration/files/hollowCylinder.dsco
  tests/integration/files/hollowCylinder.scdocx
  tests/integration/test_prepare_tools.py
Labels: none

Volume extraction exposure
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/tools/__init__.py
  src/ansys/geometry/core/tools/prepare_tools.py
Labels: none

Fix code style
  src/ansys/geometry/core/tools/prepare_tools.py
  tests/integration/test_prepare_tools.py
Labels: none

fix test
  tests/integration/files/hollowCylinder.dsco
  tests/integration/test_prepare_tools.py
Labels: none

fix typos
  src/ansys/geometry/core/tools/prepare_tools.py
Labels: none

Add geometry update if bodies created
  src/ansys/geometry/core/tools/prepare_tools.py
Labels: none

chore: adding changelog file 1306.added.md
  doc/changelog.d/1306.added.md
Labels: none

chore: adding changelog file 1307.dependencies.md
  doc/changelog.d/1307.dependencies.md
Labels: none

chore: adding changelog file 1308.miscellaneous.md
  doc/changelog.d/1308.miscellaneous.md
Labels: none

fix: default length units not being used properly on arc creation
  src/ansys/geometry/core/sketch/arc.py
  tests/integration/test_issues.py
Labels: none

fix: pre-commit
  tests/integration/test_issues.py
Labels: none

chore: adding changelog file 1310.fixed.md
  doc/changelog.d/1310.fixed.md
Labels: none

fix: default length units not being used properly on arc creation (#1310)
  doc/changelog.d/1310.fixed.md
  src/ansys/geometry/core/sketch/arc.py
  tests/integration/test_issues.py
Labels: none

feat: keep "other" bodies when performing bool operations
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: none

chore: adding changelog file 1311.added.md
  doc/changelog.d/1311.added.md
Labels: none

feat: keep "other" bodies when performing bool operations (#1311)
  doc/changelog.d/1311.added.md
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: none

chore: cleanup on PR
  src/ansys/geometry/core/tools/prepare_tools.py
  src/ansys/geometry/core/tools/repair_tools.py
Labels: none

fix: change test location
  tests/integration/test_design.py
  tests/integration/test_issues.py
Labels: none

fix: pre-commit
  tests/integration/test_issues.py
Labels: none

Update src/ansys/geometry/core/tools/prepare_tools.py
  src/ansys/geometry/core/tools/prepare_tools.py
Labels: none

Update src/ansys/geometry/core/tools/prepare_tools.py
  src/ansys/geometry/core/tools/prepare_tools.py
Labels: none

code review
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/tools/prepare_tools.py
Labels: none

fix: various improvements and bug fixes
  src/ansys/geometry/core/misc/auxiliary.py
  src/ansys/geometry/core/tools/prepare_tools.py
  tests/integration/test_prepare_tools.py
Labels: none

unit tests
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: none

abstract methods
  src/ansys/geometry/core/designer/body.py
Labels: none

feat: extract fluid volume from solid (#1306)
  doc/changelog.d/1306.added.md
  src/ansys/geometry/core/misc/auxiliary.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/tools/__init__.py
  src/ansys/geometry/core/tools/prepare_tools.py
  tests/integration/files/hollowCylinder.scdocx
  tests/integration/test_prepare_tools.py
Labels: none

Update src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/body.py
Labels: none

chore: adding changelog file 1312.changed.md
  doc/changelog.d/1312.changed.md
Labels: none

fix: exclude directory for running locally
  pyproject.toml
Labels: maintenance

fix: revert pre-commit hook removed
  .pre-commit-config.yaml
Labels: none

chore: updating dependabot groups
  .github/dependabot.yml
Labels: maintenance

chore: adding changelog file 1313.changed.md
  doc/changelog.d/1313.changed.md
Labels: none

fix: indentation
  .github/dependabot.yml
Labels: maintenance

chore: updating dependabot groups (#1313)
  .github/dependabot.yml
  doc/changelog.d/1313.changed.md
Labels: maintenance

chore: adding changelog file 1314.dependencies.md
  doc/changelog.d/1314.dependencies.md
Labels: none

chore: adding changelog file 1315.dependencies.md
  doc/changelog.d/1315.dependencies.md
Labels: none

chore: adding changelog file 1316.dependencies.md
  doc/changelog.d/1316.dependencies.md
Labels: none
