Repository ansys/pyansys-geometry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

fixing suggestions
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/math/bbox.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/tools/measurement_tools.py
  tests/integration/test_geometry_commands.py
  tests/integration/test_measurement_tools.py
  tests/test_math.py
Labels: testing

Apply suggestions from code review
  src/ansys/geometry/core/math/bbox.py
  src/ansys/geometry/core/tools/measurement_tools.py
Labels: none

testing rotate wip
  tests/integration/test_geometry_commands.py
Labels: none

Simplify test and fix FindAdjustSimplifyRequest
  src/ansys/geometry/core/tools/repair_tools.py
  tests/integration/test_repair_tools.py
Labels: none

moving mathematical function intersect intervals to math misc functions
  src/ansys/geometry/core/math/bbox.py
  src/ansys/geometry/core/math/misc.py
Labels: none

Fix spacing issue
  tests/integration/test_repair_tools.py
Labels: none

Update test and comment out step
  tests/integration/test_geometry_commands.py
  tests/integration/test_repair_tools.py
Labels: none

Fix test
  tests/integration/test_repair_tools.py
Labels: none

chore: adding changelog file 1746.dependencies.md [dependabot-skip]
  doc/changelog.d/1746.dependencies.md
Labels: none

chore: adding changelog file 1747.dependencies.md [dependabot-skip]
  doc/changelog.d/1747.dependencies.md
Labels: none

implemented move_translate
  src/ansys/geometry/core/designer/geometry_commands.py
  src/ansys/geometry/core/misc/options.py
  tests/integration/test_geometry_commands.py
Labels: none

feat: add face color, round info, bring measure tools to linux (#1732)
  doc/changelog.d/1732.added.md
  src/ansys/geometry/core/connection/conversions.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/designer/geometry_commands.py
  src/ansys/geometry/core/math/bbox.py
  src/ansys/geometry/core/math/misc.py
  src/ansys/geometry/core/misc/auxiliary.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/tools/measurement_tools.py
  tests/integration/test_design.py
  tests/integration/test_geometry_commands.py
  tests/integration/test_measurement_tools.py
  tests/integration/test_plotter.py
  tests/test_math.py
Labels: testing

documentation update
  src/ansys/geometry/core/designer/geometry_commands.py
Labels: none

adding pygltflib dependency to toml file
  pyproject.toml
Labels: maintenance

more dependency management
  pyproject.toml
Labels: maintenance

change to min version
  pyproject.toml
Labels: maintenance

feat: workflow enhancements for better tool results (#1723)
  doc/changelog.d/1723.added.md
  src/ansys/geometry/core/designer/geometry_commands.py
  src/ansys/geometry/core/tools/prepare_tools.py
  src/ansys/geometry/core/tools/repair_tool_message.py
  src/ansys/geometry/core/tools/repair_tools.py
  tests/integration/test_geometry_commands.py
  tests/integration/test_prepare_tools.py
  tests/integration/test_repair_tools.py
Labels: none

chore: adding changelog file 1749.dependencies.md [dependabot-skip]
  doc/changelog.d/1749.dependencies.md
Labels: none

testing offset faces in progress
  tests/integration/test_geometry_commands.py
Labels: none

removing offset face (likely not needed)
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: none

removing offset face set radius -- likely unnecessary
  src/ansys/geometry/core/designer/geometry_commands.py
  src/ansys/geometry/core/misc/options.py
  tests/integration/test_geometry_commands.py
Labels: none

remove unnecessary test
  tests/integration/test_plotter.py
Labels: none

feat: export glb (#1741)
  doc/changelog.d/1741.added.md
  pyproject.toml
  src/ansys/geometry/core/plotting/plotter.py
  tests/integration/test_plotter.py
Labels: maintenance

chore: enhancements to GLB export
  pyproject.toml
  src/ansys/geometry/core/plotting/plotter.py
  tests/integration/test_plotter.py
Labels: maintenance

chore: adding changelog file 1750.maintenance.md [dependabot-skip]
  doc/changelog.d/1750.maintenance.md
Labels: none

fix: proper face plotting under all circumstances
  src/ansys/geometry/core/plotting/plotter.py
Labels: none

fix: adapt body and component plit methods accordingly
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
Labels: none

chore: adding changelog file 1750.maintenance.md [dependabot-skip]
  doc/changelog.d/1750.maintenance.md
Labels: none

chore: enhancements to GLB export and object ``plot()`` methods (#1750)
  doc/changelog.d/1750.maintenance.md
  pyproject.toml
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/plotting/plotter.py
  tests/integration/test_plotter.py
Labels: maintenance

chore: updating CHANGELOG for v0.9.0
  doc/changelog.d/1258.test.md
  doc/changelog.d/1706.maintenance.md
  doc/changelog.d/1707.added.md
  doc/changelog.d/1708.added.md
  doc/changelog.d/1709.dependencies.md
  doc/changelog.d/1711.fixed.md
  doc/changelog.d/1712.added.md
  doc/changelog.d/1713.test.md
  doc/changelog.d/1714.fixed.md
  doc/changelog.d/1715.fixed.md
  doc/changelog.d/1716.added.md
  doc/changelog.d/1717.maintenance.md
  doc/changelog.d/1719.dependencies.md
  doc/changelog.d/1720.dependencies.md
  doc/changelog.d/1722.maintenance.md
  doc/changelog.d/1723.added.md
  doc/changelog.d/1725.fixed.md
  doc/changelog.d/1726.dependencies.md
  doc/changelog.d/1727.test.md
  doc/changelog.d/1728.dependencies.md
  doc/changelog.d/1729.dependencies.md
  doc/changelog.d/1730.documentation.md
  doc/changelog.d/1732.added.md
  doc/changelog.d/1736.dependencies.md
  doc/changelog.d/1737.maintenance.md
  doc/changelog.d/1739.maintenance.md
  doc/changelog.d/1740.added.md
  doc/changelog.d/1741.added.md
  doc/changelog.d/1742.dependencies.md
  doc/changelog.d/1743.dependencies.md
  doc/changelog.d/1744.dependencies.md
  doc/changelog.d/1745.test.md
  doc/changelog.d/1746.dependencies.md
  doc/changelog.d/1747.dependencies.md
  doc/changelog.d/1749.dependencies.md
  doc/changelog.d/1750.maintenance.md
  doc/source/changelog.rst
Labels: none

chore: bump dev version
  SECURITY.md
  doc/source/assets.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: maintenance

chore: adding changelog file 1751.maintenance.md [dependabot-skip]
  doc/changelog.d/1751.maintenance.md
Labels: none

chore: updating CHANGELOG for v0.9.0
  doc/changelog.d/1258.test.md
  doc/changelog.d/1706.maintenance.md
  doc/changelog.d/1707.added.md
  doc/changelog.d/1708.added.md
  doc/changelog.d/1709.dependencies.md
  doc/changelog.d/1711.fixed.md
  doc/changelog.d/1712.added.md
  doc/changelog.d/1713.test.md
  doc/changelog.d/1714.fixed.md
  doc/changelog.d/1715.fixed.md
  doc/changelog.d/1716.added.md
  doc/changelog.d/1717.maintenance.md
  doc/changelog.d/1719.dependencies.md
  doc/changelog.d/1720.dependencies.md
  doc/changelog.d/1722.maintenance.md
  doc/changelog.d/1723.added.md
  doc/changelog.d/1725.fixed.md
  doc/changelog.d/1726.dependencies.md
  doc/changelog.d/1727.test.md
  doc/changelog.d/1728.dependencies.md
  doc/changelog.d/1729.dependencies.md
  doc/changelog.d/1730.documentation.md
  doc/changelog.d/1732.added.md
  doc/changelog.d/1736.dependencies.md
  doc/changelog.d/1737.maintenance.md
  doc/changelog.d/1739.maintenance.md
  doc/changelog.d/1740.added.md
  doc/changelog.d/1741.added.md
  doc/changelog.d/1742.dependencies.md
  doc/changelog.d/1743.dependencies.md
  doc/changelog.d/1744.dependencies.md
  doc/changelog.d/1745.test.md
  doc/changelog.d/1746.dependencies.md
  doc/changelog.d/1747.dependencies.md
  doc/changelog.d/1749.dependencies.md
  doc/changelog.d/1750.maintenance.md
  doc/source/changelog.rst
Labels: none

chore: adding changelog file 1752.maintenance.md [dependabot-skip]
  doc/changelog.d/1752.maintenance.md
Labels: none

chore: adding changelog file 1753.maintenance.md [dependabot-skip]
  doc/changelog.d/1753.maintenance.md
Labels: none

chore: clean up deprecation warning for trapezoid class
  src/ansys/geometry/core/sketch/trapezoid.py
Labels: none

chore: adding changelog file 1754.maintenance.md [dependabot-skip]
  doc/changelog.d/1754.maintenance.md
Labels: none

chore: update CHANGELOG for v0.9.0 (#1753)
  doc/changelog.d/1258.test.md
  doc/changelog.d/1706.maintenance.md
  doc/changelog.d/1707.added.md
  doc/changelog.d/1708.added.md
  doc/changelog.d/1709.dependencies.md
  doc/changelog.d/1711.fixed.md
  doc/changelog.d/1712.added.md
  doc/changelog.d/1713.test.md
  doc/changelog.d/1714.fixed.md
  doc/changelog.d/1715.fixed.md
  doc/changelog.d/1716.added.md
  doc/changelog.d/1717.maintenance.md
  doc/changelog.d/1719.dependencies.md
  doc/changelog.d/1720.dependencies.md
  doc/changelog.d/1722.maintenance.md
  doc/changelog.d/1723.added.md
  doc/changelog.d/1725.fixed.md
  doc/changelog.d/1726.dependencies.md
  doc/changelog.d/1727.test.md
  doc/changelog.d/1728.dependencies.md
  doc/changelog.d/1729.dependencies.md
  doc/changelog.d/1730.documentation.md
  doc/changelog.d/1732.added.md
  doc/changelog.d/1736.dependencies.md
  doc/changelog.d/1737.maintenance.md
  doc/changelog.d/1739.maintenance.md
  doc/changelog.d/1740.added.md
  doc/changelog.d/1741.added.md
  doc/changelog.d/1742.dependencies.md
  doc/changelog.d/1743.dependencies.md
  doc/changelog.d/1744.dependencies.md
  doc/changelog.d/1745.test.md
  doc/changelog.d/1746.dependencies.md
  doc/changelog.d/1747.dependencies.md
  doc/changelog.d/1749.dependencies.md
  doc/changelog.d/1750.maintenance.md
  doc/changelog.d/1753.maintenance.md
  doc/source/changelog.rst
Labels: none

feat: add more information on deprecated arguments and methods
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/misc/checks.py
  src/ansys/geometry/core/modeler.py
  tests/test_misc_checks.py
Labels: testing

fix: failing test
  tests/test_misc_checks.py
Labels: testing
