Repository ansys/pyansys-geometry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

chore: adding changelog file 1643.added.md [dependabot-skip]
  doc/changelog.d/1643.added.md
Labels: none

Update problem_areas.py
  src/ansys/geometry/core/tools/problem_areas.py
Labels: none

Update problem_areas.py
  src/ansys/geometry/core/tools/problem_areas.py
Labels: none

Update tests/integration/test_design.py
  tests/integration/test_design.py
Labels: none

wip
  src/ansys/geometry/core/tools/problem_areas.py
  src/ansys/geometry/core/tools/repair_tools.py
Labels: none

chore: adding changelog file 1644.dependencies.md [dependabot-skip]
  doc/changelog.d/1644.dependencies.md
Labels: none

Add tests for find and fix
  tests/integration/files/DuplicateFaces.scdocx
  tests/integration/files/ExtraEdges.scdocx
  tests/integration/files/ExtraEdges_NoComponents.scdocx
  tests/integration/files/gear.scdocx
  tests/integration/test_repair_tools.py
Labels: none

rename branch
  src/ansys/geometry/core/designer/design.py
Labels: none

typo in geometry
  tests/integration/test_repair_tools.py
Labels: none

chore: adding changelog file 1645.test.md [dependabot-skip]
  doc/changelog.d/1645.test.md
Labels: none

pre-commit changes
  doc/changelog.d/1645.test.md
  tests/integration/test_repair_tools.py
Labels: none

chore: adding changelog file 1645.test.md [dependabot-skip]
  doc/changelog.d/1645.test.md
Labels: none

chore: adding changelog file 1645.test.md [dependabot-skip]
  doc/changelog.d/1645.test.md
Labels: none

doc clean up
  doc/changelog.d/1340.added.md
  doc/changelog.d/1624.dependencies.md
  doc/changelog.d/1625.dependencies.md
  doc/changelog.d/1630.maintenance.md
  doc/changelog.d/1631.fixed.md
Labels: none

WIP - id's not incrementing
  src/ansys/geometry/core/tools/problem_areas.py
  tests/integration/files/SOBracket2.scdocx
  tests/integration/test_repair_tools.py
Labels: none

refreshing the branch
  .pre-commit-config.yaml
  doc/source/getting_started/faq.rst
Labels: none

further clean up
  docker/build_docker_windows.py
  pyproject.toml
Labels: maintenance

reset other changes
  src/ansys/geometry/core/designer/component.py
Labels: none

chore: adding changelog file 1647.added.md [dependabot-skip]
  doc/changelog.d/1647.added.md
Labels: none

rename_object fully implemented
  src/ansys/geometry/core/designer/design.py
  tests/integration/test_geometry_commands.py
Labels: none

fixing conflicts and repushing
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: none

clean up dependency artifact
  doc/changelog.d/1626.dependencies.md
Labels: none

adding decorators
  src/ansys/geometry/core/designer/geometry_commands.py
Labels: none

chore: adding changelog file 1648.added.md [dependabot-skip]
  doc/changelog.d/1648.added.md
Labels: none

matrix operations
  src/ansys/geometry/core/math/matrix.py
  src/ansys/geometry/core/math/vector.py
Labels: none

implementation
  src/ansys/geometry/core/designer/component.py
  tests/integration/test_design.py
Labels: none

update min backend
  src/ansys/geometry/core/designer/component.py
Labels: none

chore: adding changelog file 1650.added.md [dependabot-skip]
  doc/changelog.d/1650.added.md
Labels: none

refactrng2
  src/ansys/geometry/core/math/matrix.py
  src/ansys/geometry/core/math/vector.py
  tests/test_math.py
Labels: testing

refactrng3
  src/ansys/geometry/core/math/vector.py
Labels: none

fixed documentation
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: none

build: using ansys-api-geometry 0.4.29
  pyproject.toml
Labels: maintenance

create circular and fill patterns
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: none

fix doc
  src/ansys/geometry/core/designer/component.py
Labels: none

bump proto api
  pyproject.toml
Labels: maintenance

precommit fix
  tests/integration/test_geometry_commands.py
Labels: none

chore: adding changelog file 1651.dependencies.md [dependabot-skip]
  doc/changelog.d/1651.dependencies.md
Labels: none

build: bump ansys-api-geometry in blitz branch
  pyproject.toml
Labels: maintenance

feat: create and modify linear patterns (#1641)
  doc/changelog.d/1641.added.md
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: none

update_fill_pattern
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: none
