Repository ansys/pyansys-geometry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

Adding changelog entry: 1269.fixed.md
  doc/changelog.d/1269.fixed.md
Labels: none

fix: change action order (#1269)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1269.fixed.md
Labels: maintenance

docs: using ansys actions (again) to build dos
  .github/workflows/ci_cd.yml
Labels: maintenance

Adding changelog entry: 1270.changed.md
  doc/changelog.d/1270.changed.md
Labels: none

Adding changelog entry: 1270.changed.md
  doc/changelog.d/1270.changed.md
Labels: none

docs: using ansys actions (again) to build docs (#1270)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1270.changed.md
Labels: maintenance

fix: unnecessary Point3D comparison (#1264)
  doc/changelog.d/1264.fixed.md
Labels: none

Adding changelog entry: 1271.dependencies.md
  doc/changelog.d/1271.dependencies.md
Labels: none

release: v0.6.3
  doc/source/assets.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v0.6.3
  doc/changelog.d/1263.changed.md
  doc/changelog.d/1264.fixed.md
  doc/changelog.d/1265.changed.md
  doc/changelog.d/1266.dependencies.md
  doc/changelog.d/1267.miscellaneous.md
  doc/changelog.d/1268.fixed.md
  doc/changelog.d/1269.fixed.md
  doc/changelog.d/1270.changed.md
  doc/changelog.d/1271.dependencies.md
  doc/source/changelog.rst
Labels: none

chore: updating CHANGELOG for v0.6.3
  doc/changelog.d/1263.changed.md
  doc/changelog.d/1264.fixed.md
  doc/changelog.d/1265.changed.md
  doc/changelog.d/1266.dependencies.md
  doc/changelog.d/1267.miscellaneous.md
  doc/changelog.d/1268.fixed.md
  doc/changelog.d/1269.fixed.md
  doc/changelog.d/1270.changed.md
  doc/changelog.d/1271.dependencies.md
  doc/source/changelog.rst
Labels: none

Adding changelog entry: 1273.changed.md
  doc/changelog.d/1273.changed.md
Labels: none

chore: update CHANGELOG for v0.6.3 (#1273)
  doc/changelog.d/1263.changed.md
  doc/changelog.d/1264.fixed.md
  doc/changelog.d/1265.changed.md
  doc/changelog.d/1266.dependencies.md
  doc/changelog.d/1267.miscellaneous.md
  doc/changelog.d/1268.fixed.md
  doc/changelog.d/1269.fixed.md
  doc/changelog.d/1270.changed.md
  doc/changelog.d/1271.dependencies.md
  doc/changelog.d/1273.changed.md
  doc/source/changelog.rst
Labels: none

first version
  .flake8
  .pre-commit-config.yaml
  pyproject.toml
Labels: maintenance

fix: noqa
  src/ansys/geometry/core/designer/body.py
Labels: none

fis: summary
  src/ansys/geometry/core/designer/body.py
Labels: none

more fixes
  .pre-commit-config.yaml
  src/ansys/geometry/core/connection/conversions.py
  src/ansys/geometry/core/connection/product_instance.py
  src/ansys/geometry/core/shapes/curves/line.py
  src/ansys/geometry/core/sketch/sketch.py
  src/ansys/geometry/core/tools/problem_areas.py
  tests/integration/test_design.py
  tests/integration/test_design_import.py
  tests/integration/test_launcher_local.py
  tests/integration/test_launcher_product.py
  tests/integration/test_launcher_remote.py
  tests/integration/test_plotter.py
  tests/integration/test_repair_tools.py
  tests/test_connection.py
  tests/test_logging.py
  tests/test_math.py
  tests/test_misc_measurements.py
  tests/test_sketch.py
Labels: testing

fix: ruff
  pyproject.toml
  src/ansys/geometry/core/connection/conversions.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/shapes/curves/line.py
  src/ansys/geometry/core/shapes/parameterization.py
  src/ansys/geometry/core/tools/problem_areas.py
Labels: maintenance

fix: pyflakes
  doc/source/conf.py
  pyproject.toml
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/connection/docker_instance.py
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/misc/checks.py
  tests/integration/test_design.py
  tests/integration/test_launcher_product.py
  tests/test_logging.py
  tests/test_primitives.py
  tests/test_sketch.py
Labels: maintenance, testing

fix: pycodestyle rules
  pyproject.toml
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/connection/product_instance.py
  src/ansys/geometry/core/shapes/curves/ellipse.py
  src/ansys/geometry/core/sketch/trapezoid.py
  tests/integration/test_design.py
  tests/integration/test_design_import.py
  tests/integration/test_launcher_product.py
Labels: maintenance

fix: pep-8 rules
  pyproject.toml
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/connection/docker_instance.py
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/errors.py
  src/ansys/geometry/core/logger.py
  src/ansys/geometry/core/materials/property.py
  src/ansys/geometry/core/misc/checks.py
  src/ansys/geometry/core/misc/measurements.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/plotting/plotter.py
  src/ansys/geometry/core/shapes/surfaces/torus.py
  src/ansys/geometry/core/shapes/surfaces/trimmed_surface.py
  src/ansys/geometry/core/sketch/box.py
  src/ansys/geometry/core/sketch/ellipse.py
  src/ansys/geometry/core/sketch/polygon.py
  src/ansys/geometry/core/sketch/slot.py
  src/ansys/geometry/core/sketch/trapezoid.py
  tests/integration/test_launcher_product.py
  tests/test_math.py
  tests/test_parameterization.py
Labels: maintenance, testing

fix: pathlib issues
  docker/build_docker_windows.py
  pyproject.toml
  src/ansys/geometry/core/connection/defaults.py
  src/ansys/geometry/core/connection/product_instance.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/plotting/widgets/show_design_point.py
  tests/integration/conftest.py
  tests/integration/test_design.py
  tests/integration/test_logging_client.py
  tests/test_logging.py
Labels: maintenance, testing

rever: hook
  .pre-commit-config.yaml
Labels: none

docs: ruff formatter
  README.rst
  doc/source/contributing.rst
Labels: none

Adding changelog entry: 1274.added.md
  doc/changelog.d/1274.added.md
Labels: none

Apply suggestions from code review
  docker/build_docker_windows.py
Labels: none

fix: backticks
  src/ansys/geometry/core/connection/conversions.py
Labels: none

Adding changelog entry: 1275.fixed.md
  doc/changelog.d/1275.fixed.md
Labels: none

docs: fix backticks
  src/ansys/geometry/core/connection/conversions.py
Labels: none

Adding changelog entry: 1275.fixed.md
  doc/changelog.d/1275.fixed.md
Labels: none

fix: backticks breaking doc build after ruff linter (#1275)
  doc/changelog.d/1275.fixed.md
  src/ansys/geometry/core/connection/conversions.py
Labels: none

chore: bump pre-commit-hook version
  .pre-commit-config.yaml
Labels: none

Adding changelog entry: 1276.changed.md
  doc/changelog.d/1276.changed.md
Labels: none

chore: bump pre-commit-hook version (#1276)
  .pre-commit-config.yaml
  doc/changelog.d/1276.changed.md
Labels: none

Adding changelog entry: 1277.dependencies.md
  doc/changelog.d/1277.dependencies.md
Labels: none

release: v0.6.4
  doc/source/assets.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v0.6.4
  doc/changelog.d/1273.changed.md
  doc/changelog.d/1274.added.md
  doc/changelog.d/1275.fixed.md
  doc/changelog.d/1276.changed.md
  doc/changelog.d/1277.dependencies.md
  doc/source/changelog.rst
Labels: none

chore: updating CHANGELOG for v0.6.4
  doc/changelog.d/1273.changed.md
  doc/changelog.d/1274.added.md
  doc/changelog.d/1275.fixed.md
  doc/changelog.d/1276.changed.md
  doc/changelog.d/1277.dependencies.md
  doc/source/changelog.rst
Labels: none

Adding changelog entry: 1278.changed.md
  doc/changelog.d/1278.changed.md
Labels: none

build: update sphinx-autodoc-typehints version
  pyproject.toml
Labels: maintenance

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'
