Repository ansys/pyansys-geometry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

docs: add ``user_agent`` to Sphinx build (#1142)
  doc/changelog.d/1142.changed.md
  doc/source/conf.py
Labels: none

docs: update old CHANGELOG.md file
  CHANGELOG.md
Labels: none

Apply suggestions from code review
  doc/source/assets.rst
  doc/source/changelog.rst
  doc/source/getting_started/docker/windows_container.rst
Labels: none

Update doc/source/getting_started/docker/windows_container.rst
  doc/source/getting_started/docker/windows_container.rst
Labels: none

docs: add release notes in our documentation (#1138)
  CHANGELOG.md
  doc/changelog.d/1138.changed.md
  doc/changelog.d/changelog_template.jinja
  doc/source/assets.rst
  doc/source/changelog.rst
  doc/source/conf.py
  doc/source/getting_started/docker/windows_container.rst
  doc/source/index.rst
  pyproject.toml
Labels: maintenance

fix: update backend version message
  src/ansys/geometry/core/misc/checks.py
  tests/test_misc_checks.py
Labels: testing

Adding changelog entry: 1145.fixed.md
  doc/changelog.d/1145.fixed.md
Labels: none

fix: update backend version message (#1145)
  doc/changelog.d/1145.fixed.md
  src/ansys/geometry/core/misc/checks.py
  tests/test_misc_checks.py
Labels: testing

fix: Trame issues
  src/ansys/geometry/core/plotting/trame_gui.py
Labels: none

fix: Support plotter helper
  src/ansys/geometry/core/plotting/trame_gui.py
Labels: none

feat: add ``export_to`` functions
  src/ansys/geometry/core/designer/design.py
  tests/integration/test_design_export.py
Labels: none

Adding changelog entry: 1147.added.md
  doc/changelog.d/1147.added.md
Labels: none

fix: failing tests
  tests/integration/conftest.py
  tests/integration/test_design_export.py
Labels: none

fix: Add `add_list` to plotter_helper
  src/ansys/geometry/core/plotting/plotter_helper.py
  src/ansys/geometry/core/plotting/trame_gui.py
Labels: none

Adding changelog entry: 1148.fixed.md
  doc/changelog.d/1148.fixed.md
Labels: none

feat: extract function
  src/ansys/geometry/core/designer/design.py
Labels: none

docs: proper docstring
  src/ansys/geometry/core/designer/design.py
Labels: none

ci: check str input as well to download method
  tests/integration/test_design_import.py
Labels: none

Update src/ansys/geometry/core/plotting/trame_gui.py
  src/ansys/geometry/core/plotting/trame_gui.py
Labels: none

feat: Rework add_list
  src/ansys/geometry/core/plotting/plotter_helper.py
  src/ansys/geometry/core/plotting/trame_gui.py
Labels: none

feat: add ``export_to`` functions (#1147)
  doc/changelog.d/1147.added.md
  src/ansys/geometry/core/designer/design.py
  tests/integration/conftest.py
  tests/integration/test_design_export.py
  tests/integration/test_design_import.py
Labels: none

fix: Add pyvista plotter checker
  src/ansys/geometry/core/plotting/trame_gui.py
Labels: none

fix: uneeded if
  src/ansys/geometry/core/plotting/trame_gui.py
Labels: none

fix: Trame issues (#1148)
  doc/changelog.d/1148.fixed.md
  src/ansys/geometry/core/plotting/plotter_helper.py
  src/ansys/geometry/core/plotting/trame_gui.py
Labels: none

docs: add example on exporting designs
  doc/source/_static/thumbnails/export_design.png
  doc/source/conf.py
  doc/source/examples.rst
  doc/source/examples/03_modeling/.gitignore
  doc/source/examples/03_modeling/export_design.mystnb
Labels: none

Adding changelog entry: 1149.miscellaneous.md
  doc/changelog.d/1149.miscellaneous.md
Labels: none

fix: failures coming in from time to time sue to api.github.com
  doc/source/conf.py
Labels: none

fix: simplifying request
  doc/source/conf.py
Labels: none

Apply suggestions from code review
  doc/source/conf.py
  doc/source/examples/03_modeling/export_design.mystnb
Labels: none

Update doc/source/examples/03_modeling/export_design.mystnb
  doc/source/examples/03_modeling/export_design.mystnb
Labels: none

fix: change to active voice
  doc/source/examples/03_modeling/export_design.mystnb
Labels: none

Update .gitignore
  doc/styles/.gitignore
Labels: none

docs: add example on exporting designs (#1149)
  doc/changelog.d/1149.miscellaneous.md
  doc/source/_static/thumbnails/export_design.png
  doc/source/conf.py
  doc/source/examples.rst
  doc/source/examples/03_modeling/.gitignore
  doc/source/examples/03_modeling/export_design.mystnb
  doc/styles/.gitignore
Labels: none

ci: enabling Linux tests that are runnable
  tests/integration/test_design.py
  tests/integration/test_material.py
  tests/integration/test_plotter.py
  tests/integration/test_tessellation.py
Labels: none

fix: pre-commit
  tests/integration/test_plotter.py
Labels: none

Adding changelog entry: 1152.changed.md
  doc/changelog.d/1152.changed.md
Labels: none

ci: perform minimal requirements tests
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: maintenance

ci: enabling Linux tests missing (#1152)
  doc/changelog.d/1152.changed.md
  tests/integration/test_design.py
  tests/integration/test_material.py
  tests/integration/test_plotter.py
  tests/integration/test_tessellation.py
Labels: none

Adding changelog entry: 1153.changed.md
  doc/changelog.d/1153.changed.md
Labels: none

doc: fix link in `CHANGELOG.md`
  CHANGELOG.md
Labels: none
