Repository ansys/pyansys-geometry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

chore: adding changelog file 1754.maintenance.md [dependabot-skip]
  doc/changelog.d/1754.maintenance.md
Labels: none

chore: clean up deprecation warning for trapezoid class and add more info on deprecation (#1754)
  doc/changelog.d/1754.maintenance.md
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/misc/checks.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/sketch/trapezoid.py
  tests/test_misc_checks.py
Labels: testing

chore: updating CHANGELOG for v0.9.0
  doc/changelog.d/1258.test.md
  doc/changelog.d/1706.maintenance.md
  doc/changelog.d/1707.added.md
  doc/changelog.d/1708.added.md
  doc/changelog.d/1709.dependencies.md
  doc/changelog.d/1711.fixed.md
  doc/changelog.d/1712.added.md
  doc/changelog.d/1713.test.md
  doc/changelog.d/1714.fixed.md
  doc/changelog.d/1715.fixed.md
  doc/changelog.d/1716.added.md
  doc/changelog.d/1717.maintenance.md
  doc/changelog.d/1719.dependencies.md
  doc/changelog.d/1720.dependencies.md
  doc/changelog.d/1722.maintenance.md
  doc/changelog.d/1723.added.md
  doc/changelog.d/1725.fixed.md
  doc/changelog.d/1726.dependencies.md
  doc/changelog.d/1727.test.md
  doc/changelog.d/1728.dependencies.md
  doc/changelog.d/1729.dependencies.md
  doc/changelog.d/1730.documentation.md
  doc/changelog.d/1732.added.md
  doc/changelog.d/1736.dependencies.md
  doc/changelog.d/1737.maintenance.md
  doc/changelog.d/1739.maintenance.md
  doc/changelog.d/1740.added.md
  doc/changelog.d/1741.added.md
  doc/changelog.d/1742.dependencies.md
  doc/changelog.d/1743.dependencies.md
  doc/changelog.d/1744.dependencies.md
  doc/changelog.d/1745.test.md
  doc/changelog.d/1746.dependencies.md
  doc/changelog.d/1747.dependencies.md
  doc/changelog.d/1749.dependencies.md
  doc/changelog.d/1750.maintenance.md
  doc/changelog.d/1754.maintenance.md
  doc/source/changelog.rst
Labels: none

chore: adding changelog file 1755.maintenance.md [dependabot-skip]
  doc/changelog.d/1755.maintenance.md
Labels: none

chore: adding changelog file 1756.dependencies.md [dependabot-skip]
  doc/changelog.d/1756.dependencies.md
Labels: none

feat: allow plotting of individual faces
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/plotting/plotter.py
  tests/integration/test_plotter.py
Labels: none

chore: adding changelog file 1757.added.md [dependabot-skip]
  doc/changelog.d/1757.added.md
Labels: none

fix: missing typehint reported in #1750
  src/ansys/geometry/core/plotting/plotter.py
Labels: none

Update src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/designer/face.py
Labels: none

Apply suggestions from code review
  src/ansys/geometry/core/designer/face.py
Labels: none

feat: allow plotting of individual faces (#1757)
  doc/changelog.d/1757.added.md
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/plotting/plotter.py
  tests/integration/test_plotter.py
Labels: none

fix: Linux Core Service docker file was missing a dependency
  docker/linux/coreservice/Dockerfile
Labels: none

chore: adding changelog file 1758.fixed.md [dependabot-skip]
  doc/changelog.d/1758.fixed.md
Labels: none

fix: issue with version
  docker/linux/coreservice/Dockerfile
Labels: none

fix: Linux Core Service docker file was missing a dependency (#1758)
  doc/changelog.d/1758.fixed.md
  docker/linux/coreservice/Dockerfile
Labels: none

added tests for list of bodies input
  tests/integration/test_geometry_commands.py
Labels: none

release: v0.9.0
  doc/source/assets.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: maintenance

chore: adding changelog file 1759.added.md [dependabot-skip]
  doc/changelog.d/1759.added.md
Labels: none

chore: adding changelog file 1760.maintenance.md [dependabot-skip]
  doc/changelog.d/1760.maintenance.md
Labels: none

added properties
  src/ansys/geometry/core/designer/selection.py
  tests/integration/test_design.py
Labels: none

chore: bump dev version to 0.10.dev0 (#1752)
  SECURITY.md
  doc/changelog.d/1752.maintenance.md
  doc/source/assets.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: maintenance

tested named selection import
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/designer/selection.py
  tests/integration/test_design_import.py
Labels: none

able to query named_selections for underlying members
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/designer/selection.py
  tests/integration/test_design.py
  tests/integration/test_design_import.py
Labels: none

chore: adding changelog file 1763.dependencies.md [dependabot-skip]
  doc/changelog.d/1763.dependencies.md
Labels: none

chore: adding changelog file 1762.dependencies.md [dependabot-skip]
  doc/changelog.d/1762.dependencies.md
Labels: none

create intermediate files
  pyproject.toml
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/designer/__init__.py
  src/ansys/geometry/core/designer/datum_planes.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/modeler.py
Labels: maintenance

chore: adding changelog file 1766.dependencies.md [dependabot-skip]
  doc/changelog.d/1766.dependencies.md
Labels: none

implemented named selection from existing design
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/designer/geometry_commands.py
  src/ansys/geometry/core/designer/selection.py
  tests/integration/test_design.py
  tests/integration/test_design_import.py
  tests/integration/test_geometry_commands.py
Labels: none

chore: adding changelog file 1767.dependencies.md [dependabot-skip]
  doc/changelog.d/1767.dependencies.md
Labels: none

chore: adding changelog file 1768.added.md [dependabot-skip]
  doc/changelog.d/1768.added.md
Labels: none

imprint curves from edges
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: none

GeometryCommands -- offset_faces_set_radius implemented and tested
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: none

chore: adding changelog file 1769.added.md [dependabot-skip]
  doc/changelog.d/1769.added.md
Labels: none

small pre-commit fixes
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: none

change repeated selection field to single named selection
  src/ansys/geometry/core/designer/geometry_commands.py
Labels: none

chore: adding changelog file 1770.maintenance.md [dependabot-skip]
  doc/changelog.d/1770.maintenance.md
Labels: none

chore: adding changelog file 1772.dependencies.md [dependabot-skip]
  doc/changelog.d/1772.dependencies.md
Labels: none

chore: adding changelog file 1773.dependencies.md [dependabot-skip]
  doc/changelog.d/1773.dependencies.md
Labels: none

fix: allow setting max message length for send operations
  src/ansys/geometry/core/connection/client.py
Labels: none

chore: adding changelog file 1775.fixed.md [dependabot-skip]
  doc/changelog.d/1775.fixed.md
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'
