Repository ansys/pyansys-geometry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

tmp: Dependency
  .github/workflows/ci_cd.yml
  .github/workflows/nightly_docker_test.yml
  pyproject.toml
Labels: maintenance

test: add results folder
  tests/integration/image_cache/.gitignore
  tests/integration/image_cache/results/.gitignore
Labels: none

Apply suggestions from code review
  src/ansys/geometry/core/math/misc.py
  src/ansys/geometry/core/sketch/arc.py
Labels: none

fix: docstrings
  src/ansys/geometry/core/sketch/arc.py
  src/ansys/geometry/core/sketch/sketch.py
Labels: none

fix: typos
  src/ansys/geometry/core/math/misc.py
  src/ansys/geometry/core/sketch/arc.py
Labels: none

feat: add misc and start_end_radius testing
  tests/test_math.py
  tests/test_sketch.py
Labels: testing

fix: Transparency issue
  src/ansys/geometry/core/sketch/sketch.py
Labels: none

fix: Plane issue
  src/ansys/geometry/core/plotting/plotter.py
Labels: none

fix: Add missing logic in case of segment only sketch
  src/ansys/geometry/core/plotting/plotter.py
Labels: none

feat: add tests for start_center_radius method
  src/ansys/geometry/core/math/misc.py
  src/ansys/geometry/core/shapes/surfaces/torus.py
  src/ansys/geometry/core/sketch/arc.py
  src/ansys/geometry/core/sketch/sketch.py
  tests/test_sketch.py
Labels: testing

docs: add example
  doc/source/examples/02_sketching/basic_usage.mystnb
Labels: none

fix: typos
  tests/test_math.py
Labels: testing

Adding changelog entry: 1210.dependencies.md
  doc/changelog.d/1210.dependencies.md
Labels: none

Adding changelog entry: 1212.dependencies.md
  doc/changelog.d/1212.dependencies.md
Labels: none

Adding changelog entry: 1211.dependencies.md
  doc/changelog.d/1211.dependencies.md
Labels: none

Apply suggestions from code review
  src/ansys/geometry/core/math/misc.py
  src/ansys/geometry/core/sketch/arc.py
  src/ansys/geometry/core/sketch/sketch.py
  tests/test_sketch.py
Labels: testing

fix: "or not" refs
  doc/source/examples/04_applied/01_naca_airfoils.mystnb
  src/ansys/geometry/core/connection/product_instance.py
  src/ansys/geometry/core/sketch/arc.py
  src/ansys/geometry/core/sketch/sketch.py
Labels: none

feat: add new arc constructors (#1208)
  doc/changelog.d/1208.added.md
  doc/source/examples/02_sketching/basic_usage.mystnb
  doc/source/examples/04_applied/01_naca_airfoils.mystnb
  src/ansys/geometry/core/connection/product_instance.py
  src/ansys/geometry/core/math/__init__.py
  src/ansys/geometry/core/math/misc.py
  src/ansys/geometry/core/shapes/surfaces/torus.py
  src/ansys/geometry/core/sketch/arc.py
  src/ansys/geometry/core/sketch/sketch.py
  tests/test_math.py
  tests/test_sketch.py
Labels: testing

release: v0.5.6
  doc/source/assets.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: maintenance

Updating CHANGELOG for v0.5.6
  doc/changelog.d/1204.dependencies.md
  doc/changelog.d/1205.changed.md
  doc/changelog.d/1208.added.md
  doc/changelog.d/1210.dependencies.md
  doc/changelog.d/1211.dependencies.md
  doc/changelog.d/1212.dependencies.md
  doc/source/changelog.rst
Labels: none

Updating CHANGELOG for v0.5.6
  doc/changelog.d/1204.dependencies.md
  doc/changelog.d/1205.changed.md
  doc/changelog.d/1208.added.md
  doc/changelog.d/1210.dependencies.md
  doc/changelog.d/1211.dependencies.md
  doc/changelog.d/1212.dependencies.md
  doc/source/changelog.rst
Labels: none

Adding changelog entry: 1213.changed.md
  doc/changelog.d/1213.changed.md
Labels: none

chore: update CHANGELOG for v0.5.6 (#1213)
  doc/changelog.d/1204.dependencies.md
  doc/changelog.d/1205.changed.md
  doc/changelog.d/1208.added.md
  doc/changelog.d/1210.dependencies.md
  doc/changelog.d/1211.dependencies.md
  doc/changelog.d/1212.dependencies.md
  doc/changelog.d/1213.changed.md
  doc/source/changelog.rst
Labels: none

chore: update SECURITY.md
  SECURITY.md
Labels: none

Update SECURITY.md
  SECURITY.md
Labels: none

Adding changelog entry: 1214.changed.md
  doc/changelog.d/1214.changed.md
Labels: none

chore: update SECURITY.md (#1214)
  SECURITY.md
  doc/changelog.d/1214.changed.md
Labels: none

cicd: use Trusted Publisher for releasing package
  .github/workflows/ci_cd.yml
Labels: maintenance

Adding changelog entry: 1216.changed.md
  doc/changelog.d/1216.changed.md
Labels: none

Adding changelog entry: 1216.changed.md
  doc/changelog.d/1216.changed.md
Labels: none

ci: use Trusted Publisher for releasing package (#1216)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1216.changed.md
Labels: maintenance

Adding changelog entry: 1217.dependencies.md
  doc/changelog.d/1217.dependencies.md
Labels: none

Adding changelog entry: 1218.dependencies.md
  doc/changelog.d/1218.dependencies.md
Labels: none

Adding changelog entry: 1219.dependencies.md
  doc/changelog.d/1219.dependencies.md
Labels: none

fix: Plotting examples
  doc/source/examples/01_getting_started/05_plotter_picker.mystnb
  doc/source/examples/03_modeling/boolean_operations.mystnb
  doc/source/examples/04_applied/02_naca_fluent.mystnb
  src/ansys/geometry/core/plotting/plotter.py
  src/ansys/geometry/core/plotting/widgets/show_design_point.py
  tests/integration/conftest.py
  tests/integration/image_cache/results/.gitignore
Labels: none

fix: Add gitignore to results folder
  tests/integration/image_cache/results/.gitignore
Labels: none

fix: Documentation plotting examples
  doc/source/examples/02_sketching/advanced_sketching_gears.mystnb
  doc/source/examples/02_sketching/basic_usage.mystnb
  doc/source/examples/03_modeling/tessellation_usage.mystnb
  src/ansys/geometry/core/designer/component.py
Labels: none

test: Window size try
  tests/integration/conftest.py
  tests/integration/test_plotter.py
Labels: none

fix: Reset cache
  .github/workflows/ci_cd.yml
  tests/integration/test_plotter.py
Labels: maintenance

ci: remove pygeomtgery-ci-1 specific logic
  .github/workflows/ci_cd.yml
  .github/workflows/nightly_docker_test.yml
Labels: maintenance

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'
