Repository ansys/pyansys-geometry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

Adding changelog entry: 1280.changed.md
  doc/changelog.d/1280.changed.md
Labels: none

chore: update CHANGELOG for v0.6.4 (#1278)
  doc/changelog.d/1273.changed.md
  doc/changelog.d/1274.added.md
  doc/changelog.d/1275.fixed.md
  doc/changelog.d/1276.changed.md
  doc/changelog.d/1277.dependencies.md
  doc/changelog.d/1278.changed.md
  doc/source/changelog.rst
Labels: none

build: update sphinx-autodoc-typehints version (#1280)
  doc/changelog.d/1280.changed.md
  pyproject.toml
Labels: maintenance

Adding changelog entry: 1281.miscellaneous.md
  doc/changelog.d/1281.miscellaneous.md
Labels: none

chore: adding changelog file 1283.dependencies.md
  doc/changelog.d/1283.dependencies.md
Labels: none

chore: adding changelog file 1284.dependencies.md
  doc/changelog.d/1284.dependencies.md
Labels: none

chore: update SECURITY.md
  SECURITY.md
Labels: none

chore: adding changelog file 1286.changed.md
  doc/changelog.d/1286.changed.md
Labels: none

chore: update SECURITY.md (#1286)
  SECURITY.md
  doc/changelog.d/1286.changed.md
Labels: none

chore: adding changelog file 1287.dependencies.md
  doc/changelog.d/1287.dependencies.md
Labels: none

chore: adding changelog file 1288.miscellaneous.md
  doc/changelog.d/1288.miscellaneous.md
Labels: none

fix: manifest path should render as posix rather than uri
  src/ansys/geometry/core/connection/product_instance.py
Labels: none

chore: adding changelog file 1289.fixed.md
  doc/changelog.d/1289.fixed.md
Labels: none

fix: manifest path should render as posix rather than uri (#1289)
  doc/changelog.d/1289.fixed.md
  src/ansys/geometry/core/connection/product_instance.py
Labels: none

release: v0.6.5
  doc/source/assets.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v0.6.5
  doc/changelog.d/1278.changed.md
  doc/changelog.d/1280.changed.md
  doc/changelog.d/1281.miscellaneous.md
  doc/changelog.d/1283.dependencies.md
  doc/changelog.d/1284.dependencies.md
  doc/changelog.d/1286.changed.md
  doc/changelog.d/1287.dependencies.md
  doc/changelog.d/1288.miscellaneous.md
  doc/changelog.d/1289.fixed.md
  doc/source/changelog.rst
Labels: none

chore: updating CHANGELOG for v0.6.5
  doc/changelog.d/1278.changed.md
  doc/changelog.d/1280.changed.md
  doc/changelog.d/1281.miscellaneous.md
  doc/changelog.d/1283.dependencies.md
  doc/changelog.d/1284.dependencies.md
  doc/changelog.d/1286.changed.md
  doc/changelog.d/1287.dependencies.md
  doc/changelog.d/1288.miscellaneous.md
  doc/changelog.d/1289.fixed.md
  doc/source/changelog.rst
Labels: none

chore: adding changelog file 1290.changed.md
  doc/changelog.d/1290.changed.md
Labels: none

chore: update CHANGELOG for v0.6.5 (#1290)
  doc/changelog.d/1278.changed.md
  doc/changelog.d/1280.changed.md
  doc/changelog.d/1281.miscellaneous.md
  doc/changelog.d/1283.dependencies.md
  doc/changelog.d/1284.dependencies.md
  doc/changelog.d/1286.changed.md
  doc/changelog.d/1287.dependencies.md
  doc/changelog.d/1288.miscellaneous.md
  doc/changelog.d/1289.fixed.md
  doc/changelog.d/1290.changed.md
  doc/source/changelog.rst
Labels: none

test: create sphere bug raised after box creation
  tests/integration/test_design_import.py
  tests/integration/test_issues.py
  tests/test_sketch.py
Labels: testing

chore: adding changelog file 1291.fixed.md
  doc/changelog.d/1291.fixed.md
Labels: none

fix: naming issue
  tests/integration/test_issues.py
Labels: none

fix: minor namings
  tests/integration/test_issues.py
Labels: none

feat: Add some repair and prepare tool methods
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/tools/prepare_tools.py
  src/ansys/geometry/core/tools/problem_areas.py
  src/ansys/geometry/core/tools/repair_tools.py
Labels: none

chore: adding changelog file 1292.dependencies.md
  doc/changelog.d/1292.dependencies.md
Labels: none

chore: adding changelog file 1293.added.md
  doc/changelog.d/1293.added.md
Labels: none

docs: finish docstring from prepare_tools.share_topology
  src/ansys/geometry/core/tools/prepare_tools.py
Labels: none

chore: adding changelog file 1293.added.md
  doc/changelog.d/1293.added.md
Labels: none

fix: docker cleanup
  .github/workflows/docker_cleanup.yml
Labels: maintenance

chore: adding changelog file 1294.fixed.md
  doc/changelog.d/1294.fixed.md
Labels: none

ci: docker cleanup (#1294)
  .github/workflows/docker_cleanup.yml
  doc/changelog.d/1294.fixed.md
Labels: maintenance

chore: adding changelog file 1296.dependencies.md
  doc/changelog.d/1296.dependencies.md
Labels: none

chore: adding changelog file 1297.miscellaneous.md
  doc/changelog.d/1297.miscellaneous.md
Labels: none

Apply suggestions from code review
  src/ansys/geometry/core/tools/prepare_tools.py
  src/ansys/geometry/core/tools/problem_areas.py
  src/ansys/geometry/core/tools/repair_tools.py
Labels: none

Further cleanup/conventions
  src/ansys/geometry/core/tools/prepare_tools.py
Labels: none

name setter and fill style getter setters
  src/ansys/geometry/core/designer/body.py
Labels: none

chore: adding changelog file 1299.added.md
  doc/changelog.d/1299.added.md
Labels: none

cleanup
  src/ansys/geometry/core/designer/body.py
Labels: none

chore: adding changelog file 1299.added.md
  doc/changelog.d/1299.added.md
Labels: none

name set for across the board
  src/ansys/geometry/core/designer/body.py
Labels: none
