Repository ansys/pyansys-geometry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

chore: adding changelog file 1665.added.md [dependabot-skip]
  doc/changelog.d/1665.added.md
Labels: none

feat: parameters refurbished (#1647)
  doc/changelog.d/1647.added.md
  doc/source/_static/thumbnails/block_with_parameters.png
  doc/source/conf.py
  doc/source/examples.rst
  doc/source/examples/03_modeling/design_parameters.mystnb
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/parameters/__init__.py
  src/ansys/geometry/core/parameters/parameter.py
  tests/integration/test_design.py
Labels: none

Trying to get split body through
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: none

Prototype implementation of split_body
  src/ansys/geometry/core/designer/geometry_commands.py
Labels: none

Corrections and add split body by face test
  src/ansys/geometry/core/connection/conversions.py
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: none

Tentatively working split body by plane
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: none

Add test for split body by edge splitter
  tests/integration/files/Edge_Slice_Test.dsco
  tests/integration/test_geometry_commands.py
Labels: none

Remove accidental change
  pyproject.toml
Labels: maintenance

Get split by faces test working
  pyproject.toml
  src/ansys/geometry/core/connection/conversions.py
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: maintenance

Cleanup and pre-commit run
  src/ansys/geometry/core/connection/conversions.py
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: none

chore: adding changelog file 1669.added.md [dependabot-skip]
  doc/changelog.d/1669.added.md
Labels: none

Add some new tests
  tests/integration/files/MissingFaces.scdocx
  tests/integration/files/ShortEdges.scdocx
  tests/integration/files/SmallFaces.scdocx
  tests/integration/files/Stitch_And_MissingFaces.scdocx
  tests/integration/files/bracket-with-split-edges.scdocx
  tests/integration/test_repair_tools.py
Labels: none

chore: adding changelog file 1670.test.md [dependabot-skip]
  doc/changelog.d/1670.test.md
Labels: none

test sphinx theme whatsnew branch
  pyproject.toml
Labels: maintenance

Enable get/set persistent ids for stride import/export
  src/ansys/geometry/core/misc/auxiliary.py
  src/ansys/geometry/core/misc/unsupported.py
  src/ansys/geometry/core/modeler.py
  tests/integration/test_design_import.py
Labels: none

chore: adding changelog file 1671.added.md [dependabot-skip]
  doc/changelog.d/1671.added.md
Labels: none

Find and Fix Edges Methods (split, extra, short)
  src/ansys/geometry/core/tools/repair_tools.py
Labels: none

chore: adding changelog file 1672.added.md [dependabot-skip]
  doc/changelog.d/1672.added.md
Labels: none

ShellBodies: implemented and tested
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: none

chore: adding changelog file 1673.added.md [dependabot-skip]
  doc/changelog.d/1673.added.md
Labels: none

fix import
  src/ansys/geometry/core/misc/unsupported.py
Labels: none

minor fixes
  src/ansys/geometry/core/misc/auxiliary.py
  src/ansys/geometry/core/modeler.py
Labels: none

pr fixes
  src/ansys/geometry/core/misc/unsupported.py
  tests/integration/test_design_import.py
Labels: none

feat: replace face (#1664)
  doc/changelog.d/1664.added.md
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: none

fix test
  tests/integration/test_geometry_commands.py
Labels: none

debug test
  tests/integration/test_design_import.py
Labels: none

fix test
  tests/integration/test_design_import.py
Labels: none

fix test
  tests/integration/test_design_import.py
Labels: none

removing and adding parameter checks
  src/ansys/geometry/core/tools/problem_areas.py
  src/ansys/geometry/core/tools/repair_tools.py
Labels: none

feat: enable get/set persistent ids for stride import/export (#1671)
  doc/changelog.d/1671.added.md
  src/ansys/geometry/core/misc/auxiliary.py
  src/ansys/geometry/core/misc/unsupported.py
  src/ansys/geometry/core/modeler.py
  tests/integration/test_design_import.py
Labels: none

feat: revolve faces a set distance, up to another object, or by a helix (#1666)
  doc/changelog.d/1666.added.md
  src/ansys/geometry/core/connection/conversions.py
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: none

feat: find fix simplify (#1661)
  doc/changelog.d/1661.added.md
  src/ansys/geometry/core/tools/problem_areas.py
  src/ansys/geometry/core/tools/repair_tools.py
  tests/integration/files/SOBracket2.scdocx
  tests/integration/test_repair_tools.py
Labels: none

test: Add some new tests (#1670)
  doc/changelog.d/1670.test.md
  tests/integration/files/MissingFaces.scdocx
  tests/integration/files/ShortEdges.scdocx
  tests/integration/files/SmallFaces.scdocx
  tests/integration/files/Stitch_And_MissingFaces.scdocx
  tests/integration/files/bracket-with-split-edges.scdocx
  tests/integration/test_repair_tools.py
Labels: none

fix: tab issues
  src/ansys/geometry/core/tools/repair_tools.py
Labels: none

Correct bad merge and pre-commit check
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: none

Add check_input_types decorator for split_body
  src/ansys/geometry/core/designer/geometry_commands.py
Labels: none

feat: implementation of NURBS curves (client-based(
  pyproject.toml
  src/ansys/geometry/core/shapes/__init__.py
  src/ansys/geometry/core/shapes/curves/__init__.py
  src/ansys/geometry/core/shapes/curves/nurbs.py
  tests/test_primitives.py
Labels: maintenance, testing

chore: adding changelog file 1675.added.md [dependabot-skip]
  doc/changelog.d/1675.added.md
Labels: none

Better checking
  src/ansys/geometry/core/designer/geometry_commands.py
Labels: none

getting dimensionless value
  src/ansys/geometry/core/math/matrix.py
  tests/test_math.py
Labels: testing
