Repository ansys/pyansys-geometry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

fix: Update viz tool dependency
  pyproject.toml
Labels: maintenance

Update src/ansys/geometry/core/plotting/plotter.py
  src/ansys/geometry/core/plotting/plotter.py
Labels: none

fix: typo
  doc/source/examples/01_getting_started/05_plotter_picker.mystnb
Labels: none

fix: Rename built in shadowing variables (#1257)
  doc/changelog.d/1257.fixed.md
  pyproject.toml
  src/ansys/geometry/core/plotting/plotter.py
Labels: maintenance

test: verifying issue 1192
  tests/integration/test_design.py
  tests/integration/test_design_import.py
Labels: none

Adding changelog entry: 1258.fixed.md
  doc/changelog.d/1258.fixed.md
Labels: none

feat: deprecating log_level and logs_folder + adding client log control
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/connection/product_instance.py
Labels: none

Adding changelog entry: 1260.added.md
  doc/changelog.d/1260.added.md
Labels: none

feat: deprecating log_level and logs_folder + adding client log control (#1260)
  doc/changelog.d/1260.added.md
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/connection/product_instance.py
Labels: none

feat: adding deprecation support for args and methods
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/connection/product_instance.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/misc/__init__.py
  src/ansys/geometry/core/misc/checks.py
  src/ansys/geometry/core/plotting/plotter.py
Labels: none

Adding changelog entry: 1261.added.md
  doc/changelog.d/1261.added.md
Labels: none

fix: testing
  src/ansys/geometry/core/misc/checks.py
  tests/test_misc_checks.py
Labels: testing

feat: adding deprecation support for args and methods (#1261)
  doc/changelog.d/1261.added.md
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/connection/product_instance.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/misc/__init__.py
  src/ansys/geometry/core/misc/checks.py
  src/ansys/geometry/core/plotting/plotter.py
  tests/test_misc_checks.py
Labels: testing

ci: simplify doc build using ansys/actions
  .github/workflows/ci_cd.yml
Labels: maintenance

Adding changelog entry: 1262.changed.md
  doc/changelog.d/1262.changed.md
Labels: none

fix: setup headless display
  .github/workflows/ci_cd.yml
Labels: maintenance

ci: simplify doc build using ansys/actions (#1262)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1262.changed.md
Labels: maintenance

release: v0.6.2
  doc/source/assets.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v0.6.2
  doc/changelog.d/1256.changed.md
  doc/changelog.d/1257.fixed.md
  doc/changelog.d/1260.added.md
  doc/changelog.d/1261.added.md
  doc/changelog.d/1262.changed.md
  doc/source/changelog.rst
Labels: none

chore: updating CHANGELOG for v0.6.2
  doc/changelog.d/1256.changed.md
  doc/changelog.d/1257.fixed.md
  doc/changelog.d/1260.added.md
  doc/changelog.d/1261.added.md
  doc/changelog.d/1262.changed.md
  doc/source/changelog.rst
Labels: none

Adding changelog entry: 1263.changed.md
  doc/changelog.d/1263.changed.md
Labels: none

chore: update CHANGELOG for v0.6.2 (#1263)
  doc/changelog.d/1256.changed.md
  doc/changelog.d/1257.fixed.md
  doc/changelog.d/1260.added.md
  doc/changelog.d/1261.added.md
  doc/changelog.d/1262.changed.md
  doc/changelog.d/1263.changed.md
  doc/source/changelog.rst
Labels: none

fix: unnecessary Point3D comparison
  src/ansys/geometry/core/shapes/surfaces/sphere.py
Labels: none

Adding changelog entry: 1264.fixed.md
  doc/changelog.d/1264.fixed.md
Labels: none

Update src/ansys/geometry/core/shapes/surfaces/sphere.py
  src/ansys/geometry/core/shapes/surfaces/sphere.py
Labels: none

build: adapting to numpy 2.x
  pyproject.toml
  src/ansys/geometry/core/shapes/curves/line.py
  src/ansys/geometry/core/shapes/parameterization.py
  src/ansys/geometry/core/shapes/surfaces/cone.py
  src/ansys/geometry/core/shapes/surfaces/cylinder.py
  src/ansys/geometry/core/shapes/surfaces/plane.py
  src/ansys/geometry/core/shapes/surfaces/sphere.py
  src/ansys/geometry/core/sketch/box.py
  src/ansys/geometry/core/sketch/segment.py
  src/ansys/geometry/core/sketch/trapezoid.py
  src/ansys/geometry/core/sketch/triangle.py
  tests/test_parameterization.py
Labels: maintenance, testing

Adding changelog entry: 1265.changed.md
  doc/changelog.d/1265.changed.md
Labels: none

Adding changelog entry: 1266.dependencies.md
  doc/changelog.d/1266.dependencies.md
Labels: none

Adding changelog entry: 1267.miscellaneous.md
  doc/changelog.d/1267.miscellaneous.md
Labels: none

build: adapting to numpy 2.x (#1265)
  doc/changelog.d/1265.changed.md
  pyproject.toml
  src/ansys/geometry/core/shapes/curves/line.py
  src/ansys/geometry/core/shapes/parameterization.py
  src/ansys/geometry/core/shapes/surfaces/cone.py
  src/ansys/geometry/core/shapes/surfaces/cylinder.py
  src/ansys/geometry/core/shapes/surfaces/plane.py
  src/ansys/geometry/core/shapes/surfaces/sphere.py
  src/ansys/geometry/core/sketch/box.py
  src/ansys/geometry/core/sketch/segment.py
  src/ansys/geometry/core/sketch/trapezoid.py
  src/ansys/geometry/core/sketch/triangle.py
  tests/test_parameterization.py
Labels: maintenance, testing

fix: remove linkcheck from makefile
  doc/Makefile
  doc/make.bat
Labels: none

fix: Python 3.9 support for numpy
  pyproject.toml
Labels: maintenance

Adding changelog entry: 1268.fixed.md
  doc/changelog.d/1268.fixed.md
Labels: none

attempt
  .github/workflows/ci_cd.yml
  doc/source/conf.py
Labels: maintenance

fix: pre-commit
  doc/source/conf.py
Labels: none

fix: revert
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: minor issues
  .github/workflows/ci_cd.yml
  doc/Makefile
  doc/make.bat
  doc/source/conf.py
Labels: maintenance

fix: info message
  doc/source/conf.py
Labels: none

docs: examples are not being uploaded as assets (.py/.ipynb) (#1268)
  .github/workflows/ci_cd.yml
  doc/Makefile
  doc/changelog.d/1268.fixed.md
  doc/make.bat
  doc/source/conf.py
  pyproject.toml
Labels: maintenance

fix: change action order
  .github/workflows/ci_cd.yml
Labels: maintenance
