Repository ansys/pyansys-geometry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

CI: add PyPI public release step
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: solving pre-commit issues
  src/ansys/geometry/core/connection/conversions.py
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/connection/local_instance.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/logger.py
  src/ansys/geometry/core/materials/material.py
  src/ansys/geometry/core/math/frame.py
  src/ansys/geometry/core/math/vector.py
  src/ansys/geometry/core/misc/measurements.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/typing.py
  tests/integration/test_design.py
  tests/test_misc_checks.py
Labels: testing

Apply PR feedbacks
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/connection/launcher.py
Labels: none

Update backend.py
  src/ansys/geometry/core/connection/backend.py
Labels: none

CI: comment out public release job
  .github/workflows/ci_cd.yml
Labels: maintenance

.github/labeler.yml:

documentation:
- doc/source/**/*
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
testing:
- tests/*
