Repository ansys/pyansys-geometry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

feat: drop support for Python 3.9
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  doc/source/assets.rst
  doc/source/conf.py
  doc/source/getting_started/installation.rst
  pyproject.toml
  tox.ini
Labels: maintenance

chore: adding changelog file 1341.added.md
  doc/changelog.d/1341.added.md
Labels: none

chore: adding changelog file 1341.added.md
  doc/changelog.d/1341.added.md
Labels: none

build: drop support for Python 3.9 (#1341)
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  doc/changelog.d/1341.added.md
  doc/source/assets.rst
  doc/source/conf.py
  doc/source/getting_started/installation.rst
  pyproject.toml
  tox.ini
Labels: maintenance

chore: adding changelog file 1342.dependencies.md
  doc/changelog.d/1342.dependencies.md
Labels: none

chore: adding changelog file 1344.dependencies.md
  doc/changelog.d/1344.dependencies.md
Labels: none

chore: adding changelog file 1343.dependencies.md
  doc/changelog.d/1343.dependencies.md
Labels: none

chore: adding changelog file 1345.miscellaneous.md
  doc/changelog.d/1345.miscellaneous.md
Labels: none

feat: adapting beartype typehints (wip)
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/connection/conversions.py
  src/ansys/geometry/core/connection/docker_instance.py
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/connection/product_instance.py
  src/ansys/geometry/core/designer/beam.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/designer/coordinate_system.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/designer/designpoint.py
  src/ansys/geometry/core/designer/edge.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/designer/part.py
  src/ansys/geometry/core/designer/selection.py
  src/ansys/geometry/core/logger.py
  src/ansys/geometry/core/materials/material.py
  src/ansys/geometry/core/materials/property.py
  src/ansys/geometry/core/math/bbox.py
  src/ansys/geometry/core/math/frame.py
  src/ansys/geometry/core/math/matrix.py
  src/ansys/geometry/core/math/misc.py
  src/ansys/geometry/core/math/plane.py
  src/ansys/geometry/core/math/point.py
  src/ansys/geometry/core/math/vector.py
  src/ansys/geometry/core/misc/auxiliary.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/typing.py
Labels: none

chore: adding changelog file 1347.added.md
  doc/changelog.d/1347.added.md
Labels: none

feat: final typehints adapted
  doc/source/conf.py
  src/ansys/geometry/core/misc/checks.py
  src/ansys/geometry/core/misc/measurements.py
  src/ansys/geometry/core/misc/units.py
  src/ansys/geometry/core/plotting/plotter.py
  src/ansys/geometry/core/shapes/curves/circle.py
  src/ansys/geometry/core/shapes/curves/curve.py
  src/ansys/geometry/core/shapes/curves/ellipse.py
  src/ansys/geometry/core/shapes/curves/line.py
  src/ansys/geometry/core/shapes/curves/trimmed_curve.py
  src/ansys/geometry/core/shapes/surfaces/cone.py
  src/ansys/geometry/core/shapes/surfaces/cylinder.py
  src/ansys/geometry/core/shapes/surfaces/plane.py
  src/ansys/geometry/core/shapes/surfaces/sphere.py
  src/ansys/geometry/core/shapes/surfaces/surface.py
  src/ansys/geometry/core/shapes/surfaces/torus.py
  src/ansys/geometry/core/sketch/arc.py
  src/ansys/geometry/core/sketch/box.py
  src/ansys/geometry/core/sketch/circle.py
  src/ansys/geometry/core/sketch/edge.py
  src/ansys/geometry/core/sketch/ellipse.py
  src/ansys/geometry/core/sketch/face.py
  src/ansys/geometry/core/sketch/gears.py
  src/ansys/geometry/core/sketch/polygon.py
  src/ansys/geometry/core/sketch/sketch.py
  src/ansys/geometry/core/sketch/slot.py
  src/ansys/geometry/core/sketch/trapezoid.py
  src/ansys/geometry/core/tools/measurement_tools.py
  src/ansys/geometry/core/tools/prepare_tools.py
  src/ansys/geometry/core/tools/problem_areas.py
  src/ansys/geometry/core/tools/repair_tool_message.py
  src/ansys/geometry/core/tools/repair_tools.py
  tests/integration/test_logging_client.py
  tests/test_logging.py
Labels: testing

fix: remove unnecessary future statement
  src/ansys/geometry/core/connection/client.py
Labels: none

ci: updating Ansys actions to v7 - changelog related
  .github/workflows/ci_cd.yml
  .github/workflows/docker_cleanup.yml
  .github/workflows/label.yml
  .github/workflows/nightly_docker_test.yml
Labels: maintenance

chore: adding changelog file 1348.maintenance.md
  doc/changelog.d/1348.maintenance.md
  pyproject.toml
Labels: maintenance

ci: use conventional commits
  .github/workflows/label.yml
Labels: maintenance

chore: adding changelog file 1348.maintenance.md
  doc/changelog.d/1348.maintenance.md
Labels: none

ci: use default towncrier config
  .github/workflows/label.yml
Labels: maintenance

ci: remove config
  doc/changelog.d/1348.maintenance.md
  pyproject.toml
Labels: maintenance

chore: adding changelog file 1348.maintenance.md
  doc/changelog.d/1348.maintenance.md
  pyproject.toml
Labels: maintenance

feat: update conf for version 1.x of ansys-sphinx-theme
  doc/source/conf.py
Labels: none

maint: update versions
  pyproject.toml
Labels: maintenance

chore: adding changelog file 1351.changed.md
  doc/changelog.d/1351.changed.md
Labels: none

Update pyproject.toml
  pyproject.toml
Labels: maintenance

Update pyproject.toml
  pyproject.toml
Labels: maintenance

Update pyproject.toml
  pyproject.toml
Labels: maintenance

chore: adding changelog file 1352.maintenance.md
  doc/changelog.d/1352.maintenance.md
  pyproject.toml
Labels: maintenance

chore: adding changelog file 1351.documentation.md
  doc/changelog.d/1351.documentation.md
Labels: none

feat: use specific branch
  .github/workflows/ci_cd.yml
Labels: maintenance

Update pyproject.toml
  pyproject.toml
Labels: maintenance

Update .github/workflows/ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: clean properly docs dir
  doc/make.bat
Labels: none

fix: use new version
  pyproject.toml
Labels: maintenance

Update pyproject.toml
  pyproject.toml
Labels: maintenance

feat: update conf for version 1.x of ansys-sphinx-theme (#1351)
  doc/changelog.d/1351.documentation.md
  doc/make.bat
  doc/source/conf.py
  pyproject.toml
Labels: maintenance

chore: adding changelog file 1353.dependencies.md
  doc/changelog.d/1353.dependencies.md
Labels: none

ci: updating Ansys actions to v7 - changelog related (#1348)
  .github/workflows/label.yml
  doc/changelog.d/1348.maintenance.md
  pyproject.toml
Labels: maintenance

chore: adding changelog file 1353.dependencies.md
  doc/changelog.d/1353.dependencies.md
Labels: none

ci: pre-commit update
  .pre-commit-config.yaml
Labels: none

fix: changing trapezoid signature and impl.
  src/ansys/geometry/core/sketch/sketch.py
  src/ansys/geometry/core/sketch/trapezoid.py
Labels: none

fix: pre-commit
  src/ansys/geometry/core/sketch/sketch.py
  src/ansys/geometry/core/sketch/trapezoid.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'
