Repository ansys/pyansys-geometry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

chore: adding changelog file 1683.added.md [dependabot-skip]
  doc/changelog.d/1683.added.md
Labels: none

chore: adding changelog file 1683.test.md [dependabot-skip]
  doc/changelog.d/1683.added.md
  doc/changelog.d/1683.test.md
Labels: none

Rename test and add new test
  tests/integration/test_repair_tools.py
Labels: none

Remove unnecessary parameter
  src/ansys/geometry/core/tools/repair_tools.py
Labels: none

More tests
  tests/integration/test_repair_tools.py
Labels: none

remove keep_other from unite method
  src/ansys/geometry/core/designer/body.py
Labels: none

remove "result" from response since the message isn't nested
  src/ansys/geometry/core/tools/repair_tools.py
Labels: none

added ability to get material from body
  src/ansys/geometry/core/connection/conversions.py
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: none

chore: adding changelog file 1684.added.md [dependabot-skip]
  doc/changelog.d/1684.added.md
Labels: none

Fix input values
  tests/integration/test_repair_tools.py
Labels: none

put 139 instead of 138
  tests/integration/test_repair_tools.py
Labels: none

Add tests for stride format
  tests/integration/conftest.py
  tests/integration/files/import/twoCars.stride
  tests/integration/test_design.py
  tests/integration/test_design_export.py
  tests/integration/test_design_import.py
Labels: none

rename, cleanup, revert out of scope changes
  src/ansys/geometry/core/math/matrix.py
  src/ansys/geometry/core/math/vector.py
  tests/test_math.py
Labels: testing

feat: shell methods (#1673)
  doc/changelog.d/1673.added.md
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: none

Apply suggestions from code review
  src/ansys/geometry/core/tools/repair_tools.py
Labels: none

Update src/ansys/geometry/core/tools/problem_areas.py
  src/ansys/geometry/core/tools/problem_areas.py
Labels: none

feat: interference repair tool (#1633)
  doc/changelog.d/1633.added.md
  src/ansys/geometry/core/tools/problem_areas.py
  src/ansys/geometry/core/tools/repair_tools.py
  tests/integration/files/SimpleInterference.scdocx
  tests/integration/test_repair_tools.py
Labels: none

Update src/ansys/geometry/core/connection/product_instance.py
  src/ansys/geometry/core/connection/product_instance.py
Labels: none

Update tests/integration/conftest.py
  tests/integration/conftest.py
Labels: none

Update test_design_import.py
  tests/integration/test_design_import.py
Labels: none

Further test fix and pre-commit
  tests/integration/test_design_import.py
Labels: none

chore: adding changelog file 1685.fixed.md [dependabot-skip]
  doc/changelog.d/1685.fixed.md
Labels: none

fix: filter set export id to only CoreService based backends (#1685)
  doc/changelog.d/1685.fixed.md
  tests/integration/test_design_import.py
Labels: none

Invert parameters order to match the one in the backend
  tests/integration/test_repair_tools.py
Labels: none

chore: adding changelog file 1686.fixed.md [dependabot-skip]
  doc/changelog.d/1686.fixed.md
Labels: none

Enable real test for export id after CoreService update
  tests/integration/test_design_import.py
Labels: none

Update src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/body.py
Labels: none

added units to default density
  src/ansys/geometry/core/connection/conversions.py
Labels: none

feat: get assigned material (#1684)
  doc/changelog.d/1684.added.md
  src/ansys/geometry/core/connection/conversions.py
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: none

Avoid testing Disco export against SC
  tests/integration/conftest.py
  tests/integration/test_design_export.py
Labels: none

feat: add nurbs curve point projection evaluation
  src/ansys/geometry/core/shapes/curves/nurbs.py
  tests/test_primitives.py
Labels: testing

Update test_design.py
  tests/integration/test_design.py
Labels: none

chore: adding changelog file 1687.dependencies.md [dependabot-skip]
  doc/changelog.d/1687.dependencies.md
Labels: none

matrix rotation and translation
  src/ansys/geometry/core/math/matrix.py
  tests/test_math.py
Labels: testing

matrix rotation and translation
  src/ansys/geometry/core/math/matrix.py
  tests/test_math.py
Labels: testing

chore: adding changelog file 1689.added.md [dependabot-skip]
  doc/changelog.d/1689.added.md
Labels: none

Update body.py
  src/ansys/geometry/core/designer/body.py
Labels: none

test: add unit tests for 3 repair tools (#1683)
  doc/changelog.d/1683.test.md
  src/ansys/geometry/core/tools/repair_tools.py
  tests/integration/test_repair_tools.py
Labels: none

feat: implementation of NURBS curves (#1675)
  doc/changelog.d/1675.added.md
  pyproject.toml
  src/ansys/geometry/core/shapes/__init__.py
  src/ansys/geometry/core/shapes/curves/__init__.py
  src/ansys/geometry/core/shapes/curves/nurbs.py
  tests/test_primitives.py
Labels: maintenance, testing

fix: cleanup unsupported module
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/tools/__init__.py
  src/ansys/geometry/core/tools/unsupported.py
  tests/integration/test_design_import.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'
