Repository ansys/pyansys-geometry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

fix: cleanup
  tests/integration/test_design_import.py
Labels: none

PR feedbacks
  src/ansys/geometry/core/designer/design.py
  tests/integration/test_design_import.py
  tests/integration/test_tessellation.py
Labels: none

Fix docstrings
  src/ansys/geometry/core/designer/design.py
Labels: none

feat: export and download stride format (#1698)
  doc/changelog.d/1698.added.md
  src/ansys/geometry/core/designer/design.py
  tests/integration/conftest.py
  tests/integration/files/import/twoCars.stride
  tests/integration/test_design.py
  tests/integration/test_design_export.py
  tests/integration/test_design_import.py
  tests/integration/test_geometry_commands.py
  tests/integration/test_tessellation.py
Labels: none

Update test_design.py
  tests/integration/test_design.py
Labels: none

Apply suggestions from code review
  src/ansys/geometry/core/designer/body.py
Labels: none

Update src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/body.py
Labels: none

feat: commands for merge and intersect (#1665)
  doc/changelog.d/1665.added.md
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
  tests/integration/test_geometry_commands.py
Labels: none

chore: adding changelog file 1700.dependencies.md [dependabot-skip]
  doc/changelog.d/1700.dependencies.md
Labels: none

ci: revert workflow modifications
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: adding changelog file 1701.added.md [dependabot-skip]
  doc/changelog.d/1701.added.md
Labels: none

chore: remove towncrier info duplicates
  pyproject.toml
Labels: maintenance

chore: adding changelog file 1702.maintenance.md [dependabot-skip]
  doc/changelog.d/1702.maintenance.md
Labels: none

chore: remove towncrier info duplicates (#1702)
  doc/changelog.d/1702.maintenance.md
  pyproject.toml
Labels: maintenance

fix: issues with connection/conversions.py
  src/ansys/geometry/core/connection/conversions.py
Labels: none

fix: issues with designer/body.py
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: none

fix: issues with designer/design.py
  src/ansys/geometry/core/designer/design.py
Labels: none

fix: issues with math/matrix.py
  src/ansys/geometry/core/math/matrix.py
Labels: none

fix: issues with parameters/parameters.py
  src/ansys/geometry/core/parameters/parameter.py
Labels: none

fix: issues with shapes/curves/nurbs.py
  src/ansys/geometry/core/shapes/curves/nurbs.py
Labels: none

dix: issues with tools/problem_areas.py
  src/ansys/geometry/core/tools/problem_areas.py
Labels: none

fix: issues with tools/repair_tools.py
  src/ansys/geometry/core/tools/repair_tools.py
Labels: none

fix: issues with tools/unsupported.py
  src/ansys/geometry/core/tools/unsupported.py
Labels: none

fix: issues with tests
  tests/integration/conftest.py
  tests/integration/test_design.py
  tests/integration/test_geometry_commands.py
  tests/test_primitives.py
Labels: testing

fix: issues with designer/geometry_commands.py and similar
  doc/source/examples/03_modeling/boolean_operations.mystnb
  src/ansys/geometry/core/connection/__init__.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/designer/geometry_commands.py
Labels: none

chore: adding changelog file 1703.fixed.md [dependabot-skip]
  doc/changelog.d/1703.fixed.md
Labels: none

fix: documentation build was failing
  doc/source/examples/03_modeling/.gitignore
  doc/source/examples/03_modeling/design_parameters.mystnb
Labels: none

fix: tech review fixes for blitz branch (#1703)
  doc/changelog.d/1703.fixed.md
  doc/source/examples/03_modeling/.gitignore
  doc/source/examples/03_modeling/boolean_operations.mystnb
  doc/source/examples/03_modeling/design_parameters.mystnb
  src/ansys/geometry/core/connection/__init__.py
  src/ansys/geometry/core/connection/conversions.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/designer/geometry_commands.py
  src/ansys/geometry/core/math/matrix.py
  src/ansys/geometry/core/parameters/parameter.py
  src/ansys/geometry/core/shapes/curves/nurbs.py
  src/ansys/geometry/core/tools/problem_areas.py
  src/ansys/geometry/core/tools/repair_tools.py
  src/ansys/geometry/core/tools/unsupported.py
  tests/integration/conftest.py
  tests/integration/test_design.py
  tests/integration/test_geometry_commands.py
  tests/test_primitives.py
Labels: testing

fix: url build for assets
  doc/source/conf.py
Labels: none

fix: ref to read_existing_design in docs
  doc/source/examples/03_modeling/design_parameters.mystnb
Labels: none

release: v0.8.2
  doc/source/assets.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: maintenance

chore: adding changelog file 1706.maintenance.md [dependabot-skip]
  doc/changelog.d/1706.maintenance.md
Labels: none

removed temporary design in insert_file to avoid multiple designs being active at once
  src/ansys/geometry/core/designer/design.py
  tests/integration/test_design_import.py
Labels: none

chore: adding changelog file 1707.added.md [dependabot-skip]
  doc/changelog.d/1707.added.md
Labels: none

feat: design activation changes (#1707)
  doc/changelog.d/1707.added.md
  src/ansys/geometry/core/designer/design.py
  tests/integration/test_design_import.py
Labels: none

test: verifying issue with empty intersect and temporal body creation (#1258)
  doc/changelog.d/1258.test.md
  tests/integration/test_design_import.py
  tests/integration/test_issues.py
Labels: none

fix: small typo
  doc/source/getting_started/docker/windows_container.rst
Labels: none

docs: add new contributors
  CONTRIBUTORS.md
Labels: none

chore: adding changelog file 1708.added.md [dependabot-skip]
  doc/changelog.d/1708.added.md
Labels: none

feat: add contributors (#1708)
  CONTRIBUTORS.md
  doc/changelog.d/1708.added.md
  doc/source/getting_started/docker/windows_container.rst
Labels: none
