Repository ansys/pyansys-geometry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

chore: adding changelog file 1690.fixed.md [dependabot-skip]
  doc/changelog.d/1690.fixed.md
Labels: none

fix: _designs is non-existing
  src/ansys/geometry/core/modeler.py
Labels: none

Disable unimplemented tests
  tests/integration/test_design.py
  tests/integration/test_design_export.py
Labels: none

Pre-commit
  tests/integration/test_design.py
  tests/integration/test_design_export.py
Labels: none

chore: adding changelog file 1691.fixed.md [dependabot-skip]
  doc/changelog.d/1691.fixed.md
Labels: none

Handle new backend types
  src/ansys/geometry/core/connection/backend.py
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/connection/product_instance.py
  src/ansys/geometry/core/modeler.py
  tests/integration/conftest.py
  tests/integration/test_design.py
  tests/integration/test_design_export.py
  tests/integration/test_design_import.py
  tests/integration/test_tessellation.py
  tests/integration/test_trimmed_geometry.py
Labels: none

Update client.py
  src/ansys/geometry/core/connection/client.py
Labels: none

Update modeler.py
  src/ansys/geometry/core/modeler.py
Labels: none

Update SkipIfLinux to SkipIfCoreService
  src/ansys/geometry/core/connection/client.py
  tests/integration/conftest.py
  tests/integration/test_design.py
  tests/integration/test_design_import.py
  tests/integration/test_issues.py
  tests/integration/test_measurement_tools.py
  tests/integration/test_prepare_tools.py
  tests/integration/test_repair_tools.py
  tests/integration/test_runscript.py
Labels: none

chore: adding changelog file 1692.added.md [dependabot-skip]
  doc/changelog.d/1692.added.md
Labels: none

fix: cleanup unsupported module (#1690)
  doc/changelog.d/1690.fixed.md
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/tools/__init__.py
  src/ansys/geometry/core/tools/unsupported.py
  tests/integration/test_design_import.py
Labels: none

ci: whitelist attrs
  .github/workflows/ci_cd.yml
Labels: maintenance

ci: use dedicate pygeometry-ci-2 runner
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: adding changelog file 1693.maintenance.md [dependabot-skip]
  doc/changelog.d/1693.maintenance.md
Labels: none

ci: whitelist attrs package
  .github/workflows/ci_cd.yml
Labels: maintenance

Improve docstring
  src/ansys/geometry/core/connection/backend.py
Labels: none

Update src/ansys/geometry/core/connection/backend.py
  src/ansys/geometry/core/connection/backend.py
Labels: none

Update src/ansys/geometry/core/connection/backend.py
  src/ansys/geometry/core/connection/backend.py
Labels: none

chore: adding changelog file 1692.added.md [dependabot-skip]
  doc/changelog.d/1692.added.md
Labels: none

Update src/ansys/geometry/core/connection/backend.py
  src/ansys/geometry/core/connection/backend.py
Labels: none

feat: is_core_service BackendType static method (#1692)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1692.added.md
  src/ansys/geometry/core/connection/backend.py
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/connection/product_instance.py
  src/ansys/geometry/core/modeler.py
  tests/integration/conftest.py
  tests/integration/test_design.py
  tests/integration/test_design_export.py
  tests/integration/test_design_import.py
  tests/integration/test_issues.py
  tests/integration/test_measurement_tools.py
  tests/integration/test_prepare_tools.py
  tests/integration/test_repair_tools.py
  tests/integration/test_runscript.py
  tests/integration/test_tessellation.py
  tests/integration/test_trimmed_geometry.py
Labels: maintenance

ci: enabling ci-2 runner on all workflows
  .github/workflows/ci_cd.yml
  .github/workflows/nightly_docker_test.yml
Labels: maintenance

fix: rename skips
  tests/integration/test_design_export.py
Labels: none

fix: allow internal runners to build
  doc/source/conf.py
Labels: none

ci: use dedicate pygeometry-ci-2 runner (#1693)
  .github/workflows/ci_cd.yml
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1693.maintenance.md
  doc/source/conf.py
Labels: maintenance

Geometry inspectdrepfffair
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/tools/geometry_check.py
  src/ansys/geometry/core/tools/repair_tools.py
Labels: none

retain backward compatibility
  src/ansys/geometry/core/designer/body.py
Labels: none

chore: adding changelog file 1695.dependencies.md [dependabot-skip]
  doc/changelog.d/1695.dependencies.md
Labels: none

unit test update
  src/ansys/geometry/core/math/matrix.py
  tests/test_math.py
Labels: testing

Update body.py
  src/ansys/geometry/core/designer/body.py
Labels: none

chore: adding changelog file 1696.maintenance.md [dependabot-skip]
  doc/changelog.d/1696.maintenance.md
Labels: none

clean-up and decorators
  src/ansys/geometry/core/tools/repair_tools.py
  tests/integration/test_design.py
Labels: none

unit test update
  tests/test_math.py
Labels: testing

feat: matrix rotation and translation (#1689)
  doc/changelog.d/1689.added.md
  src/ansys/geometry/core/math/matrix.py
  tests/test_math.py
Labels: testing

undo changes done in other branches
  src/ansys/geometry/core/connection/backend.py
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/connection/product_instance.py
Labels: none

Undo changes made in other branches
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/modeler.py
  tests/integration/conftest.py
  tests/integration/test_design.py
  tests/integration/test_design_export.py
  tests/integration/test_design_import.py
  tests/integration/test_tessellation.py
  tests/integration/test_trimmed_geometry.py
Labels: none

pre commit
  src/ansys/geometry/core/designer/design.py
  tests/integration/conftest.py
  tests/integration/test_design_export.py
Labels: none

fix: disable unimplemented tests (#1691)
  doc/changelog.d/1691.fixed.md
  tests/integration/test_design.py
  tests/integration/test_design_export.py
Labels: none

chore: adding changelog file 1698.added.md [dependabot-skip]
  doc/changelog.d/1698.added.md
Labels: none

fix: issues with tests
  tests/integration/test_geometry_commands.py
Labels: none
