Repository ansys/pyansys-geometry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

Adding changelog entry: 1194.changed.md
  doc/changelog.d/1194.changed.md
Labels: none

chore: update CHANGELOG for v0.5.4 (#1194)
  doc/changelog.d/1177.changed.md
  doc/changelog.d/1178.dependencies.md
  doc/changelog.d/1179.dependencies.md
  doc/changelog.d/1180.miscellaneous.md
  doc/changelog.d/1182.added.md
  doc/changelog.d/1183.miscellaneous.md
  doc/changelog.d/1186.dependencies.md
  doc/changelog.d/1187.dependencies.md
  doc/changelog.d/1188.dependencies.md
  doc/changelog.d/1189.dependencies.md
  doc/changelog.d/1190.dependencies.md
  doc/changelog.d/1193.miscellaneous.md
  doc/changelog.d/1194.changed.md
  doc/source/changelog.rst
Labels: none

fix: update the theme dependencies
  pyproject.toml
Labels: maintenance

Adding changelog entry: 1135.changed.md
  doc/changelog.d/1135.changed.md
Labels: none

docs: adapt ``ansys_sphinx_theme_autoapi`` extension for ``autoapi`` (#1135)
  doc/changelog.d/1135.changed.md
  doc/source/conf.py
  pyproject.toml
Labels: maintenance

fix: adapting ``Arc`` class constructor order to (start, end, center)
  src/ansys/geometry/core/sketch/arc.py
  src/ansys/geometry/core/sketch/gears.py
  src/ansys/geometry/core/sketch/sketch.py
  src/ansys/geometry/core/sketch/slot.py
  tests/integration/test_plotter.py
  tests/test_connection.py
  tests/test_sketch.py
Labels: testing

Adding changelog entry: 1196.fixed.md
  doc/changelog.d/1196.fixed.md
Labels: none

Adding changelog entry: 1198.dependencies.md
  doc/changelog.d/1198.dependencies.md
Labels: none

Adding changelog entry: 1199.dependencies.md
  doc/changelog.d/1199.dependencies.md
Labels: none

Adding changelog entry: 1200.dependencies.md
  doc/changelog.d/1200.dependencies.md
Labels: none

Adding changelog entry: 1201.dependencies.md
  doc/changelog.d/1201.dependencies.md
Labels: none

Adding changelog entry: 1202.miscellaneous.md
  doc/changelog.d/1202.miscellaneous.md
Labels: none

Update tests/test_sketch.py
  tests/test_sketch.py
Labels: testing

maint: limit requests library version under 2.32
  pyproject.toml
Labels: maintenance

Adding changelog entry: 1203.fixed.md
  doc/changelog.d/1203.fixed.md
Labels: none

Adding changelog entry: 1203.fixed.md
  doc/changelog.d/1203.fixed.md
Labels: none

chore: limit requests library version under 2.32 (#1203)
  doc/changelog.d/1203.fixed.md
  pyproject.toml
Labels: maintenance

fix: order of args
  src/ansys/geometry/core/sketch/arc.py
Labels: none

fix: adapting ``Arc`` class constructor order to (start, end, center) (#1196)
  doc/changelog.d/1196.fixed.md
  src/ansys/geometry/core/sketch/arc.py
  src/ansys/geometry/core/sketch/gears.py
  src/ansys/geometry/core/sketch/sketch.py
  src/ansys/geometry/core/sketch/slot.py
  tests/integration/test_plotter.py
  tests/test_connection.py
  tests/test_sketch.py
Labels: testing

Adding changelog entry: 1204.dependencies.md
  doc/changelog.d/1204.dependencies.md
Labels: none

Update pyproject.toml
  pyproject.toml
Labels: maintenance

release: v0.5.5
  doc/source/assets.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: maintenance

Updating CHANGELOG for v0.5.5
  doc/changelog.d/1135.changed.md
  doc/changelog.d/1194.changed.md
  doc/changelog.d/1196.fixed.md
  doc/changelog.d/1198.dependencies.md
  doc/changelog.d/1199.dependencies.md
  doc/changelog.d/1200.dependencies.md
  doc/changelog.d/1202.miscellaneous.md
  doc/changelog.d/1203.fixed.md
  doc/source/changelog.rst
Labels: none

Updating CHANGELOG for v0.5.5
  doc/changelog.d/1135.changed.md
  doc/changelog.d/1194.changed.md
  doc/changelog.d/1196.fixed.md
  doc/changelog.d/1198.dependencies.md
  doc/changelog.d/1199.dependencies.md
  doc/changelog.d/1200.dependencies.md
  doc/changelog.d/1202.miscellaneous.md
  doc/changelog.d/1203.fixed.md
  doc/source/changelog.rst
Labels: none

Adding changelog entry: 1205.changed.md
  doc/changelog.d/1205.changed.md
Labels: none

chore: update CHANGELOG for v0.5.5 (#1205)
  doc/changelog.d/1135.changed.md
  doc/changelog.d/1194.changed.md
  doc/changelog.d/1196.fixed.md
  doc/changelog.d/1198.dependencies.md
  doc/changelog.d/1199.dependencies.md
  doc/changelog.d/1200.dependencies.md
  doc/changelog.d/1202.miscellaneous.md
  doc/changelog.d/1203.fixed.md
  doc/changelog.d/1205.changed.md
  doc/source/changelog.rst
Labels: none

Apply suggestions from code review
  pyproject.toml
Labels: maintenance

Adding changelog entry: 1204.dependencies.md
  doc/changelog.d/1204.dependencies.md
Labels: none

Adding changelog entry: 959.added.md
  doc/changelog.d/959.added.md
Labels: none

feat: Adapt to release
  pyproject.toml
  src/ansys/geometry/core/plotting/plotter.py
  src/ansys/geometry/core/plotting/widgets/show_design_point.py
  tests/integration/test_plotter.py
Labels: maintenance

TMP: add pkg_resources dependency
  pyproject.toml
Labels: maintenance

test: temporary import
  pyproject.toml
Labels: maintenance

fix: Use union
  src/ansys/geometry/core/plotting/plotter.py
Labels: none

fix: Several fixes
  .github/workflows/ci_cd.yml
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/plotting/plotter.py
  src/ansys/geometry/core/sketch/sketch.py
  tests/integration/test_plotter.py
Labels: maintenance

feat: add new arc constructors
  src/ansys/geometry/core/math/__init__.py
  src/ansys/geometry/core/math/misc.py
  src/ansys/geometry/core/sketch/arc.py
  src/ansys/geometry/core/sketch/sketch.py
Labels: none

Adding changelog entry: 1208.added.md
  doc/changelog.d/1208.added.md
Labels: none

tmp: Add dependency from main branch
  pyproject.toml
  src/ansys/geometry/core/plotting/plotter.py
Labels: maintenance

fix: Dependency
  pyproject.toml
Labels: maintenance

fix: Dependency
  pyproject.toml
Labels: maintenance

fix: dependency
  pyproject.toml
Labels: maintenance

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'
