Repository ansys/pyansys-geometry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

check_type for plane
  src/ansys/geometry/core/designer/geometry_commands.py
Labels: none

rename variable
  tests/test_math.py
Labels: testing

Add cludge to get batch tests working
  tests/integration/test_design.py
  tests/integration/test_geometry_commands.py
Labels: none

type checking / documentation fixes
  src/ansys/geometry/core/tools/repair_tools.py
Labels: none

fix indentation
  src/ansys/geometry/core/tools/repair_tools.py
Labels: none

feat: add split body and tests (#1669)
  doc/changelog.d/1669.added.md
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/files/Edge_Slice_Test.dsco
  tests/integration/test_design.py
  tests/integration/test_geometry_commands.py
Labels: none

move type check inside method
  src/ansys/geometry/core/tools/repair_tools.py
Labels: none

moved shell_body and remove_faces to body.py and tests to test_design.py per Roberto's comments and scrum discussion today
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_design.py
  tests/integration/test_geometry_commands.py
Labels: none

adding docstring ignore
  src/ansys/geometry/core/designer/body.py
Labels: none

Update design.py
  src/ansys/geometry/core/designer/design.py
Labels: none

bump ansys-api-geometry from 0.4.28 to 0.4.32
  pyproject.toml
Labels: maintenance

Create 1672.dependencies.md
  doc/changelog.d/1672.dependencies.md
Labels: none

chore: adding changelog file 1676.dependencies.md [dependabot-skip]
  doc/changelog.d/1676.dependencies.md
Labels: none

Delete 1672.dependencies.md
  doc/changelog.d/1672.dependencies.md
Labels: none

chore: adding changelog file 1677.dependencies.md [dependabot-skip]
  doc/changelog.d/1677.dependencies.md
Labels: none

fix issues with commands and adjust unit tests
  src/ansys/geometry/core/designer/body.py
  test_bool_with_command.py
  tests/integration/test_design.py
  tests/integration/test_geometry_commands.py
Labels: none

apply style change
  src/ansys/geometry/core/designer/body.py
  test_bool_with_command.py
  tests/integration/test_design.py
Labels: none

Delete test_bool_with_command.py
  test_bool_with_command.py
Labels: none

Update test_design.py
  tests/integration/test_design.py
Labels: none

Add new BackendType and tests for stride and disco exports
  src/ansys/geometry/core/connection/backend.py
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/connection/product_instance.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/modeler.py
  tests/integration/conftest.py
  tests/integration/test_design.py
  tests/integration/test_design_export.py
  tests/integration/test_design_import.py
  tests/integration/test_tessellation.py
  tests/integration/test_trimmed_geometry.py
Labels: none

Delete doc/changelog.d/1676.dependencies.md
  doc/changelog.d/1676.dependencies.md
Labels: none

Update client.py
  src/ansys/geometry/core/connection/client.py
Labels: none

Update ansys-api-geometry dependency
  pyproject.toml
Labels: maintenance

Apply backend changes and perform the right tests with it
  src/ansys/geometry/core/connection/backend.py
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/connection/product_instance.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/modeler.py
  tests/integration/conftest.py
  tests/integration/test_design.py
  tests/integration/test_design_export.py
  tests/integration/test_tessellation.py
Labels: none

chore: adding changelog file 1679.added.md [dependabot-skip]
  doc/changelog.d/1679.added.md
Labels: none

fixed check types with decorator
  src/ansys/geometry/core/designer/body.py
Labels: none

ci: ensure design is closed on test exit
  src/ansys/geometry/core/modeler.py
  tests/integration/conftest.py
  tests/integration/test_design.py
  tests/integration/test_geometry_commands.py
Labels: none

chore: adding changelog file 1680.maintenance.md [dependabot-skip]
  doc/changelog.d/1680.maintenance.md
Labels: none

fix conflicts
  src/ansys/geometry/core/tools/problem_areas.py
  src/ansys/geometry/core/tools/repair_tools.py
Labels: none

fix: cleaner implementation
  tests/integration/conftest.py
Labels: none

fix: pre-commit
  tests/integration/conftest.py
Labels: none

ci: ensure design is closed on test exit (#1680)
  doc/changelog.d/1680.maintenance.md
  src/ansys/geometry/core/modeler.py
  tests/integration/conftest.py
  tests/integration/test_design.py
  tests/integration/test_geometry_commands.py
Labels: none

build: bump ansys api geometry from 0.4.30 to 0.4.32 (#1677)
  doc/changelog.d/1677.dependencies.md
  pyproject.toml
Labels: maintenance

Update body.py
  src/ansys/geometry/core/designer/body.py
Labels: none

fix style issues
  src/ansys/geometry/core/designer/body.py
Labels: none

Update test_design.py
  tests/integration/test_design.py
Labels: none

chore: adding changelog file 1682.dependencies.md [dependabot-skip]
  doc/changelog.d/1682.dependencies.md
Labels: none

feat: find and fix edge methods (#1672)
  doc/changelog.d/1672.added.md
  src/ansys/geometry/core/tools/repair_tools.py
Labels: none

chore: adding changelog file 1681.dependencies.md [dependabot-skip]
  doc/changelog.d/1681.dependencies.md
Labels: none

"from ansys.geometry.core.designer.body import Body" locally;
  src/ansys/geometry/core/tools/repair_tools.py
Labels: none
