Repository ansys/pyansys-geometry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

chore: adding changelog file 1354.fixed.md
  doc/changelog.d/1354.fixed.md
Labels: none

fix: rename variables
  src/ansys/geometry/core/sketch/sketch.py
  src/ansys/geometry/core/sketch/trapezoid.py
Labels: none

fix: trapezoid testing
  src/ansys/geometry/core/sketch/trapezoid.py
  tests/integration/test_plotter.py
  tests/test_sketch.py
Labels: testing

ci: reset image cache
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: pre-commit
  tests/test_sketch.py
Labels: testing

chore: adding changelog file 1355.dependencies.md
  doc/changelog.d/1355.dependencies.md
Labels: none

chore: adding changelog file 1356.dependencies.md
  doc/changelog.d/1356.dependencies.md
Labels: none

get and set for colors
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: none

get and set for colors
  src/ansys/geometry/core/designer/body.py
Labels: none

updates
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: none

chore: adding changelog file 1358.maintenance.md
  doc/changelog.d/1358.maintenance.md
Labels: none

test: add symmetric trapezoid test
  tests/integration/test_plotter.py
Labels: none

docs: add warning message on signature change
  src/ansys/geometry/core/sketch/trapezoid.py
Labels: none

fix: import
  src/ansys/geometry/core/sketch/trapezoid.py
Labels: none

chore: adding changelog file 1357.added.md
  doc/changelog.d/1357.added.md
Labels: none

fix: trapezoid signature change and internal checks (#1354)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1354.fixed.md
  src/ansys/geometry/core/sketch/sketch.py
  src/ansys/geometry/core/sketch/trapezoid.py
  tests/integration/test_plotter.py
  tests/test_sketch.py
Labels: maintenance, testing

release: v0.7.0
  doc/source/assets.rst
  doc/source/changelog.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v0.7.0
  doc/changelog.d/1341.added.md
  doc/changelog.d/1342.dependencies.md
  doc/changelog.d/1344.dependencies.md
  doc/changelog.d/1345.miscellaneous.md
  doc/changelog.d/1347.added.md
  doc/changelog.d/1348.maintenance.md
  doc/changelog.d/1351.documentation.md
  doc/changelog.d/1352.maintenance.md
  doc/changelog.d/1353.dependencies.md
  doc/changelog.d/1354.fixed.md
  doc/changelog.d/1355.dependencies.md
  doc/changelog.d/1356.dependencies.md
  doc/changelog.d/1358.maintenance.md
  doc/source/changelog.rst
Labels: none

chore: updating CHANGELOG for v0.7.0
  doc/changelog.d/1341.added.md
  doc/changelog.d/1342.dependencies.md
  doc/changelog.d/1344.dependencies.md
  doc/changelog.d/1345.miscellaneous.md
  doc/changelog.d/1347.added.md
  doc/changelog.d/1348.maintenance.md
  doc/changelog.d/1351.documentation.md
  doc/changelog.d/1352.maintenance.md
  doc/changelog.d/1353.dependencies.md
  doc/changelog.d/1354.fixed.md
  doc/changelog.d/1355.dependencies.md
  doc/changelog.d/1356.dependencies.md
  doc/changelog.d/1358.maintenance.md
  doc/source/changelog.rst
Labels: none

chore: adding changelog file 1360.maintenance.md
  doc/changelog.d/1360.maintenance.md
Labels: none

chore: bump dev branch to v0.8.dev0
  SECURITY.md
  doc/source/assets.rst
  doc/source/changelog.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: maintenance

chore: adding changelog file 1361.maintenance.md
  doc/changelog.d/1361.maintenance.md
Labels: none

Delete doc/changelog.d/1339.changed.md
  doc/changelog.d/1339.changed.md
Labels: none

chore: update CHANGELOG for v0.7.0 (#1360)
  doc/changelog.d/1341.added.md
  doc/changelog.d/1342.dependencies.md
  doc/changelog.d/1344.dependencies.md
  doc/changelog.d/1345.miscellaneous.md
  doc/changelog.d/1347.added.md
  doc/changelog.d/1348.maintenance.md
  doc/changelog.d/1351.documentation.md
  doc/changelog.d/1352.maintenance.md
  doc/changelog.d/1353.dependencies.md
  doc/changelog.d/1354.fixed.md
  doc/changelog.d/1355.dependencies.md
  doc/changelog.d/1356.dependencies.md
  doc/changelog.d/1358.maintenance.md
  doc/changelog.d/1360.maintenance.md
  doc/source/changelog.rst
Labels: none

chore: bump dev branch to v0.8.dev0 (#1361)
  SECURITY.md
  doc/changelog.d/1361.maintenance.md
  doc/source/assets.rst
  doc/source/changelog.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: maintenance

color object updates
  src/ansys/geometry/core/designer/body.py
Labels: none

checks for out of range values for RGB
  src/ansys/geometry/core/designer/body.py
Labels: none

cleaning.
  src/ansys/geometry/core/designer/body.py
Labels: none

unit test fix.
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: none

clean up
  tests/integration/test_design.py
Labels: none

chore: adding changelog file 1340.added.md
  doc/changelog.d/1340.added.md
Labels: none

contn
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/parameters/driving_dimensions.py
Labels: none

chore: adding changelog file 1363.dependencies.md
  doc/changelog.d/1363.dependencies.md
Labels: none

chore: adding changelog file 1364.dependencies.md
  doc/changelog.d/1364.dependencies.md
Labels: none

chore: adding changelog file 1365.dependencies.md
  doc/changelog.d/1365.dependencies.md
Labels: none

feat: enhancements
  src/ansys/geometry/core/designer/body.py
Labels: none

fix: defaults
  src/ansys/geometry/core/designer/body.py
Labels: none

ci: pragma no cover statements
  src/ansys/geometry/core/designer/body.py
Labels: none

fix: pre-commit
  src/ansys/geometry/core/designer/body.py
Labels: none

chore: adding changelog file 1366.maintenance.md
  doc/changelog.d/1366.maintenance.md
Labels: none
