Repository ansys/pyansys-geometry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

decorator fix
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: none

feat: using propertry setters properly
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: none

feat: name setter and fill style getter setters (#1299)
  doc/changelog.d/1299.added.md
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: none

chore: adding issue links to TODOs
  pyproject.toml
  src/ansys/geometry/core/connection/validate.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/logger.py
  src/ansys/geometry/core/misc/measurements.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/shapes/curves/curve.py
  src/ansys/geometry/core/shapes/surfaces/trimmed_surface.py
  src/ansys/geometry/core/sketch/arc.py
  src/ansys/geometry/core/sketch/box.py
  src/ansys/geometry/core/sketch/face.py
  src/ansys/geometry/core/sketch/gears.py
  src/ansys/geometry/core/sketch/polygon.py
  src/ansys/geometry/core/sketch/slot.py
  src/ansys/geometry/core/sketch/trapezoid.py
  src/ansys/geometry/core/sketch/triangle.py
  tests/integration/conftest.py
  tests/integration/test_design.py
  tests/integration/test_design_export.py
  tests/integration/test_design_import.py
  tests/integration/test_issues.py
  tests/test_primitives.py
Labels: maintenance, testing

chore: adding changelog file 1320.changed.md
  doc/changelog.d/1320.changed.md
Labels: none

dix: revert try/except deletion
  tests/integration/test_design.py
Labels: none

chore: adding issue links to TODOs (#1320)
  doc/changelog.d/1320.changed.md
  pyproject.toml
  src/ansys/geometry/core/connection/validate.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/logger.py
  src/ansys/geometry/core/misc/measurements.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/shapes/curves/curve.py
  src/ansys/geometry/core/shapes/surfaces/trimmed_surface.py
  src/ansys/geometry/core/sketch/arc.py
  src/ansys/geometry/core/sketch/box.py
  src/ansys/geometry/core/sketch/face.py
  src/ansys/geometry/core/sketch/gears.py
  src/ansys/geometry/core/sketch/polygon.py
  src/ansys/geometry/core/sketch/slot.py
  src/ansys/geometry/core/sketch/trapezoid.py
  src/ansys/geometry/core/sketch/triangle.py
  tests/integration/conftest.py
  tests/integration/test_design.py
  tests/integration/test_design_export.py
  tests/integration/test_design_import.py
  tests/integration/test_issues.py
  tests/test_primitives.py
Labels: maintenance, testing

chore: adding changelog file 1322.dependencies.md
  doc/changelog.d/1322.dependencies.md
Labels: none

chore: adding changelog file 1324.dependencies.md
  doc/changelog.d/1324.dependencies.md
Labels: none

chore: adding changelog file 1325.dependencies.md
  doc/changelog.d/1325.dependencies.md
Labels: none

chore: adding changelog file 1323.dependencies.md
  doc/changelog.d/1323.dependencies.md
Labels: none

chore: adding changelog file 1326.dependencies.md
  doc/changelog.d/1326.dependencies.md
Labels: none

chore: adding changelog file 1327.miscellaneous.md
  doc/changelog.d/1327.miscellaneous.md
Labels: none

unit tests for missing methods
  tests/integration/files/ShortEdgesBefore.scdocx
  tests/integration/test_prepare_tools.py
  tests/integration/test_repair_tools.py
Labels: none

test: bump image cache
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: adding changelog file 1331.dependencies.md
  doc/changelog.d/1331.dependencies.md
Labels: none

chore: adding changelog file 1332.dependencies.md
  doc/changelog.d/1332.dependencies.md
Labels: none

chore: adding changelog file 1333.miscellaneous.md
  doc/changelog.d/1333.miscellaneous.md
Labels: none

ci: skip test
  tests/integration/test_repair_tools.py
Labels: none

get and set for driving dimensions
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/parameters/__init__.py
  src/ansys/geometry/core/parameters/driving_dimensions.py
Labels: none

Update src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/modeler.py
Labels: none

feat: Add misc. repair and prepare tool methods (#1293)
  doc/changelog.d/1293.added.md
  src/ansys/geometry/core/tools/prepare_tools.py
  src/ansys/geometry/core/tools/problem_areas.py
  src/ansys/geometry/core/tools/repair_tools.py
  tests/integration/files/ShortEdgesBefore.scdocx
  tests/integration/test_prepare_tools.py
  tests/integration/test_repair_tools.py
Labels: none

feat: ``revolve_sketch`` rotation definition enhancement
  src/ansys/geometry/core/designer/component.py
  tests/integration/test_design.py
  tests/integration/test_issues.py
Labels: none

chore: adding changelog file 1336.added.md
  doc/changelog.d/1336.added.md
Labels: none

fix: increasing readability
  tests/integration/test_issues.py
Labels: none

feat: ``revolve_sketch`` rotation definition enhancement (#1336)
  doc/changelog.d/1336.added.md
  src/ansys/geometry/core/designer/component.py
  tests/integration/test_design.py
  tests/integration/test_issues.py
Labels: none

fix: Add pyvista directive
  doc/source/conf.py
Labels: none

chore: adding changelog file 1337.fixed.md
  doc/changelog.d/1337.fixed.md
Labels: none

feat: adapt to new ansys-tools-visualization-interface
  doc/source/_static/assets/multicolors.png
  doc/source/conf.py
  doc/source/examples/01_getting_started/05_plotter_picker.mystnb
  pyproject.toml
Labels: maintenance

chore: adding changelog file 1338.changed.md
  doc/changelog.d/1338.changed.md
Labels: none

feat: adapt to new ansys-tools-visualization-interface v0.4.0 (#1338)
  doc/changelog.d/1338.changed.md
  doc/source/_static/assets/multicolors.png
  doc/source/conf.py
  doc/source/examples/01_getting_started/05_plotter_picker.mystnb
  pyproject.toml
Labels: maintenance

release: v0.6.6
  doc/source/assets.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v0.6.6
  doc/changelog.d/1290.changed.md
  doc/changelog.d/1291.fixed.md
  doc/changelog.d/1292.dependencies.md
  doc/changelog.d/1293.added.md
  doc/changelog.d/1294.fixed.md
  doc/changelog.d/1296.dependencies.md
  doc/changelog.d/1299.added.md
  doc/changelog.d/1300.dependencies.md
  doc/changelog.d/1301.dependencies.md
  doc/changelog.d/1306.added.md
  doc/changelog.d/1307.dependencies.md
  doc/changelog.d/1310.fixed.md
  doc/changelog.d/1311.added.md
  doc/changelog.d/1312.changed.md
  doc/changelog.d/1313.changed.md
  doc/changelog.d/1315.dependencies.md
  doc/changelog.d/1316.dependencies.md
  doc/changelog.d/1320.changed.md
  doc/changelog.d/1322.dependencies.md
  doc/changelog.d/1323.dependencies.md
  doc/changelog.d/1324.dependencies.md
  doc/changelog.d/1325.dependencies.md
  doc/changelog.d/1326.dependencies.md
  doc/changelog.d/1327.miscellaneous.md
  doc/changelog.d/1331.dependencies.md
  doc/changelog.d/1332.dependencies.md
  doc/changelog.d/1333.miscellaneous.md
  doc/changelog.d/1336.added.md
  doc/changelog.d/1338.changed.md
  doc/source/changelog.rst
Labels: none

chore: updating CHANGELOG for v0.6.6
  doc/changelog.d/1290.changed.md
  doc/changelog.d/1291.fixed.md
  doc/changelog.d/1292.dependencies.md
  doc/changelog.d/1293.added.md
  doc/changelog.d/1294.fixed.md
  doc/changelog.d/1296.dependencies.md
  doc/changelog.d/1299.added.md
  doc/changelog.d/1300.dependencies.md
  doc/changelog.d/1301.dependencies.md
  doc/changelog.d/1306.added.md
  doc/changelog.d/1307.dependencies.md
  doc/changelog.d/1310.fixed.md
  doc/changelog.d/1311.added.md
  doc/changelog.d/1312.changed.md
  doc/changelog.d/1313.changed.md
  doc/changelog.d/1315.dependencies.md
  doc/changelog.d/1316.dependencies.md
  doc/changelog.d/1320.changed.md
  doc/changelog.d/1322.dependencies.md
  doc/changelog.d/1323.dependencies.md
  doc/changelog.d/1324.dependencies.md
  doc/changelog.d/1325.dependencies.md
  doc/changelog.d/1326.dependencies.md
  doc/changelog.d/1327.miscellaneous.md
  doc/changelog.d/1331.dependencies.md
  doc/changelog.d/1332.dependencies.md
  doc/changelog.d/1333.miscellaneous.md
  doc/changelog.d/1336.added.md
  doc/changelog.d/1338.changed.md
  doc/source/changelog.rst
Labels: none

chore: adding changelog file 1339.changed.md
  doc/changelog.d/1339.changed.md
Labels: none

Delete doc/changelog.d/1297.miscellaneous.md
  doc/changelog.d/1297.miscellaneous.md
Labels: none

Delete doc/changelog.d/1308.miscellaneous.md
  doc/changelog.d/1308.miscellaneous.md
Labels: none

chore: update CHANGELOG for v0.6.6 (#1339)
  doc/changelog.d/1290.changed.md
  doc/changelog.d/1291.fixed.md
  doc/changelog.d/1292.dependencies.md
  doc/changelog.d/1293.added.md
  doc/changelog.d/1294.fixed.md
  doc/changelog.d/1296.dependencies.md
  doc/changelog.d/1297.miscellaneous.md
  doc/changelog.d/1299.added.md
  doc/changelog.d/1300.dependencies.md
  doc/changelog.d/1301.dependencies.md
  doc/changelog.d/1306.added.md
  doc/changelog.d/1307.dependencies.md
  doc/changelog.d/1308.miscellaneous.md
  doc/changelog.d/1310.fixed.md
  doc/changelog.d/1311.added.md
  doc/changelog.d/1312.changed.md
  doc/changelog.d/1313.changed.md
  doc/changelog.d/1315.dependencies.md
  doc/changelog.d/1316.dependencies.md
  doc/changelog.d/1320.changed.md
  doc/changelog.d/1322.dependencies.md
  doc/changelog.d/1323.dependencies.md
  doc/changelog.d/1324.dependencies.md
  doc/changelog.d/1325.dependencies.md
  doc/changelog.d/1326.dependencies.md
  doc/changelog.d/1327.miscellaneous.md
  doc/changelog.d/1331.dependencies.md
  doc/changelog.d/1332.dependencies.md
  doc/changelog.d/1333.miscellaneous.md
  doc/changelog.d/1336.added.md
  doc/changelog.d/1338.changed.md
  doc/changelog.d/1339.changed.md
  doc/source/changelog.rst
Labels: none

chore: adding changelog file 1340.added.md
  doc/changelog.d/1340.added.md
Labels: none

chore: adding changelog file 1340.added.md
  doc/changelog.d/1340.added.md
Labels: none
