Repository ansys/pyansys-geometry, pull requests merged in 2023-10, with the labels that each got.

#785 skip Linux testing - temp fix
  .github/workflows/ci_cd.yml
Labels: maintenance

#787 feat: drop Python 3.8 and setting main version as 3.11
  .github/workflows/ci_cd.yml
  .github/workflows/docker_test_build.yml
  .github/workflows/nightly_docker_test.yml
  README.rst
  doc/source/assets.rst
  doc/source/conf.py
  doc/source/getting_started/installation.rst
  pyproject.toml
  src/ansys/geometry/core/__init__.py
  src/ansys/geometry/core/logger.py
  tox.ini
Labels: documentation, enhancement, maintenance

#798 feat: proper service-based testing
  .github/workflows/ci_cd.yml
  .github/workflows/docker_test_build.yml
  .github/workflows/nightly_docker_test.yml
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_design.py
  tests/integration/test_design_import.py
Labels: enhancement, maintenance, testing

#796 cicd: reacitvate Linux testing
  .github/workflows/ci_cd.yml
  tests/integration/test_design_import.py
Labels: maintenance

#800 feat: figure out binaries upload
  .github/workflows/ci_cd.yml
  .github/workflows/docker_test_build.yml
  doc/source/assets.rst
  doc/source/conf.py
  doc/source/getting_started/docker/linux_container.rst
  doc/source/getting_started/docker/windows_container.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation, maintenance

#810 Feat/change design id compression
  pyproject.toml
  src/ansys/geometry/core/designer/design.py
  tests/integration/test_design.py
  tests/integration/test_design_import.py
Labels: enhancement, maintenance, testing

#821 feat: reactivate PMDB export
  tests/integration/test_design.py
Labels: enhancement

#831 Add logs folder as variable to the launcher
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/connection/product_instance.py
Labels: enhancement

#819 feat: handling multiple designs
  src/ansys/geometry/core/__init__.py
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/designer/designpoint.py
  src/ansys/geometry/core/designer/edge.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/misc/checks.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/plotting/plotter_helper.py
  tests/integration/test_design.py
Labels: enhancement

#815 feat: add manifest path product launcher
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/connection/product_instance.py
Labels: bug, enhancement
