Repository ansys/pyansys-geometry, pull requests merged in 2023-11, with the labels that each got.

#839 maint: Reactivate style action
  .github/workflows/ci_cd.yml
  doc/.vale.ini
  doc/source/assets.rst
  doc/source/getting_started/faq.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation, maintenance

#843 fix: Revert dependencies due to broken plotters
  src/ansys/geometry/core/plotting/plotter.py
Labels: bug, maintenance

#852 feat: simplifying README
  README.rst
Labels: bug

#789 feat: adding Python 3.12 support
  .github/workflows/ci_cd.yml
  doc/source/assets.rst
  doc/source/conf.py
  doc/source/getting_started/installation.rst
  pyproject.toml
  tox.ini
Labels: documentation, enhancement, maintenance

#846 feat: import surface body properly when reading design + boolean ops with multiple bodies
  pyproject.toml
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/design.py
  tests/integration/test_design.py
  tests/integration/test_design_import.py
Labels: enhancement, maintenance

#849 Rotate a body
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: enhancement

#857 fix: typo in docs
  doc/source/index.rst
Labels: bug, documentation

#859 doc: Add plotter clipping example
  doc/source/examples/01_getting_started/05_plotter_picker.mystnb
Labels: documentation

#861 Feat/launcher hidden mode
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/connection/product_instance.py
  tests/integration/test_launcher_product.py
Labels: enhancement

#865 feat: add codecov.yml file
  codecov.yml
Labels: enhancement

#868 fix: install wheelhouse on Windows
  doc/source/assets.rst
Labels: bug, documentation

#862 Refactoring repair tools
  src/ansys/geometry/core/tools/repair_tools.py
  tests/integration/test_repair_tools.py
Labels: enhancement
