Repository ansys/pyansys-geometry, pull requests merged in 2023-09, with the labels that each got.

#696 MAINT: improving docs generation
  doc/make.bat
  doc/source/conf.py
  doc/source/getting_started/creating_local_session.rst
  doc/styles/Vocab/ANSYS/accept.txt
  src/ansys/geometry/core/connection/conversions.py
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/connection/local_instance.py
  src/ansys/geometry/core/designer/beam.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/designer/coordinate_system.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/designer/designpoint.py
  src/ansys/geometry/core/designer/edge.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/designer/part.py
  src/ansys/geometry/core/designer/selection.py
  src/ansys/geometry/core/errors.py
  src/ansys/geometry/core/logger.py
  src/ansys/geometry/core/math/bbox.py
  src/ansys/geometry/core/math/point.py
  src/ansys/geometry/core/math/vector.py
  src/ansys/geometry/core/misc/checks.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/plotting/plotter.py
  src/ansys/geometry/core/plotting/plotting_types.py
  src/ansys/geometry/core/plotting/trame_gui.py
  src/ansys/geometry/core/plotting/widgets/ruler.py
  src/ansys/geometry/core/primitives/circle.py
  src/ansys/geometry/core/primitives/cone.py
  src/ansys/geometry/core/primitives/curve_evaluation.py
  src/ansys/geometry/core/primitives/cylinder.py
  src/ansys/geometry/core/primitives/ellipse.py
  src/ansys/geometry/core/primitives/line.py
  src/ansys/geometry/core/primitives/sphere.py
  src/ansys/geometry/core/primitives/surface_evaluation.py
  src/ansys/geometry/core/primitives/torus.py
  src/ansys/geometry/core/sketch/arc.py
  src/ansys/geometry/core/sketch/box.py
  src/ansys/geometry/core/sketch/circle.py
  src/ansys/geometry/core/sketch/edge.py
  src/ansys/geometry/core/sketch/ellipse.py
  src/ansys/geometry/core/sketch/face.py
  src/ansys/geometry/core/sketch/gears.py
  src/ansys/geometry/core/sketch/polygon.py
  src/ansys/geometry/core/sketch/segment.py
  src/ansys/geometry/core/sketch/sketch.py
  src/ansys/geometry/core/sketch/slot.py
  src/ansys/geometry/core/sketch/trapezoid.py
  src/ansys/geometry/core/sketch/triangle.py
Labels: documentation, maintenance

#709 feat: test artifacts before releasing
  .github/workflows/ci_cd.yml
  README.rst
Labels: enhancement, maintenance

#708 doc: Revert pyvista dependency
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: bug, maintenance

#716 docs: improve image rendering and various changes
  .github/workflows/ci_cd.yml
  doc/make.bat
  doc/source/_static/assets/index_api.png
  doc/source/_static/assets/index_api.svg
  doc/source/_static/assets/index_contribute.png
  doc/source/_static/assets/index_contribute.svg
  doc/source/_static/assets/index_examples.png
  doc/source/_static/assets/index_examples.svg
  doc/source/_static/assets/index_getting_started.png
  doc/source/_static/assets/index_getting_started.svg
  doc/source/_static/assets/index_user_guide.png
  doc/source/_static/assets/index_user_guide.svg
  doc/source/examples/01_getting_started/04_modeling.mystnb
Labels: documentation, maintenance

#725 maint: Refactor plotter module
  src/ansys/geometry/core/plotting/__init__.py
  src/ansys/geometry/core/plotting/plotter.py
  src/ansys/geometry/core/plotting/plotter_helper.py
Labels: maintenance

#726 fix: broken link
  doc/source/getting_started/docker.rst
Labels: bug, documentation

#730 feat: skip unstable images temporarily
  .github/workflows/ci_cd.yml
  .github/workflows/nightly_docker_test.yml
Labels: maintenance

#731 feat: proper codecov badge
  README.rst
  doc/make.bat
Labels: enhancement

#727 feat: Add measurement widget
  .github/workflows/ci_cd.yml
  src/ansys/geometry/core/plotting/plotter.py
  src/ansys/geometry/core/plotting/plotter_helper.py
  src/ansys/geometry/core/plotting/widgets/__init__.py
  src/ansys/geometry/core/plotting/widgets/_images/measurement.png
  src/ansys/geometry/core/plotting/widgets/measure.py
  src/ansys/geometry/core/sketch/sketch.py
  tests/test_sketch.py
Labels: enhancement, maintenance, testing

#735 feat: Add name filtering in the plotter
  src/ansys/geometry/core/plotting/plotter.py
  src/ansys/geometry/core/plotting/plotter_helper.py
  tests/integration/test_plotter.py
Labels: enhancement

#734 feat: upload Dockerfiles as part of the release process
  .github/workflows/ci_cd.yml
Labels: enhancement, maintenance

#745 feat: change source of sphinx-autoapi repo
  doc/make.bat
Labels: bug

#747 fix: Add opacity to plot selection
  .github/workflows/ci_cd.yml
  src/ansys/geometry/core/sketch/sketch.py
Labels: bug, maintenance

#732 feat: improved getting-started section
  README.rst
  doc/make.bat
  doc/source/_static/custom.css
  doc/source/conf.py
  doc/source/getting_started/docker/common_docker.jinja
  doc/source/getting_started/docker/index.rst
  doc/source/getting_started/docker/linux_container.rst
  doc/source/getting_started/docker/windows_container.rst
  doc/source/getting_started/existing/index.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/installation.rst
  doc/source/getting_started/local/index.rst
  doc/source/getting_started/remote/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
  docker/README.rst
  src/ansys/geometry/core/designer/body.py
Labels: bug, documentation, maintenance

#750 docs: error on docstrings for launcher methods
  src/ansys/geometry/core/connection/launcher.py
Labels: documentation

#752 docs: improve getting started
  doc/source/getting_started/compatibility.rst
  doc/source/getting_started/docker/index.rst
  doc/source/getting_started/faq.rst
  doc/source/getting_started/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

#753 docs: improvements to faq and compatibility matrix
  doc/source/getting_started/compatibility.rst
  doc/source/getting_started/faq.rst
Labels: documentation

#746 ansys-api-geometry v0.3.0 related changes
  pyproject.toml
  src/ansys/geometry/core/connection/__init__.py
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/connection/local_instance.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/designer/edge.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/modeler.py
  tests/integration/test_design.py
  tests/integration/test_launcher_local.py
  tests/integration/test_runscript.py
Labels: enhancement, dependencies, maintenance

#765 doc: enhance search engine using pymeilisearch
  .github/workflows/ci_cd.yml
  doc/source/conf.py
Labels: documentation, enhancement, maintenance

#764 feat: adding assets page to documentation
  .github/workflows/ci_cd.yml
  README.rst
  doc/make.bat
  doc/source/_static/assets/download/.gitignore
  doc/source/_static/assets/download/README.txt
  doc/source/_static/assets/index_download.png
  doc/source/_static/assets/index_download.svg
  doc/source/assets.rst
  doc/source/conf.py
  doc/source/index.rst
Labels: documentation, enhancement, maintenance

#766 fix: vars from env variable
  .github/workflows/ci_cd.yml
Labels: bug, maintenance

#767 feat: adding SECURITY policy
  .github/labels.yml
  SECURITY.md
Labels: enhancement, maintenance

#771 feat: add CodeQL analysis
  .github/workflows/codeql.yml
Labels: enhancement, maintenance

#770 fix: avoid uploading docs assets(wheelhouse) and minor updates to workflow
  .github/workflows/ci_cd.yml
  doc/source/assets.rst
  doc/source/conf.py
Labels: bug, documentation, maintenance

#772 feat: add license discussion to Q&A
  doc/source/getting_started/faq.rst
Labels: documentation

#777 Secure get_available_port method.
  src/ansys/geometry/core/connection/product_instance.py
Labels: bug

#778 cicd: cleanup CodeQL workflow
  .github/workflows/codeql.yml
Labels: maintenance
