Repository ansys/pyansys-geometry, pull requests merged in 2024-12, with the labels that each got.

#1571 feat: add core service support
  .github/workflows/ci_cd.yml
  .github/workflows/docker_ansyslab_linux.yml
  .github/workflows/docker_ansyslab_windows.yml
  .github/workflows/docker_cleanup.yml
  .github/workflows/docker_push_stable.yml
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1571.added.md
  doc/source/assets.rst
  docker/build_docker_windows.py
  docker/linux/coreservice/Dockerfile
  docker/windows/coreservice/Dockerfile
  docker/windows/dms/Dockerfile
  src/ansys/geometry/core/connection/backend.py
  src/ansys/geometry/core/connection/docker_instance.py
  tests/integration/test_tessellation.py
Labels: enhancement, maintenance

#1584 fix: vtk/pyvista issues
  .github/workflows/ci_cd.yml
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1584.fixed.md
  pyproject.toml
Labels: bug, maintenance

#1591 ci: decouple unstable image promotion
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1591.maintenance.md
Labels: maintenance

#1592 ci: skip unnecessary stages when containers are the same
  .github/workflows/ci_cd.yml
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1592.maintenance.md
Labels: maintenance

#1587 feat: create launcher for core services
  .github/workflows/docker_cleanup.yml
  doc/changelog.d/1587.added.md
  src/ansys/geometry/core/__init__.py
  src/ansys/geometry/core/connection/__init__.py
  src/ansys/geometry/core/connection/docker_instance.py
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/connection/product_instance.py
Labels: enhancement, maintenance

#1603 fix: make_child_logger only takes 2 args.
  doc/changelog.d/1603.fixed.md
  src/ansys/geometry/core/logger.py
Labels: bug

#1605 docs: Explain how to report a security issue.
  SECURITY.md
  doc/changelog.d/1605.documentation.md
Labels: documentation
