Repository ansys/pyansys-geometry, pull requests merged in 2024-11, with the labels that each got.

#1524 docs: typo with the docstrings
  doc/changelog.d/1524.documentation.md
  src/ansys/geometry/core/shapes/surfaces/plane.py
Labels: bug

#1527 docs: change max header links before more dropdown
  doc/changelog.d/1527.documentation.md
  doc/source/conf.py
Labels: documentation

#1534 feat: allow for some additional extrusion direction names
  doc/changelog.d/1534.added.md
  src/ansys/geometry/core/designer/component.py
Labels: enhancement

#1544 build: limit upper version on grpcio & grpcio-health-checking to 1.68
  doc/changelog.d/1544.dependencies.md
  pyproject.toml
Labels: maintenance

#1548 feat: allow version input to automatically consider the nuances for the Ansys Student version
  doc/changelog.d/1548.added.md
  doc/source/getting_started/local/index.rst
  doc/source/getting_started/remote/index.rst
  docker/build_docker_windows.py
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/connection/product_instance.py
  src/ansys/geometry/core/modeler.py
Labels: enhancement

#1553 ci: automerge pre-commit.ci PRs
  .github/workflows/automerge_prs.yml
  doc/changelog.d/1553.maintenance.md
Labels: maintenance

#1481 feat: active support for Python 3.13
  .github/workflows/ci_cd.yml
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1481.added.md
  doc/source/assets.rst
  doc/source/conf.py
  doc/source/getting_started/installation.rst
  pyproject.toml
  tox.ini
Labels: enhancement, maintenance

#1556 fix: numpydoc warnings
  doc/changelog.d/1556.fixed.md
  doc/source/conf.py
  src/ansys/geometry/core/connection/docker_instance.py
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/connection/product_instance.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/designer/part.py
  src/ansys/geometry/core/math/bbox.py
  src/ansys/geometry/core/math/misc.py
  src/ansys/geometry/core/math/point.py
  src/ansys/geometry/core/math/vector.py
  src/ansys/geometry/core/misc/accuracy.py
  src/ansys/geometry/core/misc/auxiliary.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/plotting/plotter.py
  src/ansys/geometry/core/shapes/curves/line.py
  src/ansys/geometry/core/shapes/parameterization.py
  src/ansys/geometry/core/shapes/surfaces/cylinder.py
  src/ansys/geometry/core/sketch/arc.py
  src/ansys/geometry/core/sketch/circle.py
  src/ansys/geometry/core/sketch/edge.py
  src/ansys/geometry/core/sketch/ellipse.py
  src/ansys/geometry/core/sketch/face.py
  src/ansys/geometry/core/sketch/segment.py
  src/ansys/geometry/core/sketch/sketch.py
  src/ansys/geometry/core/tools/measurement_tools.py
Labels: bug

#1559 feat: adapt health check timeout algorithm
  doc/changelog.d/1559.added.md
  src/ansys/geometry/core/connection/client.py
Labels: enhancement
