Repository ansys/pyansys-geometry, pull requests merged in 2024-07, with the labels that each got.

#1286 chore: update SECURITY.md
  SECURITY.md
  doc/changelog.d/1286.changed.md
Labels: maintenance

#1289 fix: manifest path should render as posix rather than uri
  doc/changelog.d/1289.fixed.md
  src/ansys/geometry/core/connection/product_instance.py
Labels: bug

#1294 ci: docker cleanup
  .github/workflows/docker_cleanup.yml
  doc/changelog.d/1294.fixed.md
Labels: bug, maintenance

#1291 test: create sphere bug raised after box creation
  doc/changelog.d/1291.fixed.md
  tests/integration/test_design_import.py
  tests/integration/test_issues.py
  tests/test_sketch.py
Labels: bug, testing

#1310 fix: default length units not being used properly on arc creation
  doc/changelog.d/1310.fixed.md
  src/ansys/geometry/core/sketch/arc.py
  tests/integration/test_issues.py
Labels: bug

#1311 feat: keep "other" bodies when performing bool operations
  doc/changelog.d/1311.added.md
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: enhancement

#1306 feat: extract fluid volume from solid
  doc/changelog.d/1306.added.md
  src/ansys/geometry/core/misc/auxiliary.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/tools/__init__.py
  src/ansys/geometry/core/tools/prepare_tools.py
  tests/integration/files/hollowCylinder.scdocx
  tests/integration/test_prepare_tools.py
Labels: enhancement

#1312 chore: enable ruff formatter on pre-commit
  .pre-commit-config.yaml
  doc/changelog.d/1312.changed.md
  doc/source/conf.py
  docker/build_docker_windows.py
  pyproject.toml
  src/ansys/geometry/core/connection/backend.py
  src/ansys/geometry/core/connection/docker_instance.py
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/connection/product_instance.py
  src/ansys/geometry/core/connection/validate.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/designer/part.py
  src/ansys/geometry/core/logger.py
  src/ansys/geometry/core/math/matrix.py
  src/ansys/geometry/core/math/misc.py
  src/ansys/geometry/core/math/vector.py
  src/ansys/geometry/core/misc/accuracy.py
  src/ansys/geometry/core/misc/auxiliary.py
  src/ansys/geometry/core/misc/checks.py
  src/ansys/geometry/core/misc/measurements.py
  src/ansys/geometry/core/misc/options.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/plotting/plotter.py
  src/ansys/geometry/core/plotting/widgets/__init__.py
  src/ansys/geometry/core/shapes/box_uv.py
  src/ansys/geometry/core/shapes/curves/__init__.py
  src/ansys/geometry/core/shapes/curves/circle.py
  src/ansys/geometry/core/shapes/curves/curve.py
  src/ansys/geometry/core/shapes/curves/curve_evaluation.py
  src/ansys/geometry/core/shapes/curves/trimmed_curve.py
  src/ansys/geometry/core/shapes/surfaces/__init__.py
  src/ansys/geometry/core/shapes/surfaces/plane.py
  src/ansys/geometry/core/shapes/surfaces/surface.py
  src/ansys/geometry/core/sketch/arc.py
  src/ansys/geometry/core/tools/prepare_tools.py
  src/ansys/geometry/core/tools/problem_areas.py
  src/ansys/geometry/core/tools/repair_tool_message.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_client.py
  tests/integration/test_design.py
  tests/integration/test_issues.py
  tests/integration/test_launcher_remote.py
  tests/integration/test_logging_client.py
  tests/integration/test_measurement_tools.py
  tests/integration/test_prepare_tools.py
  tests/integration/test_repair_tools.py
  tests/integration/test_runscript.py
  tests/integration/test_tessellation.py
  tests/integration/test_trimmed_geometry.py
  tests/test_logging.py
  tests/test_primitives.py
  tests/test_sketch.py
Labels: maintenance, testing

#1313 chore: updating dependabot groups
  .github/dependabot.yml
  doc/changelog.d/1313.changed.md
Labels: maintenance

#1320 chore: adding issue links to TODOs
  doc/changelog.d/1320.changed.md
  pyproject.toml
  src/ansys/geometry/core/connection/validate.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/logger.py
  src/ansys/geometry/core/misc/measurements.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/shapes/curves/curve.py
  src/ansys/geometry/core/shapes/surfaces/trimmed_surface.py
  src/ansys/geometry/core/sketch/arc.py
  src/ansys/geometry/core/sketch/box.py
  src/ansys/geometry/core/sketch/face.py
  src/ansys/geometry/core/sketch/gears.py
  src/ansys/geometry/core/sketch/polygon.py
  src/ansys/geometry/core/sketch/slot.py
  src/ansys/geometry/core/sketch/trapezoid.py
  src/ansys/geometry/core/sketch/triangle.py
  tests/integration/conftest.py
  tests/integration/test_design.py
  tests/integration/test_design_export.py
  tests/integration/test_design_import.py
  tests/integration/test_issues.py
  tests/test_primitives.py
Labels: maintenance, testing

#1293 feat: Add misc. repair and prepare tool methods
  doc/changelog.d/1293.added.md
  src/ansys/geometry/core/tools/prepare_tools.py
  src/ansys/geometry/core/tools/problem_areas.py
  src/ansys/geometry/core/tools/repair_tools.py
  tests/integration/files/ShortEdgesBefore.scdocx
  tests/integration/test_prepare_tools.py
  tests/integration/test_repair_tools.py
Labels: enhancement

#1336 feat: ``revolve_sketch`` rotation definition enhancement
  doc/changelog.d/1336.added.md
  src/ansys/geometry/core/designer/component.py
  tests/integration/test_design.py
  tests/integration/test_issues.py
Labels: enhancement
