Repository ansys/pyansys-geometry, pull requests merged in 2024-01, with the labels that each got.

#896 Add an installation section to the getting started.
  doc/source/getting_started/index.rst
Labels: documentation

#901 feat: breakup AnsysLab deployment
  .github/workflows/docker_ansyslab_linux.yml
  .github/workflows/docker_ansyslab_windows.yml
  .github/workflows/docker_push_stable.yml
Labels: enhancement, maintenance

#905 fix: Broken edge picking
  src/ansys/geometry/core/plotting/plotter.py
  src/ansys/geometry/core/plotting/plotter_helper.py
Labels: bug

#912 maint: re-enable grpcio updates
  .github/dependabot.yml
  pyproject.toml
Labels: maintenance

#904 fix: Default trame visualization in Jupyter environments
  doc/source/conf.py
  pyproject.toml
  src/ansys/geometry/core/__init__.py
  src/ansys/geometry/core/plotting/plotter.py
  src/ansys/geometry/core/tools/repair_tools.py
Labels: bug, maintenance

#924 feat: protecting deps installed on upper limits
  doc/Makefile
  pyproject.toml
Labels: enhancement, maintenance

#931 fix: Linux docker container docs
  doc/source/assets.rst
  doc/source/getting_started/docker/index.rst
  doc/source/getting_started/docker/linux_container.rst
  docker/README.rst
Labels: documentation

#934 fix: update pre-commit hook
  .pre-commit-config.yaml
Labels: bug

#938 feat: allowing student versions
  src/ansys/geometry/core/connection/product_instance.py
Labels: enhancement

#940 docs: various improvements
  doc/source/getting_started/existing/index.rst
  doc/source/getting_started/local/index.rst
Labels: documentation

#941 feat: generic launch_modeler function
  doc/source/examples/01_getting_started/05_plotter_picker.mystnb
  doc/source/examples/03_modeling/boolean_operations.mystnb
  doc/source/getting_started/docker/common_docker.jinja
  src/ansys/geometry/core/__init__.py
  src/ansys/geometry/core/connection/__init__.py
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/connection/docker_instance.py
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/modeler.py
  tests/integration/conftest.py
  tests/integration/test_launcher_local.py
  tests/integration/test_launcher_remote.py
Labels: enhancement

#943 feat: provide script to build your own Geometry Service Docker image
  .pre-commit-config.yaml
  doc/source/getting_started/docker/windows_container.rst
  docker/README.rst
  docker/build_docker_windows.py
Labels: enhancement

#945 feat: check if ApiServer Add-In exists before executing
  doc/source/getting_started/docker/windows_container.rst
  src/ansys/geometry/core/connection/product_instance.py
Labels: enhancement

#948 feat: Simplify documentation cards in landing page
  doc/source/index.rst
Labels: documentation

#949 feat: allow for "undefined" material types and units
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/materials/property.py
Labels: enhancement

#953 feat: readapt landing page
  doc/source/conf.py
  doc/source/index.rst
Labels: bug

#954 docs: single column on phone docs
  doc/source/index.rst
Labels: documentation

#955 maint: update Sphinx
  pyproject.toml
Labels: maintenance

#956 feat: Add dependabot automerging action
  .github/workflows/dependabot_automerge.yml
Labels: maintenance

#958 fix: do not log warning message as error
  src/ansys/geometry/core/designer/design.py
Labels: bug

#965 fix: automerge
  .github/workflows/dependabot_automerge.yml
Labels: bug, maintenance

#967 fix: approval needs to be done by CI bot
  .github/workflows/dependabot_automerge.yml
Labels: bug, maintenance
