Repository ansys/pyansys-geometry, pull requests merged in 2024-09, with the labels that each got.

#1387 fix: remove ``server_logs_folder`` argument for Discovery and SpaceClaim
  doc/changelog.d/1387.fixed.md
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/connection/product_instance.py
Labels: bug

#1395 feat: allowing users to specify API version when running script against SpaceClaim or Discovery
  doc/changelog.d/1395.added.md
  src/ansys/geometry/core/connection/backend.py
  src/ansys/geometry/core/modeler.py
  tests/integration/test_runscript.py
  tests/test_connection.py
Labels: enhancement, testing

#1401 feat: expose ``modeler.designs`` attribute
  doc/changelog.d/1401.added.md
  src/ansys/geometry/core/modeler.py
  tests/integration/test_design.py
  tests/integration/test_design_import.py
Labels: enhancement

#1405 docs: add project logo
  README.rst
  doc/changelog.d/1405.documentation.md
  doc/source/_static/logo/logo.png
  doc/source/_static/logo/logo.svg
  doc/source/index.rst
Labels: documentation

#1382 feat: setting instance name during component creation
  doc/changelog.d/1382.added.md
  src/ansys/geometry/core/designer/component.py
  tests/integration/test_design.py
Labels: enhancement

#1406 ci: upload coverage artifacts properly with upload-artifact@v4.4.0
  .github/workflows/ci_cd.yml
  doc/changelog.d/1406.maintenance.md
Labels: bug, maintenance

#1410 docs: adapt examples to use launch_modeler instead of Modeler obj connection
  doc/changelog.d/1410.documentation.md
  doc/source/examples/01_getting_started/05_plotter_picker.mystnb
  doc/source/examples/02_sketching/advanced_sketching_gears.mystnb
  doc/source/examples/02_sketching/dynamic_sketch_plane.mystnb
  doc/source/examples/03_modeling/add_design_material.mystnb
  doc/source/examples/03_modeling/boolean_operations.mystnb
  doc/source/examples/03_modeling/design_organization.mystnb
  doc/source/examples/03_modeling/design_tree.mystnb
  doc/source/examples/03_modeling/export_design.mystnb
  doc/source/examples/03_modeling/plate_with_hole.mystnb
  doc/source/examples/03_modeling/revolving.mystnb
  doc/source/examples/03_modeling/scale_map_mirror_bodies.mystnb
  doc/source/examples/03_modeling/sweep_chain_profile.mystnb
  doc/source/examples/03_modeling/tessellation_usage.mystnb
  doc/source/examples/04_applied/01_naca_airfoils.mystnb
  doc/source/examples/04_applied/02_naca_fluent.mystnb
Labels: documentation

#1408 docs: remove title from landing page
  doc/changelog.d/1408.documentation.md
  doc/source/_static/logo/logo_1280_640.png
  doc/source/index.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

#1416 feat: allow for platform input when using Ansys Lab
  doc/changelog.d/1416.added.md
  src/ansys/geometry/core/connection/launcher.py
  tests/integration/test_launcher_remote.py
Labels: enhancement

#1417 feat: ensure GrpcClient class closure upon deletion
  doc/changelog.d/1417.added.md
  src/ansys/geometry/core/connection/client.py
Labels: enhancement

#1419 fix: handle properly ``np.cross()`` - 2d ops deprecated in Numpy 2.X
  doc/changelog.d/1419.fixed.md
  src/ansys/geometry/core/math/vector.py
Labels: bug

#1420 fix: change logo link so that it renders properly on PyPI
  README.rst
  doc/changelog.d/1420.fixed.md
Labels: bug

#1423 ci: checkout LFS files from previous version to ensure upload
  .github/workflows/ci_cd.yml
  doc/changelog.d/1423.maintenance.md
Labels: maintenance

#1434 docs: add captions in examples toctrees
  doc/changelog.d/1434.documentation.md
  doc/source/examples.rst
  pyproject.toml
Labels: documentation, maintenance

#1440 feat: prioritize user-defined SPACECLAIM_MODE env var
  doc/changelog.d/1440.added.md
  src/ansys/geometry/core/connection/product_instance.py
Labels: enhancement

#1441 fix: ci/cd issues on documentation build
  .github/workflows/ci_cd.yml
  doc/changelog.d/1441.fixed.md
  doc/source/conf.py
  pyproject.toml
Labels: bug, maintenance
