Repository ansys/pyansys-geometry, pull requests merged in 2024-04, with the labels that each got.

#1038 build: changing sphinx-autoapi from 3.1.a2 to 3.1.a4
  doc/changelog.d/1038.changed.md
  pyproject.toml
Labels: maintenance

#1090 feat: adding containers to automatic launcher
  doc/changelog.d/1090.added.md
  src/ansys/geometry/core/connection/docker_instance.py
Labels: enhancement

#1094 chore: update pre-commit versions
  .pre-commit-config.yaml
  doc/changelog.d/1094.changed.md
Labels: maintenance

#1095 build: beartype upper limit on v0.18
  doc/changelog.d/1095.fixed.md
  pyproject.toml
Labels: bug, maintenance

#1096 fix: improper types being passed for Face and Edge ctor.
  doc/changelog.d/1096.fixed.md
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: bug

#1097 build: use ansys-sphinx-theme "autoapi" target
  doc/changelog.d/1097.changed.md
  pyproject.toml
Labels: maintenance

#1098 fix: removing @PipKat from *.md files - changelog fragments
  .github/CODEOWNERS
  doc/changelog.d/1098.changed.md
Labels: maintenance

#1103 fix: return type should be dict and not ``ScalarMapContainer`` (grpc type)
  doc/changelog.d/1103.fixed.md
  src/ansys/geometry/core/modeler.py
Labels: bug

#1108 chore: pre-commit.ci not working properly
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  doc/changelog.d/1108.changed.md
Labels: maintenance

#1109 chore: update and adding pre-commit.ci config hook
  .pre-commit-config.yaml
  doc/changelog.d/1109.changed.md
Labels: maintenance

#1089 docs: add examples on new methods
  doc/changelog.d/1089.miscellaneous.md
  doc/source/_static/thumbnails/scale_map_mirror_bodies.png
  doc/source/_static/thumbnails/sweep_chain_profile.png
  doc/source/conf.py
  doc/source/examples.rst
  doc/source/examples/03_modeling/scale_map_mirror_bodies.mystnb
  doc/source/examples/03_modeling/sweep_chain_profile.mystnb
  src/ansys/geometry/core/shapes/parameterization.py
Labels: documentation

#1087 fix: unit tests failing after dms update
  .github/workflows/ci_cd.yml
  doc/changelog.d/1087.fixed.md
  tests/integration/test_design.py
  tests/integration/test_trimmed_geometry.py
Labels: bug, maintenance

#1075 feat: loft profiles
  doc/changelog.d/1075.added.md
  src/ansys/geometry/core/designer/component.py
  tests/integration/test_design.py
Labels: enhancement

#1111 feat: minor changes to Linux Dockerfile
  doc/changelog.d/1111.added.md
  docker/linux/Dockerfile
Labels: enhancement

#1112 ci: main Python version update to 3.12
  .github/workflows/ci_cd.yml
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1112.changed.md
Labels: maintenance

#1113 ci: skip Linux tests with common approach
  doc/changelog.d/1113.changed.md
  tests/integration/conftest.py
  tests/integration/test_design.py
  tests/integration/test_material.py
  tests/integration/test_plotter.py
  tests/integration/test_tessellation.py
Labels: maintenance

#1057 fix: adapt export and download tests to new hoops
  doc/changelog.d/1057.fixed.md
  tests/integration/files/import/twoCars.igs
  tests/integration/files/import/twoCars.stp
  tests/integration/test_design.py
  tests/integration/test_design_import.py
Labels: bug

#817 feat: re-enable open file on Linux
  doc/changelog.d/817.fixed.md
  tests/integration/test_design_import.py
Labels: bug

#1120 fix: env version for Dockerfile Windows
  doc/changelog.d/1120.fixed.md
  docker/windows/Dockerfile
Labels: bug

#1121 fix: changelog description ill-formatted
  CHANGELOG.md
  doc/changelog.d/1121.fixed.md
Labels: bug

#1123 fix: solve issues with intersphinx when releasing
  doc/changelog.d/1123.fixed.md
  doc/source/conf.py
Labels: bug

#1126 feat: security updates dropped for v0.3 or earlier
  SECURITY.md
  doc/changelog.d/1126.added.md
  doc/source/examples/01_getting_started/04_modeling.mystnb
  doc/source/getting_started/compatibility.rst
  src/ansys/geometry/core/connection/launcher.py
Labels: enhancement

#1129 ci: adapt to vale ``v3``
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  doc/.vale.ini
  doc/changelog.d/1129.changed.md
  doc/source/examples/01_getting_started/04_modeling.mystnb
  doc/styles/.gitignore
  doc/styles/config/vocabularies/ANSYS/accept.txt
  doc/styles/config/vocabularies/ANSYS/reject.txt
  docker/README.rst
Labels: maintenance

#1137 fix: docs link in example
  doc/changelog.d/1137.fixed.md
  doc/source/examples/03_modeling/plate_with_hole.mystnb
Labels: bug

#1139 chore: bump ansys pre-commit hook to ``v0.3.0``
  .pre-commit-config.yaml
  LICENSE
  doc/changelog.d/1139.changed.md
Labels: maintenance

#1140 chore: use default vale version
  .github/workflows/ci_cd.yml
  doc/changelog.d/1140.changed.md
Labels: maintenance

#1142 docs: add ``user_agent`` to Sphinx build
  doc/changelog.d/1142.changed.md
  doc/source/conf.py
Labels: maintenance

#1138 docs: add release notes in our documentation
  CHANGELOG.md
  doc/changelog.d/1138.changed.md
  doc/changelog.d/changelog_template.jinja
  doc/source/assets.rst
  doc/source/changelog.rst
  doc/source/conf.py
  doc/source/getting_started/docker/windows_container.rst
  doc/source/index.rst
  pyproject.toml
Labels: documentation, maintenance

#1145 fix: update backend version message
  doc/changelog.d/1145.fixed.md
  src/ansys/geometry/core/misc/checks.py
  tests/test_misc_checks.py
Labels: bug, testing

#1147 feat: add ``export_to`` functions
  doc/changelog.d/1147.added.md
  src/ansys/geometry/core/designer/design.py
  tests/integration/conftest.py
  tests/integration/test_design_export.py
  tests/integration/test_design_import.py
Labels: enhancement

#1149 docs: add example on exporting designs
  doc/changelog.d/1149.miscellaneous.md
  doc/source/_static/thumbnails/export_design.png
  doc/source/conf.py
  doc/source/examples.rst
  doc/source/examples/03_modeling/.gitignore
  doc/source/examples/03_modeling/export_design.mystnb
  doc/styles/.gitignore
Labels: documentation

#1152 ci: enabling Linux tests missing
  doc/changelog.d/1152.changed.md
  tests/integration/test_design.py
  tests/integration/test_material.py
  tests/integration/test_plotter.py
  tests/integration/test_tessellation.py
Labels: maintenance

#1154 docs: fix link in `CHANGELOG.md`
  CHANGELOG.md
  doc/changelog.d/1154.miscellaneous.md
Labels: documentation

#1160 fix: Interactive documentation
  doc/changelog.d/1160.fixed.md
  pyproject.toml
  src/ansys/geometry/core/plotting/plotter.py
Labels: bug, maintenance

#1166 chore: bump version to v0.6.dev0
  .github/workflows/ci_cd.yml
  doc/changelog.d/1166.changed.md
  doc/source/assets.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: maintenance

#1167 docs: creating a NACA airfoil example
  doc/changelog.d/1167.miscellaneous.md
  doc/source/_static/thumbnails/naca_airfoils.png
  doc/source/conf.py
  doc/source/examples.rst
  doc/source/examples/03_modeling/add_design_material.mystnb
  doc/source/examples/04_applied/.gitignore
  doc/source/examples/04_applied/01_naca_airfoils.mystnb
Labels: documentation

#1169 docs: simplify README example
  README.rst
  doc/changelog.d/1169.miscellaneous.md
Labels: documentation

#1171 fix: GetSurface and GetCurve not available prior to 24R2
  doc/changelog.d/1171.fixed.md
  pyproject.toml
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/designer/edge.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/misc/checks.py
Labels: bug, maintenance

#1173 feat: add semver to intersphinx
  doc/changelog.d/1173.added.md
  doc/source/conf.py
Labels: enhancement

#1174 fix: allow to reuse last release binaries (if requested)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1174.changed.md
  src/ansys/geometry/core/connection/client.py
Labels: maintenance

#1175 fix: semver intersphinx mapping not resolved properly
  doc/changelog.d/1175.fixed.md
  src/ansys/geometry/core/connection/client.py
Labels: bug

#1176 fix: start and end points for edge
  doc/changelog.d/1176.fixed.md
  src/ansys/geometry/core/designer/edge.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/plotting/plotter.py
Labels: bug

#1182 feat: allow for ``product_version`` on geometry service launcher function
  doc/changelog.d/1182.added.md
  src/ansys/geometry/core/connection/launcher.py
Labels: enhancement
