Repository ansys/pyansys-geometry, pull requests merged in 2024-08, with the labels that each got.

#1338 feat: adapt to new ansys-tools-visualization-interface v0.4.0
  doc/changelog.d/1338.changed.md
  doc/source/_static/assets/multicolors.png
  doc/source/conf.py
  doc/source/examples/01_getting_started/05_plotter_picker.mystnb
  pyproject.toml
Labels: documentation, maintenance

#1341 build: drop support for Python 3.9
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  doc/changelog.d/1341.added.md
  doc/source/assets.rst
  doc/source/conf.py
  doc/source/getting_started/installation.rst
  pyproject.toml
  tox.ini
Labels: enhancement, maintenance

#1351 feat: update conf for version 1.x of ansys-sphinx-theme
  doc/changelog.d/1351.documentation.md
  doc/make.bat
  doc/source/conf.py
  pyproject.toml
Labels: documentation, maintenance

#1348 ci: updating Ansys actions to v7 - changelog related
  .github/workflows/label.yml
  doc/changelog.d/1348.maintenance.md
  pyproject.toml
Labels: maintenance

#1354 fix: trapezoid signature change and internal checks
  .github/workflows/ci_cd.yml
  doc/changelog.d/1354.fixed.md
  src/ansys/geometry/core/sketch/sketch.py
  src/ansys/geometry/core/sketch/trapezoid.py
  tests/integration/test_plotter.py
  tests/test_sketch.py
Labels: bug, maintenance, testing

#1361 chore: bump dev branch to v0.8.dev0
  SECURITY.md
  doc/changelog.d/1361.maintenance.md
  doc/source/assets.rst
  doc/source/changelog.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: maintenance

#1368 chore: solving various warnings
  doc/changelog.d/1368.maintenance.md
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/materials/material.py
  src/ansys/geometry/core/misc/checks.py
  src/ansys/geometry/core/sketch/trapezoid.py
  src/ansys/geometry/core/typing.py
Labels: maintenance

#1357 feat: get and set body color
  doc/changelog.d/1357.added.md
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: enhancement

#1375 feat: add ``modeler.exit()`` method
  doc/changelog.d/1375.added.md
  src/ansys/geometry/core/modeler.py
  tests/integration/conftest.py
Labels: enhancement

#1385 feat: accept pathlib.Path as input in missing methods
  doc/changelog.d/1385.added.md
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/modeler.py
Labels: enhancement

#1386 feat: default logs folder on Geometry Service started by Python at PUBLIC (Windows)
  doc/changelog.d/1386.added.md
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/connection/product_instance.py
Labels: enhancement
