Repository ansys/pyansys-geometry, pull requests merged in 2024-10, with the labels that each got.

#1446 ci: update to ansys actions v8 and docs theme (static search)
  .github/workflows/ci_cd.yml
  .github/workflows/docker_cleanup.yml
  .github/workflows/label.yml
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1446.maintenance.md
  doc/source/conf.py
  pyproject.toml
Labels: maintenance

#1447 ci: pyvista/setup-headless-display started failing
  .github/workflows/ci_cd.yml
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1447.maintenance.md
Labels: maintenance

#1448 ci: check method implemented in Ansys actions
  .github/workflows/ci_cd.yml
  doc/changelog.d/1448.maintenance.md
Labels: maintenance

#1450 fix: rename folders on Linux docker image according to new version
  doc/changelog.d/1450.fixed.md
  docker/linux/Dockerfile
Labels: bug

#1376 feat: use service colors in plotter (upon request)
  doc/changelog.d/1376.added.md
  doc/source/_static/thumbnails/service_colors.png
  doc/source/conf.py
  doc/source/examples.rst
  doc/source/examples/03_modeling/service_colors.mystnb
  src/ansys/geometry/core/__init__.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/plotting/plotter.py
  src/ansys/geometry/core/sketch/sketch.py
  tests/integration/conftest.py
  tests/integration/test_design.py
  tests/integration/test_plotter.py
Labels: enhancement

#1451 feat: verifying Linux service also accepts colors
  .github/workflows/ci_cd.yml
  doc/changelog.d/1451.added.md
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
  tests/integration/test_plotter.py
Labels: enhancement, maintenance

#1409 feat: capability to close designs (also on ``modeler.exit()``)
  doc/changelog.d/1409.added.md
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/misc/checks.py
  src/ansys/geometry/core/modeler.py
Labels: enhancement

#1463 ci: unstable image promotion and dependabot daily updates
  .github/dependabot.yml
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1463.maintenance.md
Labels: maintenance

#1464 build: update protobuf from 5.27.2 to 5.27.5
  doc/changelog.d/1464.dependencies.md
  pyproject.toml
Labels: maintenance

#1469 fix: solving intersphinx warnings on paths
  doc/changelog.d/1469.fixed.md
  doc/source/conf.py
Labels: bug

#1472 fix: ``share_topology`` is available on 24R2
  doc/changelog.d/1472.fixed.md
  src/ansys/geometry/core/tools/prepare_tools.py
Labels: bug

#1471 fix: ``check_input_types`` not working with forward refs
  doc/changelog.d/1471.fixed.md
  src/ansys/geometry/core/tools/prepare_tools.py
  tests/integration/test_prepare_tools.py
Labels: bug

#1475 build: bump ansys-sphinx-theme to v1.1.3
  doc/changelog.d/1475.dependencies.md
  pyproject.toml
Labels: maintenance

#1478 fix: static search options
  doc/changelog.d/1478.fixed.md
  doc/source/conf.py
  pyproject.toml
Labels: bug, maintenance

#1486 fix: respect product_version when launching geometry service
  doc/changelog.d/1486.fixed.md
  src/ansys/geometry/core/connection/product_instance.py
Labels: bug

#1485 docs: avoid having a drop down in the top navigation bar
  doc/changelog.d/1485.documentation.md
  doc/source/conf.py
Labels: documentation

#1490 docs: provide information on how to build a single example
  doc/changelog.d/1490.documentation.md
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/examples/03_modeling/service_colors.mystnb
Labels: bug

#1454 feat: create body from surface
  doc/changelog.d/1454.added.md
  doc/source/_static/thumbnails/quarter_sphere.png
  doc/source/conf.py
  doc/source/examples.rst
  doc/source/examples/03_modeling/surface_bodies.mystnb
  src/ansys/geometry/core/connection/conversions.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/shapes/__init__.py
  src/ansys/geometry/core/shapes/surfaces/__init__.py
  tests/integration/test_design.py
Labels: enhancement

#1497 ci: allowing new tags for Windows Core Service
  .github/workflows/docker_cleanup.yml
  doc/changelog.d/1497.maintenance.md
Labels: maintenance

#1501 docs: add example file to download in the test
  doc/changelog.d/1501.documentation.md
  tests/integration/files/blockswithparameters.dsco
Labels: documentation

#1511 docs: align landing page layout with UI/UX requirements
  doc/changelog.d/1511.documentation.md
  doc/source/index.rst
Labels: documentation

#1513 feat: caching bodies to avoid unnecessary object creation
  doc/changelog.d/1513.added.md
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
  tests/integration/test_design.py
Labels: enhancement

#1510 feat: implement cut operation in extrude sketch
  doc/changelog.d/1510.added.md
  doc/source/_static/thumbnails/cut_operation_on_extrude.png
  doc/source/conf.py
  doc/source/examples.rst
  doc/source/examples/03_modeling/cut_operation_on_extrude.mystnb
  doc/source/examples/03_modeling/plate_with_hole.mystnb
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/misc/measurements.py
  tests/integration/test_design.py
Labels: enhancement
