Repository ansys/pyansys-geometry, pull requests merged in 2024-05, with the labels that each got.

#1183 docs: add geometry preparation for Fluent simulation
  doc/changelog.d/1183.miscellaneous.md
  doc/source/_static/thumbnails/naca_fluent.png
  doc/source/conf.py
  doc/source/examples.rst
  doc/source/examples/04_applied/.gitignore
  doc/source/examples/04_applied/01_naca_airfoils.mystnb
  doc/source/examples/04_applied/02_naca_fluent.mystnb
  tests/integration/test_client.py
  tests/integration/test_launcher_local.py
Labels: documentation

#1135 docs: adapt ``ansys_sphinx_theme_autoapi`` extension for ``autoapi``
  doc/changelog.d/1135.changed.md
  doc/source/conf.py
  pyproject.toml
Labels: maintenance

#1203 chore: limit requests library version under 2.32
  doc/changelog.d/1203.fixed.md
  pyproject.toml
Labels: bug, maintenance

#1196 fix: adapting ``Arc`` class constructor order to (start, end, center)
  doc/changelog.d/1196.fixed.md
  src/ansys/geometry/core/sketch/arc.py
  src/ansys/geometry/core/sketch/gears.py
  src/ansys/geometry/core/sketch/sketch.py
  src/ansys/geometry/core/sketch/slot.py
  tests/integration/test_plotter.py
  tests/test_connection.py
  tests/test_sketch.py
Labels: bug, testing

#1208 feat: add new arc constructors
  doc/changelog.d/1208.added.md
  doc/source/examples/02_sketching/basic_usage.mystnb
  doc/source/examples/04_applied/01_naca_airfoils.mystnb
  src/ansys/geometry/core/connection/product_instance.py
  src/ansys/geometry/core/math/__init__.py
  src/ansys/geometry/core/math/misc.py
  src/ansys/geometry/core/shapes/surfaces/torus.py
  src/ansys/geometry/core/sketch/arc.py
  src/ansys/geometry/core/sketch/sketch.py
  tests/test_math.py
  tests/test_sketch.py
Labels: enhancement, testing

#1214 chore: update SECURITY.md
  SECURITY.md
  doc/changelog.d/1214.changed.md
Labels: maintenance

#1216 ci: use Trusted Publisher for releasing package
  .github/workflows/ci_cd.yml
  doc/changelog.d/1216.changed.md
Labels: maintenance

#1221 ci: remove pygeometry-ci-1 specific logic
  .github/workflows/ci_cd.yml
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1221.changed.md
Labels: maintenance

#1223 ci: only run doc build on runners outside the ansys network
  .github/workflows/ci_cd.yml
  doc/changelog.d/1223.changed.md
Labels: maintenance

#1226 fix: Interactive documentation
  doc/changelog.d/1226.fixed.md
  doc/source/conf.py
  pyproject.toml
Labels: bug, maintenance

#1227 fix: rename ``GeomPlotter`` to ``GeometryPlotter``
  doc/changelog.d/1227.added.md
  doc/source/examples/01_getting_started/05_plotter_picker.mystnb
  doc/source/examples/02_sketching/advanced_sketching_gears.mystnb
  doc/source/examples/02_sketching/basic_usage.mystnb
  doc/source/examples/03_modeling/boolean_operations.mystnb
  doc/source/examples/04_applied/02_naca_fluent.mystnb
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/plotting/__init__.py
  src/ansys/geometry/core/plotting/plotter.py
  src/ansys/geometry/core/plotting/widgets/show_design_point.py
  src/ansys/geometry/core/sketch/sketch.py
  tests/integration/test_plotter.py
Labels: enhancement

#1230 refactor: use ansys-tools-visualization-interface global vars rather than env vars
  .github/workflows/ci_cd.yml
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1230.added.md
  doc/source/conf.py
  tests/integration/conftest.py
Labels: enhancement, maintenance
