Repository ansys/pyansys-geometry, pull requests merged in 2024-03, with the labels that each got.

#1028 feat: adding version checks to new 24R2 APIs
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/tools/measurement_tools.py
  tests/integration/test_logging_client.py
Labels: enhancement

#1002 docs: improve notebook rendering style and use Sphinx hooks to convert notebooks to scripts
  doc/Makefile
  doc/make.bat
  doc/source/_static/custom.css
  doc/source/conf.py
Labels: documentation

#1030 fix: using jupytext through subprocess - fails on Windows otherwise
  doc/make.bat
  doc/source/conf.py
Labels: bug

#1031 docs: re-enable linkcheck
  doc/make.bat
Labels: documentation

#1043 docs: update index.rst
  doc/source/index.rst
Labels: documentation

#1042 feat: add extrude in pos/neg direction
  src/ansys/geometry/core/designer/__init__.py
  src/ansys/geometry/core/designer/component.py
  tests/integration/test_design.py
Labels: enhancement

#1044 fix: launch_modeler function had invalid/erroneous calls
  src/ansys/geometry/core/connection/launcher.py
Labels: bug

#655 feat: bounded geometry
  doc/source/examples/01_getting_started/01_math.mystnb
  doc/source/user_guide/index.rst
  doc/source/user_guide/primitives.rst
  src/ansys/geometry/core/connection/__init__.py
  src/ansys/geometry/core/connection/conversions.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/edge.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/math/matrix.py
  src/ansys/geometry/core/misc/accuracy.py
  src/ansys/geometry/core/misc/checks.py
  src/ansys/geometry/core/plotting/plotter.py
  src/ansys/geometry/core/primitives/cylinder.py
  src/ansys/geometry/core/shapes/__init__.py
  src/ansys/geometry/core/shapes/box_uv.py
  src/ansys/geometry/core/shapes/curves/__init__.py
  src/ansys/geometry/core/shapes/curves/circle.py
  src/ansys/geometry/core/shapes/curves/curve.py
  src/ansys/geometry/core/shapes/curves/curve_evaluation.py
  src/ansys/geometry/core/shapes/curves/ellipse.py
  src/ansys/geometry/core/shapes/curves/line.py
  src/ansys/geometry/core/shapes/curves/trimmed_curve.py
  src/ansys/geometry/core/shapes/parameterization.py
  src/ansys/geometry/core/shapes/surfaces/__init__.py
  src/ansys/geometry/core/shapes/surfaces/cone.py
  src/ansys/geometry/core/shapes/surfaces/cylinder.py
  src/ansys/geometry/core/shapes/surfaces/plane.py
  src/ansys/geometry/core/shapes/surfaces/sphere.py
  src/ansys/geometry/core/shapes/surfaces/surface.py
  src/ansys/geometry/core/shapes/surfaces/surface_evaluation.py
  src/ansys/geometry/core/shapes/surfaces/torus.py
  src/ansys/geometry/core/shapes/surfaces/trimmed_surface.py
  src/ansys/geometry/core/sketch/circle.py
  src/ansys/geometry/core/sketch/ellipse.py
  src/ansys/geometry/core/sketch/segment.py
  src/ansys/geometry/core/tools/problem_areas.py
  src/ansys/geometry/core/tools/repair_tools.py
  tests/integration/test_design.py
  tests/integration/test_edges.py
  tests/integration/test_trimmed_geometry.py
  tests/test_misc_accuracy.py
  tests/test_parameterization.py
  tests/test_primitives.py
Labels: enhancement, testing

#1045 feat: scale and map body
  pyproject.toml
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: enhancement, maintenance

#1050 docs: remove check switcher
  doc/source/conf.py
Labels: documentation

#1023 feat: add changelog action
  .github/workflows/label.yml
  CHANGELOG.md
  doc/changelog.d/1023.added.md
  doc/changelog.d/changelog_template.jinja
  pyproject.toml
Labels: enhancement, maintenance

#1055 feat: mirror a body
  doc/changelog.d/1055.added.md
  pyproject.toml
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: enhancement, maintenance

#1035 feat: create a sphere body on the backend
  doc/changelog.d/1035.added.md
  src/ansys/geometry/core/designer/component.py
  tests/integration/test_design.py
Labels: enhancement

#1065 chore: add pre-commit.ci configuration
  .pre-commit-config.yaml
  doc/changelog.d/1065.changed.md
Labels: maintenance

#1067 chore: dependabot PR automatic approval
  .github/workflows/dependabot_automerge.yml
  doc/changelog.d/1067.changed.md
  doc/styles/Vocab/ANSYS/accept.txt
Labels: maintenance

#1070 fix: misleading docstring for sweep_chain()
  doc/.vale.ini
  doc/changelog.d/1070.fixed.md
  src/ansys/geometry/core/designer/component.py
Labels: bug

#1069 fix: linux Dockerfile - replace .NET6.0 references by .NET8.0
  doc/changelog.d/1069.fixed.md
  docker/linux/Dockerfile
Labels: bug, dependencies

#1071 feat: vulnerability checks
  .github/workflows/ci_cd.yml
  doc/changelog.d/1071.added.md
Labels: enhancement, maintenance

#1076 fix: prepare_and_start_backend is only available on Windows
  doc/changelog.d/1076.fixed.md
  src/ansys/geometry/core/connection/product_instance.py
Labels: bug

#1077 feat: accept bandit advisories in-line for subprocess
  doc/changelog.d/1077.added.md
  src/ansys/geometry/core/connection/product_instance.py
Labels: enhancement

#1085 chore: update docker tags to be kept
  .github/workflows/docker_cleanup.yml
  doc/changelog.d/1085.changed.md
Labels: maintenance
