Repository ansys/pyansys-geometry, pull requests merged in 2024-02, with the labels that each got.

#970 docs: add downloads badge
  README.rst
Labels: documentation

#971 feat: seo-improvements
  .github/workflows/ci_cd.yml
Labels: enhancement, maintenance

#976 maint: fix CodeQL config issues
  .github/codeql-config.yml
  .github/workflows/codeql.yml
Labels: maintenance

#975 Post repair design sync
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/misc/__init__.py
  src/ansys/geometry/core/misc/auxiliary.py
  src/ansys/geometry/core/misc/checks.py
  src/ansys/geometry/core/tools/problem_areas.py
  src/ansys/geometry/core/tools/repair_tools.py
  tests/integration/test_repair_tools.py
Labels: enhancement

#979 feat: properly allow SpaceClaim to run in hidden mode
  README.rst
  src/ansys/geometry/core/connection/product_instance.py
  src/ansys/geometry/core/designer/part.py
  src/ansys/geometry/core/misc/auxiliary.py
  src/ansys/geometry/core/misc/checks.py
  src/ansys/geometry/core/sketch/edge.py
  src/ansys/geometry/core/sketch/face.py
Labels: enhancement

#980 docs: improve contributing section
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/getting_started/existing/index.rst
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: enhancement

#981 Skip import/export tests to get DMS through
  tests/integration/test_design.py
  tests/integration/test_design_import.py
Labels: enhancement

#902 feat: lint dockerfiles
  .github/workflows/ci_cd.yml
  CONTRIBUTORS.md
  docker/linux/Dockerfile
  docker/windows/Dockerfile
Labels: maintenance

#993 fix: renaming Dockerfiles
  .github/workflows/ci_cd.yml
  doc/source/getting_started/docker/windows_container.rst
  docker/build_docker_windows.py
Labels: bug, maintenance

#995 doc: update to sphinx-autoapi==3.1.0a2 version
  doc/Makefile
  doc/make.bat
  doc/source/conf.py
  pyproject.toml
Labels: documentation, maintenance

#1005 feat: add PR template
  .github/pull_request_template.md
Labels: enhancement, maintenance

#1007 chore: Add branch name checker
  .github/dependabot.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

#1019 fix: add the baseurl in conf.py
  doc/source/conf.py
Labels: documentation

#1020 ci: use feat/seo-improvements branch for doc-deploy
  .github/workflows/ci_cd.yml
Labels: maintenance

#1027 docs: adding recent faqs
  doc/make.bat
  doc/source/conf.py
  doc/source/getting_started/docker/windows_container.rst
  doc/source/getting_started/faq.rst
Labels: documentation

#1024 feat: Add min_backend_version decorator
  .github/pull_request_template.md
  pyproject.toml
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/misc/__init__.py
  src/ansys/geometry/core/misc/checks.py
  tests/test_misc_checks.py
Labels: enhancement, maintenance, testing
