Repository ansys/pyansys-geometry, pull requests merged in 2024-06, with the labels that each got.

#1237 ci: announce nightly workflows failing
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1237.changed.md
Labels: maintenance

#1238 fix: only notify on failure and fill with data
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1238.fixed.md
Labels: bug, maintenance

#1242 feat: bump to use v251 as default
  .github/workflows/ci_cd.yml
  doc/changelog.d/1242.added.md
  docker/windows/Dockerfile
  src/ansys/geometry/core/connection/backend.py
Labels: enhancement, maintenance

#1243 ci: failing notifications improvement
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1243.changed.md
Labels: maintenance

#1244 fix: broken interactive docs and improved tests paths
  doc/changelog.d/1244.changed.md
  doc/source/conf.py
  tests/integration/conftest.py
  tests/integration/test_design.py
  tests/integration/test_design_import.py
  tests/integration/test_measurement_tools.py
  tests/integration/test_repair_tools.py
  tests/integration/test_runscript.py
Labels: maintenance

#1246 chore: update dev version to 0.7.dev0
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1246.changed.md
  doc/source/assets.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: maintenance

#1247 docs: add conda information for package
  README.rst
  doc/changelog.d/1247.miscellaneous.md
  doc/source/getting_started/installation.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

#1255 fix: Bug in `show` function
  doc/changelog.d/1255.fixed.md
  pyproject.toml
  src/ansys/geometry/core/plotting/plotter.py
Labels: bug, maintenance

#1248 feat: revolve a sketch given an axis and an origin
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1248.added.md
  doc/source/_static/thumbnails/revolving.png
  doc/source/conf.py
  doc/source/examples.rst
  doc/source/examples/03_modeling/revolving.mystnb
  doc/source/examples/03_modeling/sweep_chain_profile.mystnb
  src/ansys/geometry/core/designer/component.py
  tests/integration/image_cache/results/.gitignore
  tests/integration/test_design.py
  tests/integration/test_plotter.py
Labels: enhancement, maintenance

#1257 fix: Rename built in shadowing variables
  doc/changelog.d/1257.fixed.md
  pyproject.toml
  src/ansys/geometry/core/plotting/plotter.py
Labels: bug, maintenance

#1260 feat: deprecating log_level and logs_folder + adding client log control
  doc/changelog.d/1260.added.md
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/connection/product_instance.py
Labels: enhancement

#1261 feat: adding deprecation support for args and methods
  doc/changelog.d/1261.added.md
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/connection/product_instance.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/misc/__init__.py
  src/ansys/geometry/core/misc/checks.py
  src/ansys/geometry/core/plotting/plotter.py
  tests/test_misc_checks.py
Labels: enhancement, testing

#1262 ci: simplify doc build using ansys/actions
  .github/workflows/ci_cd.yml
  doc/changelog.d/1262.changed.md
Labels: maintenance

#1265 build: adapting to numpy 2.x
  doc/changelog.d/1265.changed.md
  pyproject.toml
  src/ansys/geometry/core/shapes/curves/line.py
  src/ansys/geometry/core/shapes/parameterization.py
  src/ansys/geometry/core/shapes/surfaces/cone.py
  src/ansys/geometry/core/shapes/surfaces/cylinder.py
  src/ansys/geometry/core/shapes/surfaces/plane.py
  src/ansys/geometry/core/shapes/surfaces/sphere.py
  src/ansys/geometry/core/sketch/box.py
  src/ansys/geometry/core/sketch/segment.py
  src/ansys/geometry/core/sketch/trapezoid.py
  src/ansys/geometry/core/sketch/triangle.py
  tests/test_parameterization.py
Labels: maintenance, testing

#1268 docs: examples are not being uploaded as assets (.py/.ipynb)
  .github/workflows/ci_cd.yml
  doc/Makefile
  doc/changelog.d/1268.fixed.md
  doc/make.bat
  doc/source/conf.py
  pyproject.toml
Labels: bug, maintenance

#1269 fix: change action order
  .github/workflows/ci_cd.yml
  doc/changelog.d/1269.fixed.md
Labels: bug, maintenance

#1270 docs: using ansys actions (again) to build docs
  .github/workflows/ci_cd.yml
  doc/changelog.d/1270.changed.md
Labels: documentation, maintenance

#1264 fix: unnecessary Point3D comparison
  doc/changelog.d/1264.fixed.md
Labels: bug

#1275 fix: backticks breaking doc build after ruff linter
  doc/changelog.d/1275.fixed.md
  src/ansys/geometry/core/connection/conversions.py
Labels: bug

#1276 chore: bump pre-commit-hook version
  .pre-commit-config.yaml
  doc/changelog.d/1276.changed.md
Labels: maintenance

#1280 build: update sphinx-autodoc-typehints version
  doc/changelog.d/1280.changed.md
  pyproject.toml
Labels: maintenance
