Repository ansys/pyansys-geometry, pull requests merged in 2025-01, with the labels that each got.

#1495 feat: add chamfer tool
  doc/changelog.d/1495.added.md
  doc/source/_static/thumbnails/chamfer.png
  doc/source/conf.py
  doc/source/examples.rst
  doc/source/examples/03_modeling/boolean_operations.mystnb
  doc/source/examples/03_modeling/chamfer.mystnb
  doc/source/examples/04_applied/01_naca_airfoils.mystnb
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/edge.py
  src/ansys/geometry/core/designer/geometry_commands.py
  src/ansys/geometry/core/modeler.py
  tests/integration/test_geometry_commands.py
Labels: enhancement

#1580 feat: enable (partially) prepare and repair tools in Core Service
  doc/changelog.d/1580.added.md
  src/ansys/geometry/core/modeler.py
  tests/integration/test_prepare_tools.py
  tests/integration/test_repair_tools.py
Labels: enhancement

#1621 feat: create a fillet on an edge/face
  doc/changelog.d/1621.added.md
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: enhancement

#1623 feat: create a full fillet between multiple faces
  doc/changelog.d/1623.added.md
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: enhancement

#1631 fix: FAQ on install
  doc/changelog.d/1631.fixed.md
  doc/source/getting_started/faq.rst
Labels: bug

#1628 feat: extrude existing faces, setup face offset relationships
  doc/changelog.d/1628.added.md
  src/ansys/geometry/core/designer/__init__.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: enhancement

#1637 fix: release issues encountered
  .github/workflows/ci_cd.yml
  doc/changelog.d/1339.changed.md
  doc/changelog.d/1637.fixed.md
  docker/linux/coreservice/Dockerfile
  docker/windows/coreservice/Dockerfile
  docker/windows/dms/Dockerfile
Labels: bug, maintenance

#1638 feat: extrude existing edges to create surface bodies
  doc/changelog.d/1638.added.md
  pyproject.toml
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: enhancement, maintenance

#1650 feat: surface body from trimmed curves
  doc/changelog.d/1650.added.md
  src/ansys/geometry/core/designer/component.py
  tests/integration/test_design.py
Labels: enhancement

#1653 feat: create circular and fill patterns
  doc/changelog.d/1653.added.md
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: enhancement

#1659 ci: reverting semver package whitelist since problematic version is yanked
  .github/workflows/ci_cd.yml
  doc/changelog.d/1659.maintenance.md
Labels: bug, maintenance

#1648 feat: rename object
  doc/changelog.d/1648.added.md
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: enhancement

#1647 feat: parameters refurbished
  doc/changelog.d/1647.added.md
  doc/source/_static/thumbnails/block_with_parameters.png
  doc/source/conf.py
  doc/source/examples.rst
  doc/source/examples/03_modeling/design_parameters.mystnb
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/parameters/__init__.py
  src/ansys/geometry/core/parameters/parameter.py
  tests/integration/test_design.py
Labels: enhancement

#1664 feat: replace face
  doc/changelog.d/1664.added.md
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: enhancement

#1671 feat: enable get/set persistent ids for stride import/export
  doc/changelog.d/1671.added.md
  src/ansys/geometry/core/misc/auxiliary.py
  src/ansys/geometry/core/misc/unsupported.py
  src/ansys/geometry/core/modeler.py
  tests/integration/test_design_import.py
Labels: enhancement

#1661 feat: find fix simplify
  doc/changelog.d/1661.added.md
  src/ansys/geometry/core/tools/problem_areas.py
  src/ansys/geometry/core/tools/repair_tools.py
  tests/integration/files/SOBracket2.scdocx
  tests/integration/test_repair_tools.py
Labels: enhancement

#1669 feat: add split body and tests
  doc/changelog.d/1669.added.md
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/files/Edge_Slice_Test.dsco
  tests/integration/test_design.py
  tests/integration/test_geometry_commands.py
Labels: enhancement

#1680 ci: ensure design is closed on test exit
  doc/changelog.d/1680.maintenance.md
  src/ansys/geometry/core/modeler.py
  tests/integration/conftest.py
  tests/integration/test_design.py
  tests/integration/test_geometry_commands.py
Labels: enhancement

#1672 feat: find and fix edge methods
  doc/changelog.d/1672.added.md
  src/ansys/geometry/core/tools/repair_tools.py
Labels: enhancement

#1673 feat: shell methods
  doc/changelog.d/1673.added.md
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: enhancement

#1633 feat: interference repair tool
  doc/changelog.d/1633.added.md
  src/ansys/geometry/core/tools/problem_areas.py
  src/ansys/geometry/core/tools/repair_tools.py
  tests/integration/files/SimpleInterference.scdocx
  tests/integration/test_repair_tools.py
Labels: enhancement

#1685 fix: filter set export id to only CoreService based backends
  doc/changelog.d/1685.fixed.md
  tests/integration/test_design_import.py
Labels: bug

#1684 feat: get assigned material
  doc/changelog.d/1684.added.md
  src/ansys/geometry/core/connection/conversions.py
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: enhancement

#1683 test: add unit tests for 3 repair tools
  doc/changelog.d/1683.test.md
  src/ansys/geometry/core/tools/repair_tools.py
  tests/integration/test_repair_tools.py
Labels: bug

#1675 feat: implementation of NURBS curves
  doc/changelog.d/1675.added.md
  pyproject.toml
  src/ansys/geometry/core/shapes/__init__.py
  src/ansys/geometry/core/shapes/curves/__init__.py
  src/ansys/geometry/core/shapes/curves/nurbs.py
  tests/test_primitives.py
Labels: enhancement, maintenance, testing

#1690 fix: cleanup unsupported module
  doc/changelog.d/1690.fixed.md
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/tools/__init__.py
  src/ansys/geometry/core/tools/unsupported.py
  tests/integration/test_design_import.py
Labels: bug

#1692 feat: is_core_service BackendType static method
  .github/workflows/ci_cd.yml
  doc/changelog.d/1692.added.md
  src/ansys/geometry/core/connection/backend.py
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/connection/product_instance.py
  src/ansys/geometry/core/modeler.py
  tests/integration/conftest.py
  tests/integration/test_design.py
  tests/integration/test_design_export.py
  tests/integration/test_design_import.py
  tests/integration/test_issues.py
  tests/integration/test_measurement_tools.py
  tests/integration/test_prepare_tools.py
  tests/integration/test_repair_tools.py
  tests/integration/test_runscript.py
  tests/integration/test_tessellation.py
  tests/integration/test_trimmed_geometry.py
Labels: enhancement, maintenance

#1693 ci: use dedicate pygeometry-ci-2 runner
  .github/workflows/ci_cd.yml
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1693.maintenance.md
  doc/source/conf.py
Labels: maintenance

#1689 feat: matrix rotation and translation
  doc/changelog.d/1689.added.md
  src/ansys/geometry/core/math/matrix.py
  tests/test_math.py
Labels: enhancement, testing

#1691 fix: disable unimplemented tests
  doc/changelog.d/1691.fixed.md
  tests/integration/test_design.py
  tests/integration/test_design_export.py
Labels: bug

#1698 feat: export and download stride format
  doc/changelog.d/1698.added.md
  src/ansys/geometry/core/designer/design.py
  tests/integration/conftest.py
  tests/integration/files/import/twoCars.stride
  tests/integration/test_design.py
  tests/integration/test_design_export.py
  tests/integration/test_design_import.py
  tests/integration/test_geometry_commands.py
  tests/integration/test_tessellation.py
Labels: enhancement

#1665 feat: commands for merge and intersect
  doc/changelog.d/1665.added.md
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
  tests/integration/test_geometry_commands.py
Labels: enhancement

#1702 chore: remove towncrier info duplicates
  doc/changelog.d/1702.maintenance.md
  pyproject.toml
Labels: maintenance

#1703 fix: tech review fixes for blitz branch
  doc/changelog.d/1703.fixed.md
  doc/source/examples/03_modeling/.gitignore
  doc/source/examples/03_modeling/boolean_operations.mystnb
  doc/source/examples/03_modeling/design_parameters.mystnb
  src/ansys/geometry/core/connection/__init__.py
  src/ansys/geometry/core/connection/conversions.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/designer/geometry_commands.py
  src/ansys/geometry/core/math/matrix.py
  src/ansys/geometry/core/parameters/parameter.py
  src/ansys/geometry/core/shapes/curves/nurbs.py
  src/ansys/geometry/core/tools/problem_areas.py
  src/ansys/geometry/core/tools/repair_tools.py
  src/ansys/geometry/core/tools/unsupported.py
  tests/integration/conftest.py
  tests/integration/test_design.py
  tests/integration/test_geometry_commands.py
  tests/test_primitives.py
Labels: bug, testing

#1707 feat: design activation changes
  doc/changelog.d/1707.added.md
  src/ansys/geometry/core/designer/design.py
  tests/integration/test_design_import.py
Labels: enhancement

#1258 test: verifying issue with empty intersect and temporal body creation
  doc/changelog.d/1258.test.md
  tests/integration/test_design_import.py
  tests/integration/test_issues.py
Labels: bug

#1708 feat: add contributors
  CONTRIBUTORS.md
  doc/changelog.d/1708.added.md
  doc/source/getting_started/docker/windows_container.rst
Labels: enhancement
