Repository ansys/pyansys-geometry, pull requests merged in 2025-04, with the labels that each got.

#1873 feat: Logo detection
  doc/changelog.d/1873.added.md
  src/ansys/geometry/core/tools/prepare_tools.py
  src/ansys/geometry/core/tools/problem_areas.py
  tests/integration/files/partWithLogos.scdocx
  tests/integration/test_prepare_tools.py
Labels: enhancement

#1867 feat: grpc common layer architecture, bodies stub and admin stub implementation
  doc/changelog.d/1867.added.md
  doc/source/conf.py
  src/ansys/geometry/core/_grpc/_services/_service.py
  src/ansys/geometry/core/_grpc/_services/base/admin.py
  src/ansys/geometry/core/_grpc/_services/base/bodies.py
  src/ansys/geometry/core/_grpc/_services/base/conversions.py
  src/ansys/geometry/core/_grpc/_services/v0/admin.py
  src/ansys/geometry/core/_grpc/_services/v0/bodies.py
  src/ansys/geometry/core/_grpc/_services/v0/conversions.py
  src/ansys/geometry/core/_grpc/_services/v1/admin.py
  src/ansys/geometry/core/_grpc/_services/v1/bodies.py
  src/ansys/geometry/core/_grpc/_version.py
  src/ansys/geometry/core/connection/__init__.py
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/connection/conversions.py
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/connection/product_instance.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/designer/selection.py
  src/ansys/geometry/core/math/matrix.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/tools/repair_tools.py
Labels: documentation, enhancement

#1886 docs: Ahmed body example for external aero simulation
  doc/changelog.d/1886.documentation.md
  doc/source/_static/images/ahmed_body_schematic.jpg
  doc/source/_static/images/boi_schematic.jpg
  doc/source/_static/images/enclosure_schematic.jpg
  doc/source/_static/images/sketch_planes.jpg
  doc/source/_static/thumbnails/ahmed_body.png
  doc/source/conf.py
  doc/source/examples.rst
  doc/source/examples/04_applied/03_ahmed_body_fluent.mystnb
Labels: documentation, enhancement

#1893 docs: adding command for single example build
  doc/Makefile
  doc/changelog.d/1893.documentation.md
  doc/make.bat
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/examples.rst
  doc/source/examples/99_misc/template.mystnb
Labels: documentation, enhancement

#1898 ci: remove whitelisting
  .github/workflows/ci_cd.yml
  doc/changelog.d/1898.maintenance.md
  pyproject.toml
Labels: maintenance

#1899 feat: grpc named selection stub implementation
  doc/changelog.d/1899.added.md
  src/ansys/geometry/core/_grpc/_services/_service.py
  src/ansys/geometry/core/_grpc/_services/base/named_selection.py
  src/ansys/geometry/core/_grpc/_services/v0/named_selection.py
  src/ansys/geometry/core/_grpc/_services/v1/named_selection.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/designer/selection.py
Labels: enhancement

#1902 ci: make doc releases dependent on GH and PyPI release
  .github/workflows/ci_cd.yml
  doc/changelog.d/1902.maintenance.md
Labels: maintenance

#1909 feat: grpc measurement tools stub implementation
  doc/changelog.d/1909.added.md
  src/ansys/geometry/core/_grpc/_services/_service.py
  src/ansys/geometry/core/_grpc/_services/base/conversions.py
  src/ansys/geometry/core/_grpc/_services/base/measurement_tools.py
  src/ansys/geometry/core/_grpc/_services/v0/measurement_tools.py
  src/ansys/geometry/core/_grpc/_services/v1/measurement_tools.py
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/designer/selection.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/tools/measurement_tools.py
Labels: enhancement

#1913 build: bump grpcio limits and handle erratic gRPC channel creation
  .github/workflows/ci_cd.yml
  doc/changelog.d/1913.dependencies.md
  pyproject.toml
  src/ansys/geometry/core/_grpc/_services/base/admin.py
  src/ansys/geometry/core/_grpc/_services/v0/admin.py
  src/ansys/geometry/core/_grpc/_services/v1/admin.py
  src/ansys/geometry/core/connection/client.py
Labels: maintenance

#1916 fix: is_suppressed is not available until 25R2
  doc/changelog.d/1916.fixed.md
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/plotting/plotter.py
Labels: bug

#1925 fix: docstyle ordering
  doc/changelog.d/1925.fixed.md
  src/ansys/geometry/core/_grpc/_services/_service.py
  src/ansys/geometry/core/_grpc/_services/base/conversions.py
  src/ansys/geometry/core/_grpc/_version.py
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/parameters/parameter.py
  src/ansys/geometry/core/shapes/curves/nurbs.py
  src/ansys/geometry/core/tools/repair_tools.py
Labels: bug

#1924 build: bump PyVista and VTK versions (support Python 3.13)
  .github/workflows/ci_cd.yml
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1924.dependencies.md
  doc/changelog.d/1925.fixed.md
  pyproject.toml
  src/ansys/geometry/core/_grpc/_services/_service.py
  src/ansys/geometry/core/_grpc/_services/base/conversions.py
  src/ansys/geometry/core/_grpc/_version.py
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/parameters/parameter.py
  src/ansys/geometry/core/shapes/curves/nurbs.py
  src/ansys/geometry/core/sketch/ellipse.py
  src/ansys/geometry/core/sketch/polygon.py
  src/ansys/geometry/core/sketch/sketch.py
  src/ansys/geometry/core/tools/repair_tools.py
  tests/conftest.py
  tests/integration/test_plotter.py
  tests/integration/test_tessellation.py
Labels: maintenance, testing

#1931 ci: fix unstable workflows for Linux (missing headless display)
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1931.maintenance.md
Labels: maintenance

#1927 ci: fix issues with OSMesa installation and env variables set up
  .github/workflows/ci_cd.yml
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1927.maintenance.md
Labels: maintenance

#1932 fix: adapt Native folder path for Linux and Windows
  doc/changelog.d/1932.fixed.md
  src/ansys/geometry/core/connection/product_instance.py
Labels: bug

#1934 ci: use v4 of pyvista/setup-headless-display-action
  .github/workflows/ci_cd.yml
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1934.maintenance.md
Labels: maintenance
