Repository ansys/pyansys-geometry, pull requests merged in 2025-05, with the labels that each got.

#1957 docs: ignore stackoverflow link
  doc/changelog.d/1957.documentation.md
  doc/source/conf.py
Labels: documentation

#1958 fix: core service launcher missing CADIntegration bin folder in path
  doc/changelog.d/1958.fixed.md
  src/ansys/geometry/core/connection/product_instance.py
Labels: bug

#1961 feat: use license metadata properly
  doc/changelog.d/1961.added.md
  pyproject.toml
Labels: enhancement, maintenance

#1965 docs: change python3statement url
  doc/changelog.d/1965.documentation.md
  doc/source/getting_started/installation.rst
Labels: bug, documentation

#1912 feat: repair tools refactoring
  doc/changelog.d/1912.added.md
  src/ansys/geometry/core/_grpc/_services/_service.py
  src/ansys/geometry/core/_grpc/_services/base/repair_tools.py
  src/ansys/geometry/core/_grpc/_services/v0/repair_tools.py
  src/ansys/geometry/core/_grpc/_services/v1/repair_tools.py
  src/ansys/geometry/core/tools/repair_tools.py
Labels: enhancement

#1970 fix: myst warning -- all cells must be of same type
  doc/changelog.d/1970.fixed.md
  doc/source/examples/01_getting_started/05_plotter_picker.mystnb
Labels: documentation

#1980 feat: add 261 version api versions list
  doc/changelog.d/1980.added.md
  docker/linux/coreservice/Dockerfile
  docker/windows/coreservice/Dockerfile
  src/ansys/geometry/core/connection/backend.py
  src/ansys/geometry/core/connection/docker_instance.py
Labels: enhancement

#1985 ci: revert ansys/actions release
  .github/workflows/ci_cd.yml
  .github/workflows/docker_cleanup.yml
  .github/workflows/label.yml
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/1985.maintenance.md
Labels: maintenance

#1998 feat: deprecating ``product_version`` in favor of ``version``
  doc/changelog.d/1998.added.md
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/connection/product_instance.py
Labels: enhancement
