Repository ansys/pyansys-geometry, pull requests merged in 2025-06, with the labels that each got.

#2016 ci: improving CodeQL
  .github/codeql-config.yml
  .github/workflows/ci_cd.yml
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/2016.maintenance.md
  tests/integration/files/disco_scripts/failing_script.py
Labels: maintenance

#2032 fix: make sure export_glb is handling a single Polydata object
  doc/changelog.d/2032.fixed.md
  src/ansys/geometry/core/plotting/plotter.py
Labels: bug

#2047 test: expanding test coverage for sketch
  doc/changelog.d/2047.test.md
  src/ansys/geometry/core/sketch/__init__.py
  tests/test_sketch.py
Labels: testing

#2054 build: limiting ansys-tools-visualization-interface
  doc/changelog.d/2054.dependencies.md
  pyproject.toml
Labels: maintenance

#2061 test: expanding test coverage for designer and math
  doc/changelog.d/2061.test.md
  tests/integration/test_design.py
  tests/test_math.py
Labels: testing

#2060 docs: add proper disclaimer to binaries repository
  doc/changelog.d/2060.documentation.md
  doc/source/assets.rst
  doc/source/getting_started/docker/windows_container.rst
Labels: documentation
