Repository ansys/pyansys-geometry, pull requests merged in 2025-10, with the labels that each got.

#2273 feat: NURBS surface body creation
  doc/changelog.d/2273.added.md
  pyproject.toml
  src/ansys/geometry/core/_grpc/_services/v0/conversions.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/shapes/surfaces/nurbs.py
  tests/_incompatible_tests.yml
  tests/integration/test_design.py
Labels: enhancement, maintenance, testing

#2277 ci: zizmor fixes
  .github/workflows/backwards_compatibility.yml
  .github/workflows/ci_cd.yml
  .github/workflows/codeql.yml
  .github/workflows/docker_ansyslab_linux.yml
  .github/workflows/docker_ansyslab_windows.yml
  .github/workflows/docker_cleanup.yml
  .github/workflows/label.yml
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/2277.maintenance.md
Labels: maintenance

#2153 feat: tracking boolean operations
  doc/changelog.d/2153.added.md
  src/ansys/geometry/core/_grpc/_services/base/bodies.py
  src/ansys/geometry/core/_grpc/_services/base/repair_tools.py
  src/ansys/geometry/core/_grpc/_services/v0/bodies.py
  src/ansys/geometry/core/_grpc/_services/v0/components.py
  src/ansys/geometry/core/_grpc/_services/v0/conversions.py
  src/ansys/geometry/core/_grpc/_services/v0/repair_tools.py
  src/ansys/geometry/core/_grpc/_services/v1/bodies.py
  src/ansys/geometry/core/_grpc/_services/v1/repair_tools.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/tools/problem_areas.py
  src/ansys/geometry/core/tools/repair_tool_message.py
  src/ansys/geometry/core/tools/repair_tools.py
Labels: enhancement

#2279 ci: remove tracker testing
  .github/workflows/ci_cd.yml
  doc/changelog.d/2279.maintenance.md
Labels: maintenance

#2286 ci: run on GitHub runners directly
  .github/workflows/backwards_compatibility.yml
  .github/workflows/ci_cd.yml
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/2286.maintenance.md
Labels: maintenance

#2282 feat: combine and merge bodies
  doc/changelog.d/2282.added.md
  src/ansys/geometry/core/_grpc/_services/base/bodies.py
  src/ansys/geometry/core/_grpc/_services/v0/bodies.py
  src/ansys/geometry/core/_grpc/_services/v1/bodies.py
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
Labels: enhancement

#2293 chore: prevent invalid kwargs from being passed to launcher methods
  doc/changelog.d/2293.maintenance.md
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/misc/__init__.py
  src/ansys/geometry/core/misc/checks.py
  tests/test_launcher.py
  tests/test_misc_checks.py
Labels: enhancement, testing
