Repository ansys/pyansys-geometry, pull requests merged in 2025-03, with the labels that each got.

#1794 fix: flaky color test due to random face assignment
  doc/changelog.d/1794.fixed.md
  tests/integration/test_plotter.py
Labels: bug

#1788 feat: RGBA color support
  .github/workflows/ci_cd.yml
  doc/changelog.d/1788.added.md
  doc/changelog.d/1794.fixed.md
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/misc/auxiliary.py
  src/ansys/geometry/core/plotting/plotter.py
  tests/integration/test_design.py
  tests/integration/test_plotter.py
Labels: enhancement, maintenance

#1808 fix: translating sketch issues when using a custom default unit
  .github/workflows/ci_cd.yml
  doc/changelog.d/1808.fixed.md
  src/ansys/geometry/core/sketch/sketch.py
  tests/integration/test_issues.py
Labels: bug, maintenance

#1805 feat: enhanced 3D bounding box implementation
  doc/changelog.d/1805.added.md
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/edge.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/math/__init__.py
  src/ansys/geometry/core/math/bbox.py
  tests/integration/test_design.py
  tests/integration/test_geometry_commands.py
  tests/test_math.py
Labels: enhancement, testing

#1806 feat: matrix helper methods
  doc/changelog.d/1806.added.md
  src/ansys/geometry/core/math/matrix.py
  src/ansys/geometry/core/math/vector.py
  tests/test_math.py
Labels: enhancement, testing

#1816 fix: edge start and end were not being mapped correctly
  doc/changelog.d/1816.fixed.md
  src/ansys/geometry/core/designer/edge.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/shapes/curves/trimmed_curve.py
  tests/integration/test_issues.py
Labels: bug

#1812 ci: remove DMS from pipelines and use core service images only
  .github/workflows/ci_cd.yml
  .github/workflows/docker_ansyslab_windows.yml
  .github/workflows/nightly_docker_test.yml
  doc/Makefile
  doc/changelog.d/1812.maintenance.md
  doc/source/cheatsheet/.gitignore
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/examples/03_modeling/chamfer.mystnb
  doc/source/examples/03_modeling/design_tree.mystnb
  doc/source/examples/03_modeling/export_design.mystnb
  doc/source/examples/04_applied/02_naca_fluent.mystnb
  pyproject.toml
  src/ansys/geometry/core/designer/body.py
Labels: documentation, maintenance

#1824 ci: use ansys/action/hk-automerge-prs
  .github/workflows/automerge_prs.yml
  .github/workflows/ci_cd.yml
  doc/changelog.d/1824.maintenance.md
Labels: maintenance

#1820 feat: component name setting
  doc/changelog.d/1820.added.md
  pyproject.toml
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/designer/edge.py
  tests/integration/test_design.py
Labels: enhancement, maintenance

#1821 feat: enable runscript for CoreService
  doc/changelog.d/1821.added.md
  src/ansys/geometry/core/modeler.py
  tests/integration/files/disco_scripts/integrated_script.py
  tests/integration/files/disco_scripts/simple_script.dscript
  tests/integration/files/disco_scripts/simple_script.py
  tests/integration/files/disco_scripts/simple_script.scscript
  tests/integration/test_runscript.py
Labels: enhancement

#1779 feat: Streaming upload support
  doc/changelog.d/1779.added.md
  src/ansys/geometry/core/connection/__init__.py
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/connection/docker_instance.py
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/misc/options.py
  src/ansys/geometry/core/modeler.py
  tests/integration/conftest.py
  tests/integration/test_client.py
  tests/integration/test_design.py
  tests/integration/test_launcher_remote.py
Labels: enhancement

#1840 build: ansys api geometry 0.4.49
  doc/changelog.d/1840.dependencies.md
  pyproject.toml
Labels: maintenance

#1842 feat: revolve faces and revolve faces by helix options
  doc/changelog.d/1842.added.md
  pyproject.toml
  src/ansys/geometry/core/designer/geometry_commands.py
  tests/integration/test_geometry_commands.py
Labels: enhancement, maintenance

#1850 fix: tessellation options were not extended to component/face methods
  doc/changelog.d/1850.fixed.md
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/misc/__init__.py
  src/ansys/geometry/core/modeler.py
Labels: bug

#1852 ci: upgrading to new features in ansys/actions v8.2
  .github/workflows/ci_cd.yml
  doc/changelog.d/1852.maintenance.md
Labels: maintenance

#1851 feat: Remove rounds
  doc/changelog.d/1851.added.md
  src/ansys/geometry/core/tools/prepare_tools.py
  tests/integration/files/BoxWithRound.scdocx
  tests/integration/test_prepare_tools.py
Labels: enhancement

#1857 chore: bump version number to 0.11.dev0
  SECURITY.md
  doc/changelog.d/1857.maintenance.md
  doc/source/assets.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: documentation, maintenance

#1858 ci: fix release notes inputs
  .github/workflows/ci_cd.yml
  doc/changelog.d/1858.maintenance.md
Labels: maintenance
