Repository ansys/pyansys-geometry, pull requests merged in 2025-09, with the labels that each got.

#2202 fix: add skip_if_discovery method
  doc/changelog.d/2202.fixed.md
  tests/integration/conftest.py
  tests/integration/test_design_export.py
Labels: bug

#2222 feat: NURBS surface implementation
  doc/changelog.d/2222.added.md
  src/ansys/geometry/core/shapes/surfaces/nurbs.py
  tests/test_primitives.py
Labels: enhancement, testing

#2226 feat: for 261 dotnet 8 is included in core service
  doc/changelog.d/2226.added.md
  src/ansys/geometry/core/connection/product_instance.py
Labels: enhancement

#2258 build: upgrade grpcio and protobuf
  .github/workflows/ci_cd.yml
  doc/changelog.d/2258.dependencies.md
  pyproject.toml
Labels: maintenance

#2257 test: verifying issue 2251 - double import and export to stride fails
  doc/changelog.d/2257.test.md
  tests/_incompatible_tests.yml
  tests/integration/files/pipe_split_small_edge.dsco
  tests/integration/test_issues.py
Labels: bug, testing

#2267 feat: cleaning up usage of unsupported stub
  doc/changelog.d/2267.added.md
  src/ansys/geometry/core/_grpc/_services/_service.py
  src/ansys/geometry/core/_grpc/_services/base/unsupported.py
  src/ansys/geometry/core/_grpc/_services/v0/unsupported.py
  src/ansys/geometry/core/_grpc/_services/v1/unsupported.py
  src/ansys/geometry/core/tools/unsupported.py
Labels: enhancement

#2274 fix: card message on failure
  .github/workflows/nightly_docker_test.yml
  doc/changelog.d/2274.fixed.md
Labels: maintenance
