Repository ansys/pyansys-geometry, pull requests merged in 2025-08, with the labels that each got.

#2147 test: temp skip
  doc/changelog.d/2147.test.md
  tests/integration/test_design_import.py
Labels: bug

#2142 test: nurbs length test
  doc/changelog.d/2142.test.md
  tests/test_primitives.py
Labels: testing

#2148 feat: set multiple export ids
  doc/changelog.d/2148.added.md
  pyproject.toml
  src/ansys/geometry/core/tools/unsupported.py
  tests/integration/test_design_import.py
Labels: enhancement, maintenance

#2168 ci: remove temporarily 25.1 backwards compatibility checks
  .github/workflows/backwards_compatibility.yml
  doc/changelog.d/2168.maintenance.md
Labels: maintenance

#2179 feat: body sweep_with_guide
  doc/changelog.d/2179.added.md
  src/ansys/geometry/core/_grpc/_services/base/bodies.py
  src/ansys/geometry/core/_grpc/_services/v0/bodies.py
  src/ansys/geometry/core/_grpc/_services/v0/conversions.py
  src/ansys/geometry/core/_grpc/_services/v1/bodies.py
  src/ansys/geometry/core/designer/component.py
  tests/integration/test_design.py
Labels: enhancement

#2180 feat: remove materials
  doc/changelog.d/2180.added.md
  src/ansys/geometry/core/_grpc/_services/base/bodies.py
  src/ansys/geometry/core/_grpc/_services/base/materials.py
  src/ansys/geometry/core/_grpc/_services/v0/bodies.py
  src/ansys/geometry/core/_grpc/_services/v0/materials.py
  src/ansys/geometry/core/_grpc/_services/v1/bodies.py
  src/ansys/geometry/core/_grpc/_services/v1/materials.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/design.py
  tests/integration/test_design.py
  tests/integration/test_material.py
Labels: enhancement

#2200 docs: update ``html_context`` with PyAnsys tags
  doc/changelog.d/2200.documentation.md
  doc/source/conf.py
Labels: documentation

#2185 ci: re-enable 25.1 testing
  .github/workflows/backwards_compatibility.yml
  doc/changelog.d/2185.maintenance.md
Labels: maintenance
