Repository ansys/pyansys-geometry, pull requests merged in 2025-07, with the labels that each got.

#2068 feat: add components to NS
  doc/changelog.d/2068.added.md
  src/ansys/geometry/core/_grpc/_services/v0/named_selection.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/designer/geometry_commands.py
  src/ansys/geometry/core/designer/selection.py
  src/ansys/geometry/core/misc/auxiliary.py
  tests/integration/test_design.py
  tests/integration/test_geometry_commands.py
Labels: enhancement

#2083 feat: vertex references
  doc/changelog.d/2083.added.md
  src/ansys/geometry/core/_grpc/_services/base/bodies.py
  src/ansys/geometry/core/_grpc/_services/base/edges.py
  src/ansys/geometry/core/_grpc/_services/base/faces.py
  src/ansys/geometry/core/_grpc/_services/v0/bodies.py
  src/ansys/geometry/core/_grpc/_services/v0/edges.py
  src/ansys/geometry/core/_grpc/_services/v0/faces.py
  src/ansys/geometry/core/_grpc/_services/v0/named_selection.py
  src/ansys/geometry/core/_grpc/_services/v1/bodies.py
  src/ansys/geometry/core/_grpc/_services/v1/edges.py
  src/ansys/geometry/core/_grpc/_services/v1/faces.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/designer/edge.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/designer/selection.py
  src/ansys/geometry/core/designer/vertex.py
  src/ansys/geometry/core/math/point.py
  src/ansys/geometry/core/misc/auxiliary.py
  tests/integration/files/NamedSelectionImport.scdocx
  tests/integration/test_design.py
  tests/integration/test_design_import.py
  tests/integration/test_edges.py
Labels: enhancement

#2096 test: add more code coverage
  doc/changelog.d/2096.test.md
  tests/integration/test_design.py
  tests/test_conversions.py
  tests/test_primitives.py
Labels: testing

#2103 test: expand coverage and add bug fix test
  doc/changelog.d/2103.test.md
  tests/integration/files/bottom_mounted_imp.dsco
  tests/integration/files/rci_std.x_t
  tests/integration/files/reactorWNS.scdocx
  tests/integration/test_design_export.py
  tests/integration/test_design_import.py
  tests/test_laucher.py
Labels: testing

#2107 test: bug fix test and round trip open file tests
  doc/changelog.d/2107.test.md
  tests/integration/test_design_export.py
  tests/test_shapes.py
Labels: testing

#2114 ci: using proper artifactory location
  .github/workflows/ci_cd.yml
  doc/changelog.d/2114.maintenance.md
  docker/build_docker_windows.py
Labels: maintenance

#2109 test: internalize external documents
  doc/changelog.d/2109.test.md
  tests/integration/files/external_file_scdocx/Component1.scdocx
  tests/integration/files/external_file_scdocx/Component2.scdocx
  tests/integration/files/external_file_scdocx/Component3.scdocx
  tests/integration/files/external_file_scdocx/Component4.scdocx
  tests/integration/files/external_file_scdocx/Component5.scdocx
  tests/integration/files/external_file_scdocx/Design1.scdocx
  tests/integration/test_design_import.py
  tests/test_connection.py
  tests/test_laucher.py
Labels: testing

#2119 chore: bump minor version in main
  doc/changelog.d/2119.maintenance.md
  doc/source/assets.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: documentation, maintenance

#2104 feat: nurbs sketching and surface support
  doc/changelog.d/2104.added.md
  src/ansys/geometry/core/_grpc/_services/v0/conversions.py
  src/ansys/geometry/core/shapes/curves/nurbs.py
  src/ansys/geometry/core/sketch/edge.py
  src/ansys/geometry/core/sketch/nurbs.py
  src/ansys/geometry/core/sketch/sketch.py
  tests/integration/test_design.py
  tests/integration/test_plotter.py
  tests/test_sketch.py
Labels: enhancement, testing

#2129 feat: component operations - make_independent() and import_named_selections()
  doc/changelog.d/2129.added.md
  src/ansys/geometry/core/designer/component.py
  tests/integration/files/cars.scdocx
  tests/integration/files/import_component_groups.scdocx
  tests/integration/test_design.py
Labels: enhancement

#2137 fix: workflow 2b nurbs fixes
  doc/changelog.d/2137.fixed.md
  src/ansys/geometry/core/shapes/curves/nurbs.py
Labels: bug

#2138 test: import named selection tests
  doc/changelog.d/2138.test.md
  tests/_incompatible_tests.yml
  tests/integration/test_design_import.py
Labels: testing
