Repository ansys/pyansys-geometry, pull requests merged in 2025-02, with the labels that each got.

#1714 fix: support body mirror on linux
  doc/changelog.d/1714.fixed.md
  tests/integration/test_design.py
Labels: bug

#1715 fix: use sketch plane for imprint/project curves
  doc/changelog.d/1715.fixed.md
  src/ansys/geometry/core/designer/body.py
Labels: bug

#1716 feat: launch core service from envar
  doc/changelog.d/1716.added.md
  doc/source/getting_started/local/index.rst
  src/ansys/geometry/core/connection/product_instance.py
Labels: enhancement

#1730 docs: update CONTRIBUTING.md
  CONTRIBUTING.md
  doc/changelog.d/1730.documentation.md
Labels: documentation

#1711 fix: re enable fmd tests
  doc/changelog.d/1711.fixed.md
  tests/integration/test_design.py
  tests/integration/test_design_export.py
Labels: bug

#1727 test: set body name
  doc/changelog.d/1727.test.md
  tests/integration/test_design.py
Labels: enhancement

#1739 ci: keep simba-plugin-geometry tag
  .github/workflows/docker_cleanup.yml
  doc/changelog.d/1739.maintenance.md
Labels: maintenance

#1725 fix: revert boolean ops logic and hold-off on commands-based implementation (temporarily)
  doc/changelog.d/1725.fixed.md
  src/ansys/geometry/core/designer/body.py
  tests/integration/test_design.py
  tests/integration/test_issues.py
Labels: bug

#1740 feat: conservative approach to single design per modeler
  doc/changelog.d/1740.added.md
  src/ansys/geometry/core/__init__.py
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/misc/checks.py
  src/ansys/geometry/core/modeler.py
  tests/integration/conftest.py
  tests/integration/test_design.py
  tests/integration/test_design_import.py
Labels: enhancement

#1712 feat: Implementation of inspect & repair geometry
  doc/changelog.d/1712.added.md
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/tools/check_geometry.py
  src/ansys/geometry/core/tools/repair_tools.py
  tests/integration/files/InspectAndRepair01.scdocx
  tests/integration/test_repair_tools.py
Labels: enhancement

#1732 feat: add face color, round info, bring measure tools to linux
  doc/changelog.d/1732.added.md
  src/ansys/geometry/core/connection/conversions.py
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/design.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/designer/geometry_commands.py
  src/ansys/geometry/core/math/bbox.py
  src/ansys/geometry/core/math/misc.py
  src/ansys/geometry/core/misc/auxiliary.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/tools/measurement_tools.py
  tests/integration/test_design.py
  tests/integration/test_geometry_commands.py
  tests/integration/test_measurement_tools.py
  tests/integration/test_plotter.py
  tests/test_math.py
Labels: enhancement, testing

#1741 feat: export glb
  doc/changelog.d/1741.added.md
  pyproject.toml
  src/ansys/geometry/core/plotting/plotter.py
  tests/integration/test_plotter.py
Labels: enhancement, maintenance

#1750 chore: enhancements to GLB export and object ``plot()`` methods
  doc/changelog.d/1750.maintenance.md
  pyproject.toml
  src/ansys/geometry/core/designer/body.py
  src/ansys/geometry/core/designer/component.py
  src/ansys/geometry/core/plotting/plotter.py
  tests/integration/test_plotter.py
Labels: maintenance

#1754 chore: clean up deprecation warning for trapezoid class and add more info on deprecation
  doc/changelog.d/1754.maintenance.md
  src/ansys/geometry/core/connection/client.py
  src/ansys/geometry/core/connection/launcher.py
  src/ansys/geometry/core/designer/face.py
  src/ansys/geometry/core/misc/checks.py
  src/ansys/geometry/core/modeler.py
  src/ansys/geometry/core/sketch/trapezoid.py
  tests/test_misc_checks.py
Labels: testing

#1758 fix: Linux Core Service docker file was missing a dependency
  doc/changelog.d/1758.fixed.md
  docker/linux/coreservice/Dockerfile
Labels: bug

#1752 chore: bump dev version to 0.10.dev0
  SECURITY.md
  doc/changelog.d/1752.maintenance.md
  doc/source/assets.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: maintenance

#1776 fix: typo in labeler.yml file
  .github/labeler.yml
  doc/changelog.d/1776.fixed.md
Labels: bug, maintenance

#1783 build: temporary workaround for using trusted publisher approach
  doc/changelog.d/1783.dependencies.md
  pyproject.toml
Labels: bug, maintenance

#1785 fix: docker build process failing on helper script
  doc/changelog.d/1785.fixed.md
  docker/build_docker_windows.py
Labels: enhancement
